<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-file-alt"></i>
                            {{ $t('report_profit_loss') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang" :date-disabled-fn="fromDateDisabled"></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang" :date-disabled-fn="toDateDisabled"></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getLists()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <table class="table table-borderless table-outline">
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-bold text-uppercase">{{ $t('operating_revenues') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in lists.pendapatan.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td class="text-right">{{ item.default_position == 2 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td class="text-right">{{ item.default_position == 1 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('total_operating_revenues') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">{{ (lists.pendapatan.total) }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-borderless table-outline">
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-bold text-uppercase">{{ $t('operating_expenses') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in lists.beban.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td class="text-right">{{ item.default_position == 2 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td class="text-right">{{ item.default_position == 1 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('total_operating_expenses') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">({{ (lists.beban.total) }})</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table">
                                    <tr>
                                        <td class="text-bold text-uppercase">
                                            {{ this.hasil_usaha.type == 'credit' ?  $t('operating_profit'): $t('operating_expenses') }}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{ this.hasil_usaha.nominal }}</td>
                                    </tr>
                                </table>

                                <table class="table table-borderless table-outline">
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-bold text-uppercase">{{ $t('non_business_income') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in lists.pendapatan_luar.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.default_position == 2 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td>{{ item.default_position == 1 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('total_non_business_income') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ (lists.pendapatan_luar.total) }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-borderless table-outline">
                                    <tbody>
                                        <tr>
                                            <td scope="row" class="text-bold text-uppercase">{{ $t('out_of_business_expenses') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in lists.beban_luar.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.default_position == 2 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td>{{ item.default_position == 1 ? Number(item.balance).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '' }}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('total_out_of_business_expenses') }}</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ (lists.beban_luar.total) }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table">
                                    <tr>
                                        <td class="text-bold text-uppercase">
                                            {{ this.hasil_diluar.type == 'credit' ?  $t('profit_outside_the_business'): $t('loss_outside_the_business') }}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{ this.hasil_diluar.nominal }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold text-uppercase">
                                            {{ $t('net_profit_before_tax') }}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right">{{ this.laba_usaha }}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormGroup, BFormInput, BFormDatepicker, BTable, BTableSimple, BTbody, BTh ,BTr, BTd, BFormRadioGroup } from 'bootstrap-vue';

export default {
    props: ['lang'],
    components: {
        BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup
    },
    data() {
        return {
            start_date: moment().startOf('month').format('YYYY-MM-DD'),
            to_date: moment().endOf('month').format('YYYY-MM-DD'),
            lists: {
                pendapatan: {
                    lists:[],
                    total: 0
                },
                beban: {
                    lists:[],
                    total: 0
                },
                pendapatan_luar: {
                    lists:[],
                    total: 0
                },
                beban_luar: {
                    lists:[],
                    total: 0
                }
            },
            hasil_usaha:{
                type: '',
                nominal: '',
                total: 0
            },
            hasil_diluar: {
                type: '',
                nominal: '',
                total: 0
            },
            laba_usaha : 0,
            total_lists: 0,
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getLists()
    },
    methods: {
        async getLists(){
            const params = {
                start_date: this.start_date,
                to_date: this.to_date
            }
            const request = await axios.get('/report/profit-and-loss/lists', { params })
            if(await request.data){
                console.log('REQUEST',request.data)
                this.lists.pendapatan      = request.data.pendapatan;
                this.lists.beban           = request.data.beban_usaha;
                this.lists.pendapatan_luar = request.data.pendapatan_diluar_usaha;
                this.lists.beban_luar      = request.data.beban_diluar_usaha;

                // usaha
                var nominal_hasil_usaha = this.lists.pendapatan.total_raw - this.lists.beban.total_raw
                this.hasil_usaha.total  = nominal_hasil_usaha
                this.hasil_usaha.nominal = Number(nominal_hasil_usaha).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.hasil_usaha.type    = 'credit';
                if(this.lists.pendapatan.total_raw < this.lists.beban.total_raw){
                    this.hasil_usaha.nominal = '('+this.nominal_hasil_usaha+')'
                    this.hasil_usaha.type    = 'debit';
                }

                // diluar usaha
                var pendapatan = Number(this.lists.pendapatan_luar.total_raw);
                var beban      = Number(this.lists.beban_luar.total_raw);
                var hasil = Math.abs(pendapatan - beban);
                var type = 'debit'
                if(pendapatan > beban){
                    type = 'credit'
                }
                hasil = hasil.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                this.hasil_diluar = {
                    type,
                    nominal: hasil,
                    total: Math.abs(pendapatan - beban)
                }

                // laba bersih sebelum pajak
                var hasil_akhir = 0;
                if(this.hasil_usaha.type != this.hasil_diluar.type){
                    hasil_akhir = Math.abs(this.hasil_usaha.total - this.hasil_diluar.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                }else{
                    hasil_akhir = Math.abs(this.hasil_usaha.total + this.hasil_diluar.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                }


                this.laba_usaha = hasil_akhir

            }
        },
        fromDateDisabled(ymd, date){
            const day = date.getDate();
            return day > 1
        },
        toDateDisabled(ymd, date){
            const day = date.getDate();
            return day < moment(ymd, "YYYY-MM-DD").daysInMonth()
        },
    },
    computed: {
        printURL(){
            var params = $.param({
                start_date  : this.start_date,
                to_date     : this.to_date,
            })
            return `/report/profit-and-loss/print?`+params
        },
    }
}
</script>
