<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('selling') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang" reset-button></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang" reset-button></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Customer</label>
                                    <input type="text" v-model="customer" id="customer_input" placeholder="customer Name" @keypress.enter="getItems()" class="form-control" autocomplete="off">
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>

                            <div class="mt-3">
                                <b-table :items="items" :fields="fields" hover :sticky-header="true">
                                    <template v-slot:custom-foot>
                                        <b-tr>
                                            <b-td></b-td>
                                            <b-td></b-td>
                                            <b-td></b-td>
                                            <b-td>{{ tfoot.total }}</b-td>
                                        </b-tr>
                                    </template>
                                </b-table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormDatepicker, BTable, BTr, BTd } from 'bootstrap-vue';
export default {
    props: ['lang'],
    components: {
        BFormDatepicker, BTable, BTr, BTd
    },
    data() {
        return {
            invoice_date: '',
            start_date: '',
            to_date: '',
            customer: '',
            items: [
                {  }
            ],
            tfoot: {
                total     : 0,
            },
            fields: [
                'no_bc',
                'date_bc',
                'customer',
                'total'

            ]
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getItems();
    },
    methods: {
        async getItems(){
            var params = {
                start_date  : this.start_date,
                to_date     : this.to_date,
                customer    : this.customer,
            };
            var items = await axios.get('/report/selling/booking-confirmation/table', { params })
            var listItems = await items.data;
            console.log(listItems);

            this.items = [];
            this.fields = [
                {no_bc: {key  : 'no_bc', sortable       : true}},
                {date      : {label: this.$t('date')+' BC', sortable    : true}},
                {customer  : {label: 'Customer', sortable         : true}},
                {total  : {label:  'Total', sortable: true}},
            ]
            this.tfoot.total = listItems.reduce((sum, item) => sum+item.total, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
            listItems.forEach(el => {

                this.items.push({
                    no_bc      : el.booking_ref+'-'+el.serial,
                    date       : moment(el.created_at, 'YYYY-MM-DD hh:mm:ss').format('DD-MM-YYYY'),
                    customer   : el.company+' '+el.first_name,
                    total      : Number(el.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),

                })

            });

        },
    },
    computed: {
        printURL(){
            var params = $.param({
                invoice_date: this.invoice_date,
                start_date  : this.start_date,
                to_date     : this.to_date,
                customer    : this.customer,
            })
            return '/report/selling/booking-confirmation/print?'+params;
        }
    },
}
</script>
<style lang="scss">
    .b-table-sticky-header{
        max-height: 500px;
    }
</style>
