<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('based_invoice') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" locale="id" reset-button></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" locale="id" reset-button></b-form-datepicker>

                                </div>
                                <div class="col-lg-3">
                                    <label for="">Customer</label>
                                    <input type="text" v-model="customer" id="customer_input" placeholder="customer Name" class="form-control" @keypress.enter="getItems()" autocomplete="off">
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>
                                <div style="width: 100%;" class="mt-3">
                                    <b-table :items="items" :fields="fields" hover :sticky-header="true">
                                        <template v-slot:custom-foot>
                                            <b-tr>
                                                <b-td></b-td>
                                                <b-td></b-td>
                                                <b-td></b-td>
                                                <b-td></b-td>
                                                <b-td>{{ tfoot.total }}</b-td>
                                                <b-td>{{ tfoot.tax }}</b-td>
                                                <b-td>{{ tfoot.total_bill }}</b-td>
                                                <b-td>{{ tfoot.paidAmount }}</b-td>
                                                <b-td>{{ tfoot.balance }}</b-td>
                                            </b-tr>
                                        </template>
                                    </b-table>
                                </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormDatepicker, BTable, BTr, BTd } from 'bootstrap-vue';
export default {
    props: ['lang'],
    components: {
        BFormDatepicker, BTable, BTr, BTd
    },
    data() {
        return {
            start_date: '',
            to_date: '',
            customer: '',
            items: [
                {  }
            ],
            tfoot: {
                total     : 0,
                tax       : 0,
                total_bill: 0,
                paidAmount: 0,
                balance   : 0
            },
            fields: [
                'no_invoice',
                'date',
                'customer',
                'due_date',
                'total',
                // 'tax',
                'nominal_tax',
                'total_bill',
                'paidAmount',
                'balance',
                'description'
            ]
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getItems();
    },
    methods: {
        async getItems(){
            var params = {
                start_date  : this.start_date,
                to_date     : this.to_date,
                customer    : this.customer,
            };
            var items = await axios.get('/report/selling/invoice/table', { params })
            var listItems = await items.data;
            console.log(listItems);

            this.items = [];
            this.fields = [
                {no_invoice: {key  : 'no_invoice', sortable       : true}},
                {date      : {label: this.$t('date'), sortable    : true}},
                {customer  : {label: 'customer', sortable         : true}},
                {due_date  : {label: this.$t('due_date'), sortable: true}},
                {total     : {label: 'total', sortable            : true}},
                // {tax: {label: this.$t('tax'), sortable: true}},
                {nominal_tax: {label: 'Nominal '+this.$t('tax'), sortable: true}},
                {total_bill : {label: this.$t('total_bill'), sortable: true}},
                {paidAmount : {label: this.$t('paidAmount'), sortable: true}},
                {balance    : {label: this.$t('balance'), sortable: true}},
                {keterangan : {label: this.$t('keterangan'), sortable: true}}
            ]
            listItems.forEach(el => {
                var total_bill = el => {
                    let tax = Number(el.subtotal) * (el.tax_amount/100);
                    let total_bill = el.subtotal+tax;
                    return total_bill.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                }
                var nominal_tax = el => {
                    let tax = Number(el.subtotal) * (el.tax_amount/100);
                    return tax.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                }
                var total_balance = el => {
                    let subtotal = Number(el.subtotal);
                    let tax      = Number(subtotal*(el.tax_amount/100));
                    var result   = subtotal + tax;

                    let balance = result - Number(el.paid);
                    balance = Math.abs(balance);
                    return balance.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                }
                this.items.push({
                    no_invoice : 'INV'+el.serial,
                    date       : el.invoice_date,
                    customer   : el.company+' '+el.first_name,
                    due_date   : moment(el.due_date, 'YYYY-MM-DD').format('DD-MM-YYYY'),
                    total      : Number(el.subtotal).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    // tax        : el.description+'-'+el.tax_amount+'%',
                    nominal_tax: nominal_tax(el),
                    total_bill : total_bill(el),
                    paidAmount : Number(el.paid).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    balance    : total_balance(el),
                    keterangan : Number(el.payment) == 2 ? 'Paid':'Unpaid'
                })

            });
            this.tfoot.total = listItems.reduce((sum, item) => sum + item.subtotal, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
            this.tfoot.tax = listItems.reduce((sum, item) =>{
                let tax = Number(item.subtotal) * (item.tax_amount/100);
                return sum+tax;
            }, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
            this.tfoot.total_bill = listItems.reduce((sum, item) =>{
                let tax = Number(item.subtotal) * (item.tax_amount/100);
                let total_bill = item.subtotal+tax;
                return sum+total_bill;
            }, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
            this.tfoot.paidAmount = listItems.reduce((sum, item) => sum + item.paid, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
            this.tfoot.balance = listItems.reduce((sum, item) => {
                let subtotal = Number(item.subtotal);
                let tax      = Number(subtotal*(item.tax_amount/100));
                var result   = subtotal + tax;

                let balance = result - Number(item.paid);
                balance = Math.abs(balance);
                return sum + balance;
            }, 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
    },
    computed: {
        printURL(){
            var params = $.param({
                start_date  : this.start_date,
                to_date     : this.to_date,
                customer    : this.customer,
            })
            return '/report/selling/invoice/print?'+params;
        }
    },
}
</script>
<style lang="scss">
    .b-table-sticky-header{
        max-height: 500px;
    }
</style>
