<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('based_payable') }}
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang"></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang"></b-form-datepicker>

                                </div>
                                <div class="col-lg-3">
                                    <label for="">supplier</label>
                                    <input type="text" v-model="supplier" id="supplier_input" placeholder="supplier Name" @keypress.enter="getItems()" class="form-control" autocomplete="off">
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>
                            <div style="width: 100%;" class="mt-3">
                                <b-table :items="items" :fields="fields" hover :sticky-header="true">
                                    <template v-slot:custom-foot>
                                        <b-tr>
                                            <b-td></b-td>
                                            <b-td></b-td>
                                            <b-td></b-td>
                                            <b-td>{{ tfoot.today.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is1_15.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is16_30.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is31_45.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is46_60.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is61_90.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                            <b-td>{{ tfoot.is90_above.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</b-td>
                                        </b-tr>
                                    </template>
                                </b-table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormDatepicker, BTable, BTr, BTd } from 'bootstrap-vue';
export default {
    props: ['lang'],
    components: {
        BFormDatepicker, BTable, BTr, BTd
    },
    data() {
        return {
            invoice_date: '',
            start_date  : '',
            to_date     : '',
            supplier    : '',
            items: [
                {  }
            ],
            tfoot: {
                today     : 0,
                is1_15    : 0,
                is16_30   : 0,
                is31_45   : 0,
                is46_60   : 0,
                is61_90   : 0,
                is90_above:  0,
            },
            fields: [
                'supplier',
                'no_invoice',
                'date',
                'today',
                '1_15_day',
                '16_30_day',
                '31_45_day',
                '46_60_day',
                '61_90_day',
                '90_above',
            ]
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.to_date    = moment().format('YYYY-MM-DD');
        this.start_date = moment().subtract(1, 'month').format('YYYY-MM-DD');
        this.getItems();
    },
    methods: {
        async getItems(){
            var params = {
                invoice_date: this.invoice_date,
                start_date  : this.start_date,
                to_date     : this.to_date,
                supplier    : this.supplier,
            };
            var items = await axios.get('/report/purchasing/age-of-payable/table', { params })
            var listItems = await items.data;
            console.log(listItems);

            this.items = [];

            this.fields = [
                {supplier   : {label: 'supplier', sortable          : true}},
                {no_invoice : {key  : 'no_invoice', sortable        : true}},
                {date       : {label: this.$t('date'), sortable     : true}},
                {today      : {label: this.$t('today'), sortable    : true}},
                {'1_15_day' : {label: this.$t('1_15_day'), sortable : true}},
                {'16_30_day': {label: this.$t('16_30_day'), sortable: true}},
                {'31_45_day': {label: this.$t('31_45_day'), sortable: true}},
                {'46_60_day': {label: this.$t('46_60_day'), sortable: true}},
                {'61_90_day': {label: this.$t('61_90_day'), sortable    : true}},
                {'90_above' : {label: this.$t('90_above'), sortable    : true}},
            ]
            var isToday = el => {
                var today = moment()
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                return today.diff(thatDay, 'days') == 0 ? (el.total_invoice):'';
            }
            var is1To15 = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 1 && diff <= 15) ? (el.total_invoice):'';
            }
            var is16To30 = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 16 && diff <= 30) ? (el.total_invoice):'';
            }
            var is31To45 = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 31 && diff <= 45) ? (el.total_invoice):'';
            }
            var is46To60 = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 46 && diff <= 60) ? (el.total_invoice):'';
            }
            var is61To90 = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 61 && diff <= 90) ? (el.total_invoice):'';
            }
            var is90About = el => {
                var today = moment(this.to_date, 'YYYY-MM-DD')
                var thatDay = moment(el.invoice_date, 'YYYY-MM-DD');
                var diff = today.diff(thatDay, 'days');
                return (diff >= 90) ? (el.total_invoice):'';
            }


            listItems.forEach(el => {
                this.items.push({
                    supplier   : el.supplier.company+' '+el.supplier.first_name,
                    no_invoice : 'INV'+el.serial,
                    date       : el.invoice_date,
                    today      : isToday(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '1_15_day' : is1To15(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '16_30_day': is16To30(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '31_45_day': is31To45(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '46_60_day': is46To60(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '61_90_day': is61To90(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                    '90_above' : is90About(el).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                })

                this.tfoot.today      += Number(isToday(el));
                this.tfoot.is1_15     += Number(is1To15(el));
                this.tfoot.is16_30    += Number(is16To30(el));
                this.tfoot.is31_45    += Number(is31To45(el));
                this.tfoot.is46_60    += Number(is46To60(el));
                this.tfoot.is61_90    += Number(is61To90(el));
                this.tfoot.is90_above += Number(is90About(el));
            });

        },
    },
    computed: {
        printURL(){
            var params = $.param({
                start_date  : this.start_date,
                to_date     : this.to_date,
                supplier    : this.supplier,
            })
            return '/report/purchasing/age-of-payable/print?'+params;
        }
    },
}
</script>
<style lang="scss">
    .b-table-sticky-header{
        max-height: 500px;
    }
</style>
