<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('based_po') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang" reset-button></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang" reset-button></b-form-datepicker>

                                </div>
                                <div class="col-lg-3">
                                    <label for="">Supplier</label>
                                    <input type="text" v-model="supplier" placeholder="Supplier Name" class="form-control" @keypress.enter="getItems()" autocomplete="off">
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>
                                <div style="width: 100%;" class="mt-3">
                                    <b-table :items="items" :fields="fields" hover :sticky-header="true">
                                        <template v-slot:custom-foot>
                                            <b-tr>
                                                <b-td></b-td>
                                                <b-td></b-td>
                                                <b-td></b-td>
                                                <b-td>{{ tfoot.total }}</b-td>
                                            </b-tr>
                                        </template>
                                    </b-table>
                                </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormDatepicker, BTable, BTr, BTd } from 'bootstrap-vue';
export default {
    props: ['lang'],
    components: {
        BFormDatepicker, BTable, BTr, BTd
    },
    data() {
        return {
            po_date   : '',
            start_date: '',
            to_date   : '',
            supplier  : '',
            items: [
                {  }
            ],
            tfoot: {
                total     : 0,
            },
            fields: [
                'date',
                'supplier',
                'total',
            ]
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getItems();
    },
    methods: {
        async getItems(){
            var params = {
                start_date  : this.start_date,
                to_date     : this.to_date,
                supplier    : this.supplier,
            };
            var items = await axios.get('/report/purchasing/purchase-order/table', { params })
            var listItems = await items.data;
            console.log(listItems);

            this.items = [];
            this.fields = [
                {no_po     : {key  : 'no_po', sortable        : true}},
                {date      : {label: this.$t('date'), sortable: true}},
                {supplier  : {label: 'Supplier', sortable     : true}},
                {total     : {label: 'Total', sortable        : true}},
            ]
            listItems.forEach(el => {
                this.items.push({
                    no_po   : 'PO'+el.serial,
                    date    : moment(el.po_date, 'YYYY-MM-DD').format('DD-MM-YYYY'),
                    supplier: el.company+' '+el.first_name,
                    total   : Number(el.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                })

            });
            this.tfoot.total = listItems.reduce((sum, item) => sum + Number(item.total), 0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
    },
    computed: {
        printURL(){
            var params = $.param({
                start_date  : this.start_date,
                to_date     : this.to_date,
                supplier    : this.supplier,
            })
            return '/report/purchasing/purchase-order/print?'+params;
        }
    },
}
</script>
<style lang="scss">
    .b-table-sticky-header{
        max-height: 500px;
    }
</style>
