<template>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                {{ $t('calculate_depreciation') }}
            </div>
            <div class="card-body">
                <b-form @submit.prevent="handleSubmit()">
                    <div class="row">
                        <div class="col-lg-5">
                            <b-form-group
                                    label-cols-sm="2"
                                    :label="$t('from')+':'"
                                    label-align-sm="right"
                                    label-for="fromInput"
                                >
                                <!-- <b-form-datepicker dropright :locale="lang" readonly :date-disabled-fn="fromDateDisabled" id="fromInput" v-model="from" class="col-lg-10"></b-form-datepicker> -->
                                <b-input-group>
                                    <date-picker v-model="from" :config="datepicker_from.options" disabled class="input-field" />
                                    <b-input-group-append>
                                        <b-input-group-text><i class="fas fa-calendar"></i></b-input-group-text>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </div>
                        <div class="col-lg-5">

                            <b-form-group
                                label-cols-sm="2"
                                :label="$t('to_date')+':'"
                                label-align-sm="right"
                                label-for="toInput"
                                invalid-feedback="This field is required"
                                :state="validateState('to')"
                            >
                                <!-- <b-form-datepicker dropright :hide-header="true" @input="getDepreciation()" :locale="lang"  :date-disabled-fn="toDateDisabled" :state="validateState('to')" id="toInput" v-model="to" class="col-lg-10"></b-form-datepicker> -->
                                <b-input-group>
                                    <date-picker v-model="to" ref="toDate" :config="datepicker_to.options" class="input-field" />
                                    <b-input-group-append>
                                        <b-input-group-text><i class="fas fa-calendar"></i></b-input-group-text>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-success" @click="getDepreciation()">{{ $t('show') }}</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <b-table :fields="table.fields" :items="table.items"  :tbody-tr-class="rowClass"></b-table>
                    </div>
                    <div class="col-lg-12">
                        <b-button type="submit" variant="success">
                            <i class="fas fa-check"></i>
                            {{ $t('save') }}
                        </b-button>
                        <b-button href="/accounting/asset" variant="secondary">
                            <i class="fas fa-ban"></i>
                            {{$t('return')}}
                        </b-button>
                    </div>
                </b-form>
            </div>
        </div>
    </div>
</template>
<script>
import { BForm, BFormGroup, BFormInput, BFormDatepicker, BTable, BButton, BInputGroup, BInputGroupAppend, BInputGroupText } from 'bootstrap-vue';
import { required, minValue } from 'vuelidate/lib/validators';
import datePicker from 'vue-bootstrap-datetimepicker';

export default {
    props: ['lang'],
    components: {
        BForm, BFormGroup, BFormInput, BFormDatepicker, BTable, BButton, datePicker, BInputGroup, BInputGroupAppend, BInputGroupText
    },
    validations(){
        return {
            to: {required}
        }
    },
    data() {
        return {
            from: '',
            to: '',
            table: {
                fields: ['asset_name', 'depreciation_value'],
                items: []
            },
            forms: [ ],
            datepicker_from: {
                data: new Date(),
                options: {
                    format: 'MM-YYYY',
                }
            },
            datepicker_to: {
                data: new Date(),
                options: {
                    format: 'MM-YYYY',
                    useCurrent: true,
                    // minDate: moment().subtract(1, 'months')
                }
            }
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        this.getLastDepreciation()
        this.getDepreciation()
    },
    methods: {
        validateState(name) {
            const { $dirty, $error } = this.$v[name];
            return $dirty ? !$error : null;
        },
        async handleSubmit(){
            const submit = await axios.post('/accounting/asset/calculate-depreciation/store', { depreciation: this.forms });
            if(await submit.data){
                Swal.fire(this.$t('success'), this.$t('dataSaves'),'success')
                location = '/accounting/asset';
            }else{
                Swal.fire(this.$t('fail'), '','error')

            }
        },
        async getLastDepreciation(){
            const last = await axios.get('/accounting/asset/last-depreciation')
            if(await last.data){
                console.log('Last Depreciation', last.data);

                if(last.data.from_date){
                    if(last.data.already_depreciated){
                        var from = moment(last.data.from_date).add(1, 'days').format('MM-YYYY');
                        this.from = from
                        from = moment(last.data.from_date).format('YYYY-MM-DD')
                        var tgl15 = moment(last.data.from_date).startOf('month').add(14, 'days').format('YYYY-MM-DD');

                        if(from <= tgl15){
                            console.log('1');

                            this.$set(this.datepicker_to.options, 'minDate', moment(last.data.from_date).subtract(1, 'month'))
                        }else{
                            this.$set(this.datepicker_to.options, 'minDate', moment(last.data.from_date).endOf('month').add(1, 'month'))
                        }

                    }else {
                        var from = moment(last.data.from_date).format('MM-YYYY')
                        this.from = from
                        this.$set(this.datepicker_to.options, 'minDate', moment(last.data.from_date).add(1, 'month'))
                        this.$set(this, 'to', moment(last.data.from_date).add(1, 'month').toString())
                    }


                }
            }
        },

        async getDepreciation(){
            const lists = await axios.get('/accounting/asset/calculate-depreciation/table');
            if(await lists.data){
                const listData = await lists.data.lists;
                console.log('LIST_DATA ', listData);
                this.table.fields = [
                    {asset_name: {label: this.$t('asset_name'), sortable: true}},
                    {depreciation_value: {label: this.$t('depreciation_value'), sortable: true}},
                ]
                var items = [];
                var forms = [];
                var countTotal = dep => {
                    var deprePerYear = (dep.price_acquistion - dep.residue)*(dep.depreciation_rates/100);
                    var from = moment(this.from, 'MM-YYYY').subtract(1, 'month').endOf('month').add(1, 'days');
                    var to   = moment(this.to, 'MM-YYYY').endOf('month')
                    console.log([from ,to]);

                    var diff = to.diff(from, 'months') + 1
                    var depreVal = deprePerYear*(diff/12);
                    return depreVal||0;
                }
                listData.forEach(el => {
                    if(el.fixed_asset.length){
                        items.push({
                            asset_name: el.serial+' - '+el.name,
                            depreciation_value: _.sumBy(el.fixed_asset, dep => countTotal(dep)).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),//this.countDepreciation(el.price_acquistion, el.depreciation_rates)
                            group: 'parent'

                        })

                        el.fixed_asset.forEach(element => {
                            // var depreciation_value = this.countDepreciation(element.price_acquistion, element.depreciation_rates, element.residue)
                            var depreciation_value = countTotal(element)
                            items.push({
                                asset_name: element.serial+' - '+element.name,
                                depreciation_value: depreciation_value.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                                group: 'child'
                            })
                            forms.push({
                                asset_id : element.id,
                                depreciation_value,
                                from_date: this.from,
                                to_date  : this.to
                            })
                        });
                        this.forms = forms;
                    }
                });
                this.table.items = items;

            }

        },
        fromDateDisabled(ymd, date){
            const day = date.getDate();
            return day > 1
        },
        toDateDisabled(ymd, date){
            const day = date.getDate();
            return day < moment(ymd, "YYYY-MM-DD").daysInMonth()
        },
        countDepreciation(depreciation_price, depreciation_rates, residue = 0){

        },
        rowClass(item, type){
            if (!item || type !== 'row') return

            if (item.group === 'parent') {
                return 'text-bold'
            }
            if (item.group === 'child') {
                return 'table-secondary tr-child'
            }
        }
    },
}
</script>
<style lang="scss">
    .tr-child td{
        padding-left: 50px;
    }
</style>
