<template>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                {{ $t('add_asset') }}
            </div>
            <div class="card-body">
                <b-form @submit.prevent="handleSubmit()" class="row">
                    <div class="col-lg-6">
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('asset_code')+':'"
                            label-align-sm="right"
                            label-for="assetCode"
                            :description="$t('asset_code_info')"
                        >
                            <b-form-input id="assetCode" v-model="asset_code" class="col-lg-6"></b-form-input>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('asset_name')+':'"
                            label-align-sm="right"
                            label-for="assetName"
                            invalid-feedback="This field is required"
                            :state="validateState('asset_name')"
                        >
                            <b-form-input :state="validateState('asset_name')" id="assetName" v-model="asset_name" class="col-lg-10"></b-form-input>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('asset_type')+':'"
                            label-align-sm="right"
                            label-for="assetType"
                            invalid-feedback="This field is required"
                            :state="validateState('asset_type')"
                        >
                            <b-form-select :state="validateState('asset_type')" @change="handleChangeAssetType()" id="assetType" v-model="asset_type.value" :options="asset_type.options" class="col-lg-10"></b-form-select>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('clasification')+':'"
                            label-align-sm="right"
                            label-for="clasificationInput"
                        >
                            <b-form-select id="clasificationInput" v-model="clasification.value" :options="clasification.options" class="col-lg-10"></b-form-select>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('date_acquistion')+':'"
                            label-align-sm="right"
                            label-for="dateAcquistion"
                            invalid-feedback="This field is required"
                            :state="validateState('date_acquistion')"
                        >
                            <b-form-datepicker dropright :locale="lang" :state="validateState('date_acquistion')" id="dateAcquistion" direction="bottom" v-model="date_acquistion" class="col-lg-10"></b-form-datepicker>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('price_acquistion')+':'"
                            label-align-sm="right"
                            label-for="priceAcquistion"
                            invalid-feedback="Field must be more than 0"
                            :state="validateState('price_acquistion')"
                        >
                            <v-currency v-model="price_acquistion" :state="validateState('price_acquistion')" class="form-control col-lg-10" id="priceAcquistion"/>
                            <!-- <b-form-input :state="validateState('price_acquistion')"  id="priceAcquistion" type="number" v-model="price_acquistion" class="col-lg-10"></b-form-input> -->
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('serial_number')+':'"
                            label-align-sm="right"
                            label-for="serialInput"
                        >
                            <b-form-input id="serialInput" type="text" v-model="serial_number" class="col-lg-10"></b-form-input>
                        </b-form-group>
                        <h4>{{ $t('book_value') }}</h4>
                        <hr>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('depreciation_start_date')+':'"
                            label-align-sm="right"
                            label-for="depreciation_start_date"
                            invalid-feedback="This field is required"
                            :state="validateState('depreciation_start_date')"
                        >
                            <b-form-datepicker dropright :locale="lang" :state="validateState('depreciation_start_date')" id="depreciation_start_date" direction="bottom" v-model="depreciation_start_date" class="col-lg-10"></b-form-datepicker>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('residue_value')+':'"
                            label-align-sm="right"
                            label-for="residueInput"
                        >
                            <!-- <b-form-input id="residueInput" type="number" v-model="residue_value" class="col-lg-10"></b-form-input> -->
                            <v-currency v-model="residue_value"  class="form-control col-lg-10" id="residueInput"/>

                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('shrinkage_method')+':'"
                            label-align-sm="right"
                            label-for="shrinkageMethodInput"
                            invalid-feedback="This field is required"
                            :state="validateState('shrinkage_method')"
                        >
                            <b-form-select :state="validateState('shrinkage_method')" id="shrinkageMethodInput" v-model="shrinkage_method.value" :options="shrinkage_method.options" class="col-lg-10"></b-form-select>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('estimated_age')+':'"
                            label-align-sm="right"
                            label-for="estimateInput"
                            invalid-feedback="This field is required"
                            :state="validateState('estimated_age')"
                        >
                            <b-input-group :append="$t('year')">
                                <b-form-input id="estimateInput" :state="validateState('estimated_age')" type="number" v-model="estimated_age" class="col-lg-8"></b-form-input>
                            </b-input-group>
                        </b-form-group>
                        <h4>{{ $t('account') }}</h4>
                        <hr>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('depreciation_rates')+':'"
                            label-align-sm="right"
                            label-for="depreciationRatesInput"
                            invalid-feedback="This field is required"
                            :state="validateState('depreciation_rates')"
                        >
                            <b-input-group append="%">
                                <b-form-input id="depreciationRatesInput" step=".01" :state="validateState('depreciation_rates')" type="number" v-model="depreciation_rates" class="col-lg-8"></b-form-input>
                            </b-input-group>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('account_asset')+':'"
                            label-align-sm="right"
                            label-for="accountAssetInput"
                            invalid-feedback="This field is required"
                            :state="validateState('account_asset.value')"
                        >
                            <select2 v-model="account_asset.value" :options="account_asset.options" id="accountAssetInput" url="/select/account" class="form-control col-lg-8"></select2>
                        </b-form-group>

                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('account_depreciation')+':'"
                            label-align-sm="right"
                            label-for="depreciationInput"
                            invalid-feedback="This field is required"
                            :state="validateState('account_depreciation.value')"
                        >
                            <select2 v-model="account_depreciation.value" :options="account_depreciation.options" id="depreciationInput" url="/select/account" class="form-control col-lg-8"></select2>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('accumulated_depreciation_account')+':'"
                            label-align-sm="right"
                            label-for="accumulatedInput"
                            invalid-feedback="This field is required"
                            :state="validateState('accumulated_depreciation_account.value')"
                        >
                            <select2 v-model="accumulated_depreciation_account.value" :options="accumulated_depreciation_account.options" id="accumulatedInput" url="/select/account" class="form-control col-lg-8"></select2>
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('account_expense')+':'"
                            label-align-sm="right"
                            label-for="expenseInput"
                            invalid-feedback="This field is required"
                            :state="validateState('account_expense.value')"
                            :description="$t('account_expense_info')"
                        >
                            <select2 v-model="account_expense.value" :options="account_expense.options" id="expenseInput" url="/select/account" class="form-control col-lg-8"></select2>
                        </b-form-group>
                        <div v-if="status_asset" class="row">
                            <div v-if="status_asset == 1" class="col-lg-12">
                                <b-button :disabled="isSubmitting" variant="secondary" type="submit" @click="status = 1">
                                    <i class="fas fa-edit"></i>
                                    {{$t('save_as_draft')}}
                                </b-button>
                                <b-button :disabled="isSubmitting" variant="success" type="submit" @click="status = 2">
                                    <i class="fas fa-check" aria-hidden="true"></i>
                                    {{$t('save_and_aggree')}}
                                </b-button>
                                <b-button href="/accounting/asset" variant="secondary">
                                    <i class="fas fa-ban"></i>
                                    {{$t('return')}}
                                </b-button>
                            </div>
                            <div v-else class="col-lg-12">
                                <!-- <b-button :disabled="isSubmitting" variant="success" type="submit">
                                    <i class="fas fa-check" aria-hidden="true"></i>
                                    {{$t('save')}}
                                </b-button> -->
                                <b-button href="/accounting/asset" variant="secondary">
                                    <i class="fas fa-ban"></i>
                                    {{$t('return')}}
                                </b-button>
                            </div>

                        </div>
                        <div v-else>
                            <b-button :disabled="isSubmitting" variant="secondary" type="submit" @click="status = 1">
                                <i class="fas fa-edit"></i>
                                {{$t('save_as_draft')}}
                            </b-button>
                            <b-button :disabled="isSubmitting" variant="success" type="submit" @click="status = 2">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{$t('save_and_aggree')}}
                            </b-button>
                            <b-button href="/accounting/asset" variant="secondary">
                                <i class="fas fa-ban"></i>
                                {{$t('return')}}
                            </b-button>
                        </div>

                    </div>
                    <div class="col-lg-6" v-if="isEdit">
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('book_value')+':'"
                            label-align-sm="right"
                            label-for="bookValueInput"
                            invalid-feedback="This field is required"
                            :state="validateState('book_value')"
                        >
                            <v-currency id="bookValueInput" class="form-control col-lg-10" v-model="book_value" />
                        </b-form-group>
                        <b-form-group
                            label-cols-sm="3"
                            :label="$t('accumulated_depreciation')+':'"
                            label-align-sm="right"
                            label-for="accumulatedDepreInput"
                            invalid-feedback="This field is required"
                            :state="validateState('accumulated_depreciation')"
                        >
                            <v-currency id="accumulatedDepreInput" class="form-control col-lg-10" v-model="accumulated_depreciation" />
                        </b-form-group>
                        <b-table :fields="depreciation_details.fields" :outlined="true" :items="depreciation_details.items"></b-table>
                    </div>
                </b-form>
            </div>
        </div>
    </div>
</template>
<script>
import { BForm, BFormGroup, BFormInput, BFormSelect, BFormInvalidFeedback, BFormDatepicker, BInputGroup, BTable } from 'bootstrap-vue';
import { required, minValue } from 'vuelidate/lib/validators';

export default {
    props: ['lang', 'payload'],
    components: {
        BForm, BFormGroup, BFormInput, BFormSelect, BFormInvalidFeedback, BFormDatepicker, BInputGroup, BTable
    },
    validations(){
        var forms = {
            asset_name: {required},
            asset_type: {value: {required}},
            date_acquistion: {required},
            price_acquistion: {required, minValue: minValue(1)},
            depreciation_start_date: {required},
            estimated_age: {required},
            shrinkage_method: {value: {required}},
            depreciation_rates: {required},
            account_asset: {value: {required}},
            account_expense: {value: {required}},
            account_depreciation: {value: {required}},
            accumulated_depreciation_account: {value: {required}},
        }
        if(this.payload){
            if(this.payload.status == 2){
                forms.book_value = {required};
                forms.accumulated_depreciation = {required};
            }
        }
        return forms
    },
    data() {
        return {
            asset_code: '',
            asset_name: '',
            asset_type: {
                value  : '',
                options: []
            },
            clasification: {
                value  : '',
                options: []
            },
            date_acquistion : '',
            price_acquistion: 0,
            serial_number   : '',
            depreciation_start_date: '',
            residue_value: 0,
            estimated_age: '',
            shrinkage_method: {
                options: [ ],
                value: ''
            },
            depreciation_rates: 0,
            account_asset     : {
                options: {},
                value: ''
            },
            account_expense   : {
                options: {},
                value: ''
            },
            account_depreciation: {
                options: {},
                value: ''
            },
            accumulated_depreciation_account: {
                options: {},
                value: ''
            },
            book_value: 0,
            accumulated_depreciation: 0,
            depreciation_details: {
                fields: ['date', 'depreciation', 'depreciation_value', 'status'],
                items : []
            },
            status: '',
            isSubmitting: false,
            isEdit: false,
            status_asset: '',
            uuid: null
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.shrinkage_method.options = [
            {value: 'Garis Lurus', text: this.$t('straight_line')},
            {value: 'Saldo Menurun', text: this.$t('decreased_balance')},
            {value: 'Tidak Terdepresiasi', text: this.$t('not_depreciate')},
        ]
        this.getInputOptions()

        // if its edit
        if(this.payload){
            var payload = this.payload;
            this.asset_code = payload.serial
            this.asset_name = payload.name
            this.asset_type.value        = payload.type_id
            this.clasification.value     = payload.clasification_id
            this.date_acquistion         = payload.date_acquistion
            this.price_acquistion        = payload.price_acquistion
            this.serial_number           = payload.serial_number
            this.depreciation_start_date = payload.depreciation_start_date
            this.residue_value           = payload.residue
            this.estimated_age           = payload.estimated_age
            this.shrinkage_method.value  = payload.shrinkage_method

            this.depreciation_rates               = payload.depreciation_rates

            this.account_asset.options                    = { id: payload.asset_account, text: payload.asset_account+' '+payload.account_asset.name },
            this.account_expense.options                  = { id: payload.expense_account, text: payload.expense_account+' '+payload.account_expense.name },
            this.account_depreciation.options             = { id: payload.depreciation_account, text: payload.depreciation_account+' '+payload.account_depreciation.name },
            this.accumulated_depreciation_account.options = { id: payload.accumulated_depreciation_account, text: payload.accumulated_depreciation_account+' '+payload.account_accumulated.name }
            this.status_asset = this.payload.status;
            if(this.payload.status == 2){
                this.isEdit = true
                this.getDepreciationItems(this.payload.uuid)
                var shrinkage = _.sumBy(this.payload.shrinkage, e => e.status ? e.depreciation_value : 0)
                this.accumulated_depreciation = shrinkage
                this.book_value = this.payload.price_acquistion - shrinkage
            }
        }
    },
    methods: {
        async handleSubmit(){
            this.$v.$touch();
                this.isSubmitting = true

            if (this.$v.$invalid) {
                // this.submitStatus = 'ERROR'
                console.log('ERROR');
                this.isSubmitting = false
                Swal.fire('Fail','Please check the fields','error')
            } else {
                const forms = {
                    asset_code                      : this.asset_code,
                    asset_name                      : this.asset_name,
                    asset_type                      : this.asset_type.value,
                    clasification                   : this.clasification.value,
                    date_acquistion                 : this.date_acquistion,
                    price_acquistion                : this.price_acquistion,
                    serial_number                   : this.serial_number,
                    depreciation_start_date         : this.depreciation_start_date,
                    residue_value                   : this.residue_value,
                    estimated_age                   : this.estimated_age,
                    shrinkage_method                : this.shrinkage_method.value,
                    status                          : this.status,
                    depreciation_rates              : this.depreciation_rates,
                    account_asset                   : this.account_asset.value,
                    account_expense                 : this.account_expense.value,
                    account_depreciation            : this.account_depreciation.value,
                    accumulated_depreciation_account: this.accumulated_depreciation_account.value,
                    uuid                            : this.uuid
                }
                try {
                    var submit = await axios.post('/accounting/asset/store', forms)
                    Swal.fire(this.$t('success'), this.$t('dataSaved'),'success')
                    console.log('SUCCESS ', submit.data);
                    this.isSubmitting = false;
                    setTimeout(() => {
                        location = '/accounting/asset';
                    }, 700);

                } catch (error) {
                    this.isSubmitting = await false;

                }

            }
        },
        validateState(name) {
            var GetPropertyValue = (obj1, dataToRetrieve) => {
                return dataToRetrieve
                    .split('.') // split string based on `.`
                    .reduce(function(o, k) {
                        return o && o[k]; // get inner property if `o` is defined else get `o` and return
                    }, obj1) // set initial value as object
            }

            // const { $dirty, $error } = this.$v[name];
            const { $dirty, $error } = GetPropertyValue(this.$v, name);
            return $dirty ? !$error : null;
        },
        handleChangeAssetType(){
            const type = this.asset_type.options.filter(value => this.asset_type.value == value.value);
            if(type){
                const dataType = type[0];
                this.estimated_age = dataType.estimated_age;
                this.depreciation_rates = dataType.depreciation_rates;
                this.shrinkage_method.value = dataType.shrinkage_method;
            }

        },
        async getDepreciationItems(uuid){
            const depre = await axios.get('/accounting/asset/list-depreciation/'+uuid);
            if(await depre.data){
                this.depreciation_details.fields = [
                    {date: {label: this.$t('date'), sortable: true}},
                    {depreciation: {label: this.$t('depreciation'), sortable: true}},
                    {depreciation_value: {label: this.$t('depreciation_value'), sortable: true}},
                    {status: {label: 'status', sortable: true}},
                ]
                var items = []
                depre.data.forEach(el => {
                    items.push({
                        date: moment(el.created_at).format('DD-MM-YYYY'),
                        depreciation: moment(el.to_date).format('DD-MM-YYYY'),
                        depreciation_value: Number(el.depreciation_value).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                        status: el.status ? 'Posted':'void'
                    })
                    this.depreciation_details.items = items
                })

            }
        },
        async getInputOptions(){
            var asset = await axios.get('/accounting/asset/asset-type');
            if(await asset.data){
                asset.data.forEach(el => {
                    this.asset_type.options.push({
                        value: el.id, text: el.name, ...el
                    });
                });
            }

            var clasification = await axios.get('/accounting/asset/clasification');
            if(await clasification.data){
                clasification.data.forEach(el => {
                    this.clasification.options.push({
                        value: el.id, text: el.name
                    });
                });
            }

        }
    },
    computed: {
        isDisabled(){
            if(this.status_asset == 2){
                return true
            }else {
                return false

            }
        },
        totalShrinkage(){
            var shrinkage = _.sumBy(this.payload.shrinkage, e => e.status ? e.depreciation_value : 0)
            return shrinkage;
        }
    },
}
</script>
