// If you want to override variables do it here
@import "variables";

// Import styles
@import "node_modules/@coreui/coreui/scss/coreui";

button#no-results-btn {
    width: 100%;
    height: 100%;
    padding: 6px;
}

/* Make button look like other li elements */
button#no-results-btn {
    border: 0;
    background-color: white;
    text-align: left;
}
button#no-results-btn:hover {
    background-color: #5897fb;
}
.text-bold{
    font-weight: bold;
}
.check-admin{
    width:20px;
}

.pull-right{
    float: right;
    text-align: right;
}
// .card-body{
    // overflow-x: auto;
// }
// .datepicker{
//     z-index: 9999 !important;
// }

.select2-create{
    color: #1a3249;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px;
}

@media only screen and (max-width: 500px){
    .hidden-xs{
        display: none;;
    }
    // .c-subheader{
    //     display: none;
    // }
    .c-header-brand{
        display: none;
    }

}
.company-name{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
// img.c-header-brand{
//     padding:5px;
// }
// If you want to add something do it here
@import "custom";

.alert-tb{
    text-align: center;
}
.alert-header{
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
}
.card-header-split{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-header-notif{
        display: flex;
        div{
            margin: 0 5px;
        }
    }
}
