<template>
    <div class="">
        <template v-for="(account) in accounts">
            <div :key="account.id" v-if="account.account_id == account_id" class="td-pad-right-1">
                <div class="title">
                    <div>{{ account.id+' '+account.name }}</div><div>{{ getNominal(account.total_result.nominal, account.total_result.is_normal) }}</div>
                </div>
                <balance-account :accounts="account.recursive_children" :account_id="account.id"></balance-account>
            </div>
        </template>
    </div>
</template>
<script>
export default {
    props: ['accounts', 'account_id'],
    methods: {
        getNominal(total, status){
            var result = '';
            if(status){
                result = Number(total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                }else{
                result = '('+Number(total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})+')'
            }
            return result
        }
    },
}
</script>
<style lang="scss">
    .title{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 5px 9px;
        // &:nth-child(odd){
        //     background-color: #52525246;
        // }
        // &:nth-child(even){
        //     background-color: #fff;
        // }
    }
</style>
