<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-book"></i>
                            {{ $t('neraca') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('month')}}</label>
                                    <b-form-select v-model="month.value" :options="month.options"></b-form-select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('year')}}</label>
                                    <b-form-input v-model="year" type="number"></b-form-input>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getAccounts()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success text-white" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <balance-account :accounts="accounts.assets" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.asset }}
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <balance-account :accounts="accounts.liabilities" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.liability }}
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-lg-12 mt-3">
                                    <balance-account :accounts="accounts.equities" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.equity }}
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup, BFormSelect } from 'bootstrap-vue';

export default {
    props: ['lang'],
    components: {
        BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup, BFormSelect
    },
    data() {
        return {
            accounts: {
                assets: [],
                liabilities: [],
                equities: [],
            },
            totals: {
                asset: 0,
                liability: 0,
                equity: 0
            },
            month: {
                value: moment().format('MM'),
                options: [
                    {value: '01', text: 'January'},
                    {value: '02', text: 'February'},
                    {value: '03', text: 'March'},
                    {value: '04', text: 'April'},
                    {value: '05', text: 'May'},
                    {value: '06', text: 'June'},
                    {value: '07', text: 'July'},
                    {value: '08', text: 'August'},
                    {value: '09', text: 'September'},
                    {value: '10', text: 'October'},
                    {value: '11', text: 'November'},
                    {value: '12', text: 'Desember'},
                ]
            },
            year: moment().format('YYYY'),
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getAccounts()
    },
    methods: {
        async getAccounts(){
            try {
                var params = { to_date: this.year+'-'+this.month.value }

                var sumDebitRecursive = items =>{
                    return _.sumBy(items, function(item) {
                        var total = item.total_debit

                        if(item.recursive_children.length){
                            total += sumDebitRecursive(item.recursive_children)
                        }
                        return total;
                    })
                }
                var sumCreditRecursive = items =>{
                    return _.sumBy(items, function(item) {
                        var total = item.total_credit

                        if(item.recursive_children.length){
                            total += sumCreditRecursive(item.recursive_children)
                        }
                        return total;
                    })
                }

                const listCoa = await axios.get('/report/balance/lists', { params });
                if(await listCoa.data){

                    this.accounts = listCoa.data;
                    // asset
                    var sumDebitAssets  = sumDebitRecursive(listCoa.data.assets)
                    var sumCreditAssets = sumCreditRecursive(listCoa.data.assets)
                    var defaultPositionAsset = listCoa.data.assets[0].default_position;
                    var totalAsset = Math.abs(sumDebitAssets - sumCreditAssets)
                    totalAsset = Number(totalAsset).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionAsset == 'debit' && sumCreditAssets > sumDebitAssets){
                        totalAsset = '('+totalAsset+')'
                    }else if(defaultPositionAsset == 'credit' && sumDebitAssets > sumCreditAssets){
                        totalAsset = '('+totalAsset+')'
                    }
                    this.totals.asset = totalAsset
                    console.log("RESULT",{ sumDebitAssets, sumCreditAssets, defaultPositionAsset, totalAsset});

                    // liability
                    var sumDebitLiabilities  = sumDebitRecursive(listCoa.data.liabilities)
                    var sumCreditLiabilities = sumCreditRecursive(listCoa.data.liabilities)
                    var defaultPositionLiability = listCoa.data.liabilities[0].default_position;
                    var totalLiability = Math.abs(sumDebitLiabilities - sumCreditLiabilities)
                    totalLiability = Number(totalLiability).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionLiability == 'debit' && sumCreditLiabilities > sumDebitLiabilities){
                        totalLiability = '('+totalLiability+')'
                    }else if(defaultPositionLiability == 'credit' && sumDebitLiabilities > sumCreditLiabilities){
                        totalLiability = '('+totalLiability+')'
                    }
                    this.totals.liability = totalLiability
                    console.log("RESULT",{ sumDebitLiabilities, sumCreditLiabilities, defaultPositionLiability, totalLiability});

                    // equility
                    var sumDebitEquities  = sumDebitRecursive(listCoa.data.equities)
                    var sumCreditEquities = sumCreditRecursive(listCoa.data.equities)
                    var defaultPositionEquity = listCoa.data.equities[0].default_position;
                    var totalEquity = Math.abs(sumDebitEquities - sumCreditEquities)
                    totalEquity = Number(totalEquity).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionEquity == 'debit' && sumCreditEquities > sumDebitEquities){
                        totalEquity = '('+totalEquity+')'
                    }else if(defaultPositionEquity == 'credit' && sumDebitEquities > sumCreditEquities){
                        totalEquity = '('+totalEquity+')'
                    }
                    this.totals.equity = totalEquity
                    console.log("RESULT",{ sumDebitEquities, sumCreditEquities, defaultPositionEquity, totalEquity});
                }

            } catch (error) {
                console.log(error);

            }
        },


    },
    computed: {
        printURL(){
            return `/report/balance/print?to_date=`+this.year+'-'+this.month.value
        }
    }
}
</script>
<style lang="scss">
    $widths: 40px 60px 80px 100px 120px 140px 160px 180px 200px;
    @each $width in $widths{
        $i: index($list: $widths, $value: $width);
        .td-pad-right-#{$i}{
            padding-left: $width !important;
        }
    }
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000 !important;
        border-top: 2px solid !important;
    }
    .th-title{
        border-bottom: 2px solid #2b78c2 !important;
    }
</style>
