<template>
    <div class="container-fluid mt-5">
        <div class="my-4">
            <div class="row letterhead">
                <div class="col-lg-7 letterhead-body">
                    <div style="padding: 0;">
                        <img :src="web.logo" class="logo" alt="logo">
                        <div class="company-name">
                            {{ web.company.name }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <div class="text-bold text-uppercase">{{ $t('neraca') }}</div>
                                <div>{{ $t('on_date') }} {{ getDateFilter }}</div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <balance-account :accounts="accounts.assets" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.asset }}
                                    </div>
                                    <hr>
                                </div>
                                <div class="pagebreak"></div>
                                <div class="col-lg-12 mt-3">
                                    <balance-account :accounts="accounts.liabilities" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.liability }}
                                    </div>
                                    <hr>
                                </div>
                                <div class="pagebreak"></div>
                                <div class="col-lg-12 mt-3">
                                    <balance-account :accounts="accounts.equities" :account_id="null"></balance-account>
                                    <div class="text-bold text-right">
                                        TOTAL {{ totals.equity }}
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" text-center">
                <div class="col-lg-12 text-uppercase note-info">
                    **{{ $t('generateReport') }}**
                </div>
                <hr class="line-footer">
                <div class="col-lg-12 page-footer">
                    <div class="info-footer">
                        <div> {{ web.address }}, </div>
                        <div> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                    </div>
                </div>
            </div>
    </div>
</template>
<script>
import moment from 'moment'
export default {
    props: ['lang', 'web', 'to_date'],
    components: {
    },
    data() {
        return {
            accounts: {
                assets: [],
                liabilities: [],
                equities: [],
            },
            totals: {
                asset: 0,
                liability: 0,
                equity: 0
            },
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.getAccounts()
    },
    methods: {
        async getAccounts(){
            try {
                var params = { to_date: this.to_date }

                var sumDebitRecursive = items =>{
                    return _.sumBy(items, function(item) {
                        var total = item.total_debit

                        if(item.recursive_children.length){
                            total += sumDebitRecursive(item.recursive_children)
                        }
                        return total;
                    })
                }
                var sumCreditRecursive = items =>{
                    return _.sumBy(items, function(item) {
                        var total = item.total_credit

                        if(item.recursive_children.length){
                            total += sumCreditRecursive(item.recursive_children)
                        }
                        return total;
                    })
                }

                const listCoa = await axios.get('/report/balance/lists', { params });
                if(await listCoa.data){

                    this.accounts = listCoa.data;
                    // asset
                    var sumDebitAssets  = sumDebitRecursive(listCoa.data.assets)
                    var sumCreditAssets = sumCreditRecursive(listCoa.data.assets)
                    var defaultPositionAsset = listCoa.data.assets[0].default_position;
                    var totalAsset = Math.abs(sumDebitAssets - sumCreditAssets)
                    totalAsset = Number(totalAsset).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionAsset == 'debit' && sumCreditAssets > sumDebitAssets){
                        totalAsset = '('+totalAsset+')'
                    }else if(defaultPositionAsset == 'credit' && sumDebitAssets > sumCreditAssets){
                        totalAsset = '('+totalAsset+')'
                    }
                    this.totals.asset = totalAsset
                    console.log("RESULT",{ sumDebitAssets, sumCreditAssets, defaultPositionAsset, totalAsset});

                    // liability
                    var sumDebitLiabilities  = sumDebitRecursive(listCoa.data.liabilities)
                    var sumCreditLiabilities = sumCreditRecursive(listCoa.data.liabilities)
                    var defaultPositionLiability = listCoa.data.liabilities[0].default_position;
                    var totalLiability = Math.abs(sumDebitLiabilities - sumCreditLiabilities)
                    totalLiability = Number(totalLiability).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionLiability == 'debit' && sumCreditLiabilities > sumDebitLiabilities){
                        totalLiability = '('+totalLiability+')'
                    }else if(defaultPositionLiability == 'credit' && sumDebitLiabilities > sumCreditLiabilities){
                        totalLiability = '('+totalLiability+')'
                    }
                    this.totals.liability = totalLiability
                    console.log("RESULT",{ sumDebitLiabilities, sumCreditLiabilities, defaultPositionLiability, totalLiability});

                    // equility
                    var sumDebitEquities  = sumDebitRecursive(listCoa.data.equities)
                    var sumCreditEquities = sumCreditRecursive(listCoa.data.equities)
                    var defaultPositionEquity = listCoa.data.equities[0].default_position;
                    var totalEquity = Math.abs(sumDebitEquities - sumCreditEquities)
                    totalEquity = Number(totalEquity).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    if(defaultPositionEquity == 'debit' && sumCreditEquities > sumDebitEquities){
                        totalEquity = '('+totalEquity+')'
                    }else if(defaultPositionEquity == 'credit' && sumDebitEquities > sumCreditEquities){
                        totalEquity = '('+totalEquity+')'
                    }
                    this.totals.equity = totalEquity
                    console.log("RESULT",{ sumDebitEquities, sumCreditEquities, defaultPositionEquity, totalEquity});
                    setTimeout(() => {
                        window.print()
                    }, 100);

                }

            } catch (error) {
                console.log(error);

            }
        },
    },
    computed: {
        getDateFilter(){
            return moment(this.to_date, 'YYYY-MM').endOf('month').format('DD MMMM YYYY')
        }
    }
}
</script>
<style lang="scss">
    @media all{
        .pagebreak {display: none;}
    }
    @media print {
        .pagebreak { display: block; page-break-before: auto; } /* page-break-after works, as well */
    }
    // @page { size:8.5in 11in; margin: 2cm 1cm }
    @page { margin: 2cm 1cm }
    // @page { margin: 20px 0; }
    $widths: 40px 60px 80px 100px 120px 140px 160px 180px 200px;
    @each $width in $widths{
        $i: index($list: $widths, $value: $width);
        .td-pad-right-#{$i}{
            padding-left: $width !important;
        }
    }
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000 !important;
        border-top: 2px solid !important;
    }
    .th-title{
        border-bottom: 2px solid #2b78c2 !important;
    }

    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000;
        border-top: 2px solid;
    }

    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .letterhead{
        font-size: 10px;
        font-weight: bold;

        .letterhead-body{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            justify-content: left;
            div{
                padding: 15px 10px;
            }
            .company-name{
                padding: 0;
                color: #568ed3;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        margin-top: 7%;
        width: 650px;
        background: #fff;
        height: auto; //915px

        position: relative;

        .info-document{
            // position: absolute;
            color: rgba(103, 155, 197, 0.473);
            top: 20px;
            right: 15px;
            font-size: 34px;
        }
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        border: 0.5px #000 solid;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 360px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;

        .box-description-title{
            opacity: 0.8;

        }
        .box-description-body{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
