<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('cashflow') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <!-- <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang" :date-disabled-fn="fromDateDisabled"></b-form-datepicker> -->
                                    <date-picker :config="datepicker.config" v-model="datepicker.from"></date-picker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <!-- <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang" :date-disabled-fn="toDateDisabled"></b-form-datepicker> -->
                                    <date-picker :config="datepicker.config" v-model="datepicker.to"></date-picker>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getCashflow()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success text-white" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <table class="table col-lg-8 table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="text-bold text-uppercase" colspan="2">{{ $t('cash_flow_operate') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_loss') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                            <td>Rp {{ tables.operation.profitLoss }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('depreciation_and_amortization') }}</td>
                                            <td>Rp {{ tables.operation.depreciationAndAmortization }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.total_operation | isNormal(true)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('current_asset_without_cash') }}</td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in tables.operation.currenctAsset.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.currenctAsset.nominal | isNormal(tables.operation.currenctAsset.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('lability') }}</td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item) in tables.operation.lability.lists" :key="item.id">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.lability.nominal | isNormal(tables.operation.lability.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-bold text-uppercase">{{ $t('cash_flow_investation') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('fixed_asset') }}</td>
                                            <td class="text-bold text-uppercase">NET CHANGE</td>
                                        </tr>
                                        <tr v-for="(item) in tables.investation.fixedAsset.lists" :key="item.id">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.investation.fixedAsset.nominal | isNormal(tables.investation.fixedAsset.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-bold text-uppercase">{{ $t('cash_flow_funding') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_returned') }}</td>
                                            <td>Rp {{ tables.funding.equity.total | isNormal(tables.funding.equity.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('cashflow_funding_activities') }}</td>
                                            <td class="text-uppercase">Rp {{ tables.funding.equity.total | isNormal(tables.funding.equity.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('net_cash') }}</td>
                                            <td class="text-bold">{{tables.net_cash.nominal | isNormal(tables.net_cash.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('initial_cash') }}</td>
                                            <td>{{tables.initial_cash.nominal | isNormal(tables.initial_cash.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('cash_and_equal_final_cash') }}</td>
                                            <td>{{tables.final_cash.nominal| isNormal(tables.final_cash.is_normal)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup } from 'bootstrap-vue';
import DatePicker from 'vue-bootstrap-datetimepicker';
export default {
    props: ['lang'],
    components: {
        BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup, DatePicker
    },
    data() {
        return {
            start_date: moment().startOf('month').format('YYYY-MM-DD'),
            to_date: moment().endOf('Month').format('YYYY-MM-DD'),
            datepicker:{
                config: {
                    viewMode: 'years',
                    format: 'MM-YYYY'
                },
                from: moment().startOf('year').format('MM-YYYY'),
                to: moment().endOf('year').format('MM-YYYY'),
            },
            tables: {
                operation: {
                    total_operation: 0,
                    profitLoss: 0,
                    depreciationAndAmortization: 0,
                    currenctAsset: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    },
                    lability: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    },
                },
                investation: {
                    fixedAsset: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    }
                },
                funding: {
                    equity: {
                        is_normal: 1,
                        total: 0
                    }
                },
                net_cash: {
                    nominal: 0,
                    is_normal: 1
                },
                initial_cash: {
                    nominal: 0,
                    is_normal: 1
                },
                final_cash: {
                    nominal: 0,
                    is_normal: 1
                }

            }
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        this.getCashflow()
    },
    methods: {
        async getCashflow(){
            const params = {
                start_date: moment(this.datepicker.from, 'MM-YYYY').startOf('month').format('YYYY-MM-DD'),
                to_date: moment(this.datepicker.to, 'MM-YYYY').endOf('month').format('YYYY-MM-DD'),
            }
            const req = await axios.get('/report/cash-flow/lists', {params})
            console.log('RESPONSE', req.data);
            if(req.data){
                const { labarugi, akumulasi_penyusutan, aset_lancar, labilitas, aset_tetap, laba_ditahan, total_operation, kas_bersih, kas_awal, kas_akhir} = req.data
                this.tables.operation.profitLoss = labarugi.type == 'credit' ?  "("+this.moneyFormat(labarugi.total)+")":this.moneyFormat(labarugi.total)
                this.tables.operation.depreciationAndAmortization = !akumulasi_penyusutan.is_normal
                                                                    ?  "("+this.moneyFormat(akumulasi_penyusutan.net_change)+")"
                                                                    : this.moneyFormat(akumulasi_penyusutan.net_change);
                this.tables.operation.total_operation = total_operation
                this.tables.operation.currenctAsset   = aset_lancar
                this.tables.operation.lability        = labilitas
                this.tables.investation.fixedAsset    = aset_tetap
                this.tables.funding.equity            = laba_ditahan

                this.tables.net_cash = kas_bersih
                this.tables.initial_cash = kas_awal
                this.tables.final_cash = kas_akhir
            }

        },
        fromDateDisabled(ymd, date){
            const day = date.getDate();
            return day > 1
        },
        toDateDisabled(ymd, date){
            const day = date.getDate();
            return day < moment(ymd, "YYYY-MM-DD").daysInMonth()
        },
        moneyFormat(money){
            return Number(money).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    },
    computed: {
        printURL(){
            var params = {
                start_date: moment(this.datepicker.from, 'MM-YYYY').startOf('month').format('YYYY-MM-DD'),
                to_date: moment(this.datepicker.to, 'MM-YYYY').endOf('month').format('YYYY-MM-DD'),
            }
            params = $.param(params);
            return '/report/cash-flow/print?'+params
        }
    },
    filters: {
        isNormal(num, status){
            var moneyFormat = (money) =>{
                return Number(money).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
            }
            return status ? moneyFormat(num) : '('+moneyFormat(num)+')'
        },
        dateFormat(date, formatOld = 'YYYY-MM-DD', formatNew){
            return moment(date, formatOld).format(formatNew)
        }
    }
}
</script>
<style lang="scss">
    $widths: 40px 60px 80px 100px 120px 140px;
    @each $width in $widths{
        $i: index($list: $widths, $value: $width);
        .td-pad-right-#{$i}{
            padding-left: $width !important;
        }
    }
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000 !important;
        border-top: 2px solid !important;
    }
    .th-title{
        border-bottom: 2px solid #2b78c2 !important;
    }
</style>
