<template>
    <div class="container-fluid">
        <div class="my-4">
            <div class="row letterhead">
                <div class="col-lg-7 letterhead-body">
                    <div style="padding: 0;">
                        <img :src="web.logo" class="logo" alt="logo">
                        <div class="company-name">
                            {{ web.company.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <div class="text-bold text-uppercase">{{ $t('cashflow') }}</div>
                                <div>{{ $t('from') }} {{ getDateCashflow }}</div>
                            </div>
                            <div class="row mt-3">
                                <table class="table col-lg-8 table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="text-bold text-uppercase" colspan="2">{{ $t('cash_flow_operate') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_loss') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                            <td>Rp {{ tables.operation.profitLoss }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('depreciation_and_amortization') }}</td>
                                            <td>Rp {{ tables.operation.depreciationAndAmortization }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.total_operation | isNormal(true)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('current_asset_without_cash') }}</td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item, index) in tables.operation.currenctAsset.lists" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.currenctAsset.nominal | isNormal(tables.operation.currenctAsset.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('lability') }}</td>
                                            <td></td>
                                        </tr>
                                        <tr v-for="(item) in tables.operation.lability.lists" :key="item.id">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.operation.lability.nominal | isNormal(tables.operation.lability.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-bold text-uppercase">{{ $t('cash_flow_investation') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('fixed_asset') }}</td>
                                            <td class="text-bold text-uppercase">NET CHANGE</td>
                                        </tr>
                                        <tr v-for="(item) in tables.investation.fixedAsset.lists" :key="item.id">
                                            <td>{{ item.name }}</td>
                                            <td>Rp {{ item.balance.net_change | isNormal(item.balance.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-bold">Rp {{ tables.investation.fixedAsset.nominal | isNormal(tables.investation.fixedAsset.is_normal) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-bold text-uppercase">{{ $t('cash_flow_funding') }} {{ to_date | dateFormat('YYYY-MM', 'YYYY') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_returned') }}</td>
                                            <td>Rp {{ tables.funding.equity.total | isNormal(tables.funding.equity.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold text-uppercase">{{ $t('cashflow_funding_activities') }}</td>
                                            <td class="text-uppercase">Rp {{ tables.funding.equity.total | isNormal(tables.funding.equity.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('net_cash') }}</td>
                                            <td class="text-bold">{{tables.net_cash.nominal | isNormal(tables.net_cash.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('initial_cash') }}</td>
                                            <td>{{tables.initial_cash.nominal | isNormal(tables.initial_cash.is_normal)}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('cash_and_equal_final_cash') }}</td>
                                            <td>{{tables.final_cash.nominal| isNormal(tables.final_cash.is_normal)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" text-center">
            <div class="col-lg-12 text-uppercase note-info">
                **{{ $t('generateReport') }}**
            </div>
            <hr class="line-footer">
            <div class="col-lg-12 page-footer">
                <div class="info-footer">
                    <div> {{ web.address }}, </div>
                    <div> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from 'moment'
export default {
    props: ['lang', 'start_date', 'to_date', 'web'],
    data() {
        return {
            tables: {
                operation: {
                    total_operation: 0,
                    profitLoss: 0,
                    depreciationAndAmortization: 0,
                    currenctAsset: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    },
                    lability: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    },
                },
                investation: {
                    fixedAsset: {
                        lists: [],
                        is_normal: 1,
                        nominal: 0
                    }
                },
                funding: {
                    equity: {
                        is_normal: 1,
                        total: 0
                    }
                },
                net_cash: {
                    nominal: 0,
                    is_normal: 1
                },
                initial_cash: {
                    nominal: 0,
                    is_normal: 1
                },
                final_cash: {
                    nominal: 0,
                    is_normal: 1
                }

            }
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        this.getCashflow()
    },
    methods: {
        async getCashflow(){
            const params = {
                start_date: this.start_date,
                to_date: this.to_date,
            }
            const req = await axios.get('/report/cash-flow/lists', {params})
            console.log('RESPONSE', req.data);
            if(req.data){
                const { labarugi, akumulasi_penyusutan, aset_lancar, labilitas, aset_tetap, laba_ditahan, total_operation, kas_bersih, kas_awal, kas_akhir} = req.data
                this.tables.operation.profitLoss = labarugi.type == 'credit' ?  "("+this.moneyFormat(labarugi.total)+")":this.moneyFormat(labarugi.total)
                this.tables.operation.depreciationAndAmortization = !akumulasi_penyusutan.is_normal
                                                                    ?  "("+this.moneyFormat(akumulasi_penyusutan.net_change)+")"
                                                                    : this.moneyFormat(akumulasi_penyusutan.net_change);
                this.tables.operation.total_operation = total_operation
                this.tables.operation.currenctAsset   = aset_lancar
                this.tables.operation.lability        = labilitas
                this.tables.investation.fixedAsset    = aset_tetap
                this.tables.funding.equity            = laba_ditahan

                this.tables.net_cash     = kas_bersih
                this.tables.initial_cash = kas_awal
                this.tables.final_cash   = kas_akhir
                setTimeout(() => {
                    window.print()
                }, 100);
            }

        },
        fromDateDisabled(ymd, date){
            const day = date.getDate();
            return day > 1
        },
        toDateDisabled(ymd, date){
            const day = date.getDate();
            return day < moment(ymd, "YYYY-MM-DD").daysInMonth()
        },
        moneyFormat(money){
            return Number(money).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    },
    computed: {
        getDateCashflow(){
            let start = moment(this.start_date).format('DD MMMM YYYY');
            let to = moment(this.to_date).format('DD MMMM YYYY');
            return start+' '+this.$t('to_date')+' '+to
        }
    },
    filters: {
        isNormal(num, status){
            var moneyFormat = (money) =>{
                return Number(money).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
            }
            return status ? moneyFormat(num) : '('+moneyFormat(num)+')'
        },
        dateFormat(date, formatOld = 'YYYY-MM-DD', formatNew){
            return moment(date, formatOld).format(formatNew)
        }
    }
}
</script>
<style lang="scss">
    @media all{
        .pagebreak {display: none;}
    }
    @media print {
        .pagebreak { display: block; page-break-before: auto; } /* page-break-after works, as well */
    }
    // @page { size:8.5in 11in; margin: 2cm 1cm }
    @page { margin: 2cm 1cm }
    // @page { margin: 20px 0; }
    $widths: 40px 60px 80px 100px 120px 140px 160px 180px 200px;
    @each $width in $widths{
        $i: index($list: $widths, $value: $width);
        .td-pad-right-#{$i}{
            padding-left: $width !important;
        }
    }
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000 !important;
        border-top: 2px solid !important;
    }
    .th-title{
        border-bottom: 2px solid #2b78c2 !important;
    }

    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000;
        border-top: 2px solid;
    }

    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .letterhead{
        font-size: 10px;
        font-weight: bold;

        .letterhead-body{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            justify-content: left;
            div{
                padding: 15px 10px;
            }
            .company-name{
                padding: 0;
                color: #568ed3;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        margin-top: 7%;
        width: 650px;
        background: #fff;
        height: auto; //915px

        position: relative;

        .info-document{
            // position: absolute;
            color: rgba(103, 155, 197, 0.473);
            top: 20px;
            right: 15px;
            font-size: 34px;
        }
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        border: 0.5px #000 solid;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 360px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;

        .box-description-title{
            opacity: 0.8;

        }
        .box-description-body{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
