<template>
    <ul class="">
        <template v-for="(account, index) in accounts">
            <li :key="index" v-if="account.account_id == hadGroup">
                <b-button variant="link" :id="`popover-${index}`">
                    <template v-if="account.id">
                        {{ account.id+' - '+account.name }}
                    </template>
                    <template v-else>
                        {{ (serial ? serial+'.'+account.serial_number: account.serial_number)+' - '+account.name }}
                    </template>
                </b-button>
                <b-popover :target="`popover-${index}`" triggers="hover focus">
                    <template v-slot:title>Action</template>
                    <b-button-group >
                        <b-button  variant="secondary" @click="handleDetail(account)" size="sm">
                            <i class="fas fa-cog"></i>
                        </b-button>
                        <!-- <b-button  variant="primary" @click="handleClimbUp(account)" size="sm">
                            <i class="fas fa-arrow-up"></i>
                        </b-button>
                        <b-button  variant="success" @click="handleClimbDown(account)" size="sm">
                            <i class="fas fa-arrow-down"></i>
                        </b-button> -->
                        <b-button  variant="danger" @click="handleRemove(account)" size="sm">
                            <i class="fas fa-trash"></i>
                        </b-button>
                    </b-button-group>
                </b-popover>
                <account-list :accounts="accounts" :hadGroup="account.id" :groupName="account.name" :serial="serial ? serial+'.'+account.serial_number: account.serial_number"></account-list>
            </li>
        </template>
    </ul>
</template>
<script>
export default {
    props: ['accounts', 'hadGroup', 'serial', 'groupName'],
    data() {
        return {
        }
    },
    methods: {
        handleDetail(account){
            this.$root.$emit('handleShow', {...account, group_name: this.groupName || account.name});
        },
        handleRemove(account){
            this.$root.$emit('handleRemove', {...account, group_name: this.groupName || account.name});
        },
        handleClimbUp(account){
            this.$root.$emit('handleClimbUp', account);
        },
        handleClimbDown(account){
            this.$root.$emit('handleClimbDown', account);
        }
    },
}
</script>
<style lang="scss" scoped>
    .name-account{
        font-weight: 600;
    }
    li{
        margin: 10px 0;
    }
</style>
