<template>
    <div>
        <b-form @submit.prevent="handleSubmit">
            <div class="card">
                <div class="card-header"> {{ $t('allocate_credit_on_invoice') }} </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b-form-group
                                label="Invoice"
                            >
                                <!-- <select2 url="/select/inv-supplier-debitnote" :disabled="true" @payloadItem="payloadInvoice($event)" :options="invoiceOptions"></select2> -->
                                <b-form-input disabled v-model="invoiceOptions"></b-form-input>
                            </b-form-group>
                            <b-form-group
                                    :label="$t('date')+':'"
                                    label-for="paymentDate"
                                    invalid-feedback="This field is required"
                                    :state="validateState('paymentDate')"
                                >
                                <b-form-datepicker dropright :state="validateState('paymentDate')" id="paymentDate" v-model="paymentDate"  :locale="lang"></b-form-datepicker>
                            </b-form-group>
                            <b-form-group
                                label="Total Invoice"
                            >
                                <v-currency :value="invoice_amount | convertCurrency(currency, invoice.rate)" disabled></v-currency>
                            </b-form-group>
                            <b-form-group
                                :label="$t('paidAmount')"
                            >
                                <v-currency :value="credit_already_allocated | convertCurrency(currency, invoice.rate)" disabled></v-currency>
                            </b-form-group>
                            <b-form-group
                                :label="$t('rest_invoice')"
                            >
                                <v-currency :value="rest | convertCurrency(currency, invoice.rate)" disabled></v-currency>
                            </b-form-group>
                            <b-form-group
                                :label="$t('total_allocation')"
                                :invalid-feedback="$t('paymentAmountMin')"
                                :state="validateState('total_allocation')"
                            >
                                <v-currency v-if="currency > 1" @change="calculateConvertedTotalAllocated($event)"></v-currency>
                                <v-currency v-else v-model="total_allocation"></v-currency>
                            </b-form-group>
                            <button class="btn btn-success" type="submit" v-if="!is_paid_off" :disabled="isSubmitting"> {{ $t('allocated') }}</button>

                        </div>
                        <div class="col-lg-6">
                            <div class="grand-total my-2">
                                <div class="desc">{{ $t('credit_memo_balance') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ credit_memo_balance | moneyFormat(currency, invoice.rate) }} </div>
                            </div>
                            <div class="grand-total my-2 text-warning">
                                <div class="desc">{{ $t('total_credit_allocation') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ total_allocation | moneyFormat(currency, invoice.rate) }} </div>
                            </div>
                            <div class="grand-total my-2 text-success">
                                <div class="desc">{{ $t('remaining_credit_notes') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ remainingCreditNotes | moneyFormat(currency, invoice.rate) }} </div>
                            </div>
                            <!-- <div v-if="currency > 1" class="grand-total my-2 text-black-50">
                                <div class="desc">{{ $t('amountReceive') }}</div>
                                <div class="nominal"> IDR {{ getAmountReceive }} </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">{{ $t('allocate_payment') }}</div>
                <div class="card-body">
                    <b-table :fields="allocated_credits.fields" :items="allocated_credits.items">
                        <template v-slot:cell(status)="data">
                            <span v-html="data.value"></span>
                        </template>
                    </b-table>
                </div>
            </div>
        </b-form>
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import { BForm, BFormGroup, BFormInput, BFormDatepicker, BTable } from 'bootstrap-vue';
import { required, minValue } from 'vuelidate/lib/validators';
export default {
    props: ['lang', 'data'],
    components: {
        BForm, BFormGroup, BFormInput, BFormDatepicker, BTable
    },
    validations(){
        return {
            paymentDate     : {required},
            total_allocation: { minValue: minValue(1)},
        }
    },
    data() {
        return {
            isSubmitting  : false,
            invoiceOptions: null,
            cashAccount: '',
            paymentDate: moment().format('YYYY-MM-DD'),
            invoice_amount: 0,
            payment_amount: 0,
            credit_already_allocated: 0,
            total_allocation: 0,
            currency: 1,
            rest: 0,
            credit_memo_balance    : 0,
            total_credit_allocation: 0,
            remaining_credit_notes :  0,
            is_paid_off: false,
            invoice: {
                id         : null,
                text       : null,
                serial     : null,
                supplier_id: null,
                supplier   : null,
                price      : null,
                tax        : null,
                bill       : 0,
                currency   : null,
                rate       : null,
            },
            tax: {
                tax_id    : '',
                tax_amount: 0,
                tax_type  : '',
                payable_account_id   : '',
                receivable_account_id: ''
            },
            allocated_credits: {
                fields: ['status', 'description', 'amountPaid'],
                items: []
            },

        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        if(this.data){
            this.loadInvoice(this.data)
            this.loadLists()
        }
    },
    methods: {
        async handleSubmit(){
            this.isSubmitting = true;
            this.$v.$touch();
            if(this.$v.$invalid){
                Swal.fire('Check Form', '', 'warning');
            }else {
                var isPaidOff = _.sumBy(this.allocated_credits.items, 'payment_amount') >= this.credit_already_allocated
                this.is_paid_off = isPaidOff;
                const params = {
                    payment_amount : currency > 1 ? this.total_allocation * rate:this.total_allocation,
                    allocated_date : this.paymentDate,
                    invoice        : this.invoiceOptions,
                    invoice_payment: this.data.invoice.payment,
                    invoice_account: this.data.invoice.purchase_account,
                    debit_note_id  : this.data.id,
                    is_paid_off    : isPaidOff
                }
                const request = await axios.post('/supplier/store-allocate-credit', params);
                if(request.data){
                    Swal.fire(this.$t('success'), this.$t('dataSaved'), 'success');
                    this.total_allocation = 0
                    this.loadLists()
                    // check nominal kredit yg telah di alokasikan
                    if(isPaidOff){
                        location.href = '/supplier/debit-note'
                    }
                    this.$v.$reset()
                }
            }

            this.isSubmitting = false;
        },
        async loadLists(){
            const request = await axios.get('/supplier/list-allocate-credit/'+ this.data.uuid);
            if(request.data){
                const allocated_credit = request.data.allocated_credit;
                console.log('allocated_credit',allocated_credit);
                this.allocated_credits.fields = [
                    {status     : {label: this.$t('status'), sortable: true}},
                    {description: {label: this.$t('description'), sortable: true}},
                    {amountPaid : {label: this.$t('amountPaid'), sortable: true}},
                ]
                var items = [];
                allocated_credit.forEach((val, index) => {
                    items.push({
                        status: `<div class="alert-tb ${val.status ? 'alert-success': 'alert-danger'}">${val.status ? 'Posted':'Void'}</div>`, //<div class="alert-tb alert-success">Publish</div>
                        description: `Disetujui oleh ${val.users.name} pada ${moment(val.created_at).format('DD MMM YYYY')}`,
                        amountPaid: Number(val.payment_amount).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    })
                })
                this.allocated_credits.items = items;
                this.credit_already_allocated = _.sumBy(allocated_credit, 'payment_amount')
                this.is_paid_off = _.sumBy(allocated_credit.items, 'payment_amount') >= this.credit_memo_balance

            }

        },
        calculateConvertedTotalAllocated(total){
            this.total_allocation = total * this.invoice.rate;
        },
        payloadInvoice(payload){ // batal
            console.log(payload);
            this.paymentDate = payload.paymentDate;
            this.currency = payload.currency;

            if(payload.currency > 1) {
                this.rate     = payload.rate;
            }
            // var invoiceAmount = payload.rate ? payload.price/payload.rate : payload.price;
            var invoiceAmount = payload.price;
            if(payload.tax){
                let kenaPajak = (invoiceAmount * (payload.tax / 100));
                invoiceAmount += kenaPajak
            }
            this.invoice_amount = invoiceAmount;

            // this.credit_memo_balance = payload.total_debit_note - payload.credit_already_allocated;
            /*
            if(payload.bill){
                var pricing = payload.price - payload.bill;

                    pricing = (payload.tax ? (payload.pricing*(Number(payload.tax)/100)) + payload.price: payload.pricing);

                    if(payload.currency !=1) {
                        pricing /= payload.rate;
                    }
                    // this.invoice_amount = pricing;
            }else{
                var pricing = (payload.tax ? (payload.price*(Number(payload.tax)/100)) + payload.price: payload.price);
                if(payload.currency !=1) {
                    pricing /= payload.rate;
                }
                // this.invoice_amount = pricing.toFixed(2);
            }
            */
            this.invoice = {
                id         : payload.id,
                text       : payload.text,
                serial     : payload.serial,
                customer_id: payload.customer_id,
                customer   : payload.customer,
                price      : payload.price,
                tax        : payload.tax,
                // bill       : payload.bill,
                currency   : payload.currency,
                rate       : payload.rate,
            }
        },
        loadInvoice(payload){
            var daten = new Object(this.data);
            this.invoiceOptions =  daten.invoice.invoiceTitle

            if(payload.currency > 1) {
                this.rate     = payload.rate;
            }
            // var invoiceAmount = payload.currency ? 1 ? payload.price/payload.rate : payload.price;
            var invoiceAmount = payload.invoice.total_invoice;
            this.invoice_amount = invoiceAmount;
            this.credit_already_allocated = payload.credit_already_allocated
            this.rest = invoiceAmount - payload.credit_already_allocated;
            this.invoice = {
                currency   : daten.invoice.currency,
                supplier   : null,
                supplier_id: null,
                id         : daten.invoice_id,
                price      : null,
                rate       : daten.rate,
                serial     : null
            }
            this.currency = payload.invoice.currency;
            this.credit_memo_balance = payload.total_debit_note - payload.credit_already_allocated;
            this.allocated_credits.items = payload.allocated_credit.map(val => {
                var newResponse = {
                    status: val.status ? 'Posted':'Void',
                    amountPaid: val.payment_amount,
                    value_paid: val.payment_amount,
                };

                return newResponse
            })

        },
        validateState(name) {
            const { $dirty, $error } = this.$v[name];
            return $dirty ? !$error : null;
        },
    },
    computed: {
        getCurrency(){
            var curr = this.currency;
            var res = 'IDR';
            switch (curr) {
                case 2:
                    res = 'SGD';
                    break;
                case 3:
                    res = 'USD';
                    break;
                case 4:
                    res = 'RM';
                    break;
            }
            return res;
        },
        remainingCreditNotes(){
            return this.credit_memo_balance - this.total_allocation
        }
    },
    filters: {
        convertCurrency(num, currency, rate){
                if(currency > 1){
                var converted = Number(num) / rate;
                return Number(converted)
            }else return num
        },
        moneyFormat(num, currency, rate){
            if(currency > 1){
                var converted = Number(num) / rate;
                return Number(converted).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
            }else
                return Number(num).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    }
}
</script>
<style lang="scss">
    .grand-total{
        text-align: center;
        position: relative;
        top: 20%;
        .desc{
            font-size: 20px;
        }
        .nominal{
            font-size: 32px;
        }

    }

    @media screen and (max-width: 990px) {
        .grand-total{
            top: 0;
        }
    }
</style>
