<template>
    <div>
        <table class="table table-sm table-condensed">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Forward Service</th>
                    <th>Shipment Type</th>
                    <th>Container Size/Description of Goods</th>
                    <th>Container No</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in items" :key="index">
                    <td scope="row">
                        <input type="number" :name="'items['+index+'][qty]'" min="1" class="form-control" v-model="item.qty">
                    </td>
                    <td>
                        <select :name="'items['+index+'][forwardingService]'" class="form-control" v-model="item.forwardingService" @change="handleforwardingService(item.forwardingService, index)">
                            <option value="1">LCL</option>
                            <option value="2">FCL</option>
                            <option value="3">BREAKBULK</option>
                        </select>
                    </td>
                    <td>
                        <select v-if="item.forwardingService == 2" type="text" :name="'items['+index+'][shipmentType]'" class="form-control" v-model="item.shipmentType">
                            <option value="1">COC</option>
                            <option value="2">SOC</option>
                        </select>
                    </td>
                    <td>
                        <select v-if="item.forwardingService == 2" type="text" :name="'items['+index+'][containerSize]'" class="form-control" v-model="item.containerSize">
                            <option value="20FT">20FT</option>
                            <option value="40FT">40FT</option>
                        </select>
                        <input v-else type="text" :name="'items['+index+'][containerSize]'" class="form-control" v-model="item.containerSize">
                    </td>
                    <td>
                        <input type="text" :name="'items['+index+'][containerNo]'" class="form-control" v-model="item.containerNo">
                    </td>
                    <td>
                        <button type="button" v-if="index > 0" @click="removeItem(index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="add-row" @click="addItem()" class="btn btn-primary btn-icon text-light"><i class="fas fa-plus"></i></button>
    </div>
</template>
<script>

export default {
    props: {
        rows: Array
    },
    data() {
        return {
            items: [
                {
                    qty: 1,
                    forwardingService: '',
                    shipmentType: '',
                    containerSize: '',
                    containerNo: ''
                }
            ]
        }
    },
    mounted(){
        if(this.rows){
            this.items = [];
            this.rows.forEach((val, index) => {
                this.items.push({
                    qty              : val.qty,
                    forwardingService: val.forwarding_service,
                    shipmentType     : val.shipment_type,
                    containerSize    : val.container_size,
                    containerNo      : val.container_no
                })
            });
        }
    },
    methods: {
        addItem(){
            this.items.push({
                qty: 1,
                forwardingService: '',
                shipmentType: '',
                containerSize: '',
                containerNo: ''
            });
        },
        removeItem(index){
            this.$delete(this.items, index);
        },
        handleforwardingService(value, index){
            if(value != 2){
                this.items[index].shipmentType = '';
                this.items[index].containerSize = '';
            }
        }
    },
    watch: {
        items: {
            deep: true,
            handler(data){
                window.items = this.items.map(item => {
                    return {
                        qty              : item.qty,
                        forwarding_service: item.forwardingService,
                        shipment_type     : item.shipmentType,
                        container_size    : item.containerSize,
                        container_no      : item.containerNo
                    }
                })
                _.map(data, (data) => {
                    data.qty = data.qty < 0 ? 0:data.qty;
                    return data;
                })
            }
        }
    },
}
</script>
