<template>
    <div id="chartAccount">
        <b-modal ref="modalForm" id="modalForm" :title="$t('addAccount')" @ok="handleOk" @hidden="resetModal">
            <b-form @submit.stop.prevent="handleSubmit" id="formCreate" ref="formCreate">
                <b-form-group
                    :label="$t('codeAccountId')+'*'"
                    label-for="inputCodeAcct"
                >
                    <b-form-input
                        id="inputCodeAcct"
                        type="text"
                        v-model.lazy="id"
                    >
                    </b-form-input>
                    <div v-if="!$v.id.required && $v.id.$dirty" class="invalid-feedback d-block">
                        {{ $t('codeAccountId') }} is required!
                    </div>
                </b-form-group>
                <b-form-group
                    :label="$t('groupAccount')"
                    :description="$t('groupAccountInfo')"
                >
                    <select2
                        name="group_account"
                        v-model="groupAccount"
                        :url="'/select/group-account'"
                        :options="groupAccountOptions"
                        dropdownParent="formCreate"
                    >
                    </select2>
                    <!-- <select id="selectGroup"></select> -->
                </b-form-group>
                <b-form-group
                    :label="$t('name')+'*'"
                    label-for="inputName"
                >
                    <b-form-input
                        id="inputName"
                        required
                        type="text"
                        v-model.lazy="name"
                    >
                    </b-form-input>
                    <div v-if="!$v.name.required && $v.name.$dirty" class="invalid-feedback d-block">
                        {{$t('name')}} is required!
                    </div>
                </b-form-group>
                <b-form-group
                    :label="$t('description')"
                    label-for="inputDesc"
                >
                    <b-form-input
                        id="inputDesc"
                        type="text"
                        v-model.lazy="description"
                    >
                    </b-form-input>
                    <div v-if="!$v.description.maxLength && $v.description.$dirty" class="invalid-feedback d-block">
                        {{$t('description')}} may not greater than 100
                    </div>
                </b-form-group>

                <b-form-group
                    :label="$t('setAsGroup')"
                >
                    <b-form-checkbox v-model="setAsGroup" value="1" unchecked-value="0">Yes</b-form-checkbox>
                </b-form-group>

                <b-form-group
                    :label="$t('defaultPosition')"
                >
                    <b-form-select v-model.lazy="defaultPosition" :options="[{value: 1, text: $t('credit')}, {value: 2, text: $t('debet')}]" ></b-form-select>
                </b-form-group>
            </b-form>
        </b-modal>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {{ $t('coa') }}
                            <div class="pull-right">
                                <b-button v-b-modal.modalForm variant="primary" size="sm">
                                <!-- <b-button @click="openModal" variant="primary" size="sm"> -->
                                    <i class="fas fa-plus"></i>
                                    {{ $t('addAccount') }}
                                </b-button>
                            </div>
                        </div>
                        <div class="card-body">
                            <account-list :accounts="lists" :hadGroup="null"></account-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {
    BModal, VBModal, BButton, BForm, BFormInput, BFormGroup, BFormCheckboxGroup, BFormCheckbox, BFormSelect, BFormInvalidFeedback, BPopover
} from 'bootstrap-vue'
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength, or } from 'vuelidate/lib/validators';

export default {
    name: 'chartAccount',
    props: ['lang'],
    mixins:[validationMixin],
    validations() {
        return {
            name : { required },
            description : { maxLength: maxLength(100) },
            id : { required },
        }
    },
    components: {
        BModal, BButton, BForm, BFormInput, BFormGroup, BFormSelect, BFormCheckboxGroup, BFormCheckbox, BFormInvalidFeedback, BPopover
    },
    directives: {
        'b-modal': VBModal
    },
    computed: {
        isGroup(){

        }
    },
    data() {
        return {
            id: null,
            name: '',
            description: '',
            groupAccount: '',
            setAsGroup: 0,
            defaultPosition: 1,
            lists: [],
            serial: null, // this unique
            groupAccountOptions: null,

            popoverOpen: false,
        }
    },
    methods: {
        togglePopover(){
            this.popoverOpen = !this.popoverOpen;
        },
        openModal(){
            this.$refs.modalForm.show();
        },
        resetModal(){
            this.name            = '';
            this.description     = '';
            this.groupAccount    = '';
            this.setAsGroup      = 0;
            this.defaultPosition = 1;
            this.groupAccountOptions = null;
            this.id = null;
            this.serial = null; // this unique
            this.$v.$reset();
        },
        handleOk(modal){
            modal.preventDefault();
            this.handleSubmit();
        },
        async handleSubmit(){
            this.$v.$touch();
            const invalid = this.$v.name.$invalid;
            console.log(this.$v);

            if (invalid) {
                Swal.fire(this.$t('fail'), this.$t('checkForm'), 'warning');

            }else{
                const submitData = {
                    id             : this.id,
                    name           : this.name,
                    description    : this.description,
                    groupAccount   : this.groupAccount,
                    setAsGroup     : this.setAsGroup,
                    serial         : this.serial,
                    defaultPosition: this.defaultPosition
                };
                try{
                    const store = await axios.post('/accounting/coa/store', submitData);
                    console.log(await store.data);
                    Swal.fire(this.$t('success'), this.$t('dataSaved'), 'success');
                    this.resetModal();
                    this.$refs['modalForm'].hide();
                    this.getAccounts();

                }catch({response}){ console.log(response) }
            }

        },
        async getAccounts(){
            try {
                const listCoa = await axios.get('/accounting/coa/list');
                this.lists = await listCoa.data;
            } catch (error) {
                console.log(error.response);

            }
        },
        showAccount($event){
            console.log($event);
            this.resetModal();
            this.id = $event.id;
            this.groupAccount = $event.account_id;
            this.name              = $event.name;
            this.description       = $event.description;
            if($event.group_name && $event.account_id){
                this.groupAccountOptions = {id: $event.account_id, text: $event.group_name};
            }
            this.setAsGroup      = $event.is_group;
            this.serial          = $event.serial;
            this.defaultPosition = $event.default_position;
            // console.log(this.setAsGroup);

            this.$refs['modalForm'].show();
        },
        handleClimbUp($event){
            axios.patch(`/accounting/coa/${$event.id}/up/${$event.serial_number}`)
            .then(() => {
                this.getAccounts();
            });
        },
        handleClimbDown($event){
            axios.patch(`/accounting/coa/${$event.id}/down/${$event.serial_number}`)
            .then(() => {
                this.getAccounts();
            });
        },
        handleRemove($event){
             Swal.fire({
                    title: 'Are you sure ?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                }).then((result) => {
                    if (result.value) {
                        axios.delete(`/accounting/coa/${$event.id}/delete`)
                        .then(() => {
                            this.getAccounts();
                        });
                    }
                });
        }
    },
    created(){
        this.$i18n.locale = this.lang;
        this.$root.$on('handleShow', this.showAccount);
        this.$root.$on('handleRemove', this.handleRemove);
        this.$root.$on('handleClimbUp', this.handleClimbUp);
        this.$root.$on('handleClimbDown', this.handleClimbDown);
    },
    mounted(){
        // $('#selectGroup').select2({
        //     dropdownParent: $('#formCreate'),
        //     allowClear: true,
        //     width: "100%",
        //     placeholder: 'Choose',
        //     theme: 'bootstrap4',
        //     ajax: {
        //         url: '/select/group-account',
        //         dataType: "json",
        //             data(params) {
        //                 return {
        //                     term : params.term || '' ,
        //                     page : params.page || 1,
        //                     page_limit : 10
        //                 };
        //             },
        //         cache: true
        //     }
        // })
        // .on('select2:select', function({ params }){
        //     const { data } = params;
        //     // vm.$emit('payloadItem', data);
        //     console.log(data);
        // });


        this.getAccounts();
    },
}
</script>
<style lang="scss">
    .modal-backdrop{
        background-color: #00001585;
    }
</style>
