<template>
    <currency-input
        :name="name"
        v-bind="options"
        :readonly="readonly"
        :value="value"
        @input="$emit('input', $event)"
        @change="$emit('change', $event)"
        class="form-control"
        ref="rateInput"
    />
</template>
<script>
export default {
    props: ['name', 'readonly', 'value'],
    data() {
        return {
            options: {
                currency: null,
                locale: sessionStorage.getItem('currency'),
                allowNegative: false,
                precision: 2,
                // distractionFree: {hideNegligibleDecimalDigits: false}
            }
        }
    },

}
</script>
