<template>
    <div :class="['row', styling, 'pr-0']">
        <div class="form-group col-lg-4 col-sm-12">
            <label for="">{{ $t('currency') }}</label>
            <select name="currency" id="myCurrency" v-model="currency" class="form-control" :disabled="disabled">
                <option value="1">IDR</option>
                <option value="2">SGD</option>
                <option value="3">USD</option>
                <option value="4">RM</option>
            </select>
        </div>
        <div class="form-group col-lg-4 col-sm-12 pr-0" v-if="currency != 1">
            <label for="">{{$t('exchangeRate')+' '+getCurrency}}</label>
            <currency-input v-bind="options" v-model="rate" :disabled="disabled" :readonly="readonly" @change="handleChekRate" class="form-control" ref="rateInput" />
        </div>
        <input type="hidden" name="rate" :value="rate">
        <div class="form-group col-lg-4 col-sm-12 pr-0" v-if="currency != 1">
            <label for="">{{$t('rateTax')}}</label>
            <currency-input v-bind="options" v-model="rateTax" :disabled="disabled" :readonly="readonly" class="form-control" ref="rateTaxInput" />
        </div>
        <input type="hidden" name="rate_tax" :value="rateTax">
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import { parseCurrency } from "vue-currency-input";

export default {
    props: ['lang', 'styling', 'data', 'disabled', 'readonly'],
    mounted(){
        this.$i18n.locale = this.lang;

        if(this.data){
            const { currency, rate, rate_tax } = this.data;
            this.currency = currency;
            this.rate = Number(rate);
            this.rateTax = Number(rate_tax);
        }
    },
    data() {
        return {
            options: {
                currency: null,
                locale: sessionStorage.getItem('currency'),
                allowNegative: false,
                precision: 2,
                // distractionFree: {hideNegligibleDecimalDigits: false}
            }
        }
    },
    computed: {
        ...mapFields('currencyRate', ['currency', 'rate', 'rateTax']),
        getCurrency() {
            var result = '';
            switch (Number(this.currency)) {
                case 2:
                    result = 'SGD';
                    break;
                case 3:
                    result = 'USD';
                    break;
                case 4:
                    result = 'RM';
                    break;
                default:
                    result = 'IDR';
                    break;
            }
            return result;
        }
    },
    methods: {
        handleChekRate(rate){

            if(this.rate < 1){
                this.rate = 1;
                this.$refs.rateInput.setValue(1.00);
            }
        }
    },
}
</script>
