<template>
    <div class="input-group">
        <date-picker v-model="data" :config="options" class="input-field" />
        <input type="hidden" :name="name" ref="inputChange" :value="getData" :id="name+'_id'">
        <div class="input-group-append">
            <div class="input-group-text"><i class="fas fa-calendar"></i></div>
        </div>
    </div>
</template>
<script>
import datePicker from 'vue-bootstrap-datetimepicker';
import moment from 'moment';
export default {
    props: ['name', 'value'],
    components: { datePicker },
    data() {
        return {
            data: new Date(),
            options: {
                format: 'DD-MM-YYYY hh:mm:ss',
                useCurrent: true,
            }
        }
    },
    computed: {
        getData(){
            return moment(this.data, 'DD-MM-YYYY hh:mm:ss').format('YYYY-MM-DD hh:mm:ss')
        }
    },
    mounted() {
        if(this.value){
            this.data = moment(this.value, 'DD-MM-YYYY hh:mm:ss');
        }

        // this.$refs.inputChange.addEventListener('change', () => console.log(this));

    },
    watch: {
        data(){
            document.getElementById('created_time_id').value = this.getData;
            // window.eventBus = new Vue();
            // window.eventBus.$emit('createdTimeChanged', this.getData)
            // this.$emit('onchange', this.getData);
            // this.$emit('tes', this.getData);
            // console.log(this.$refs.inputChange);
            // this.$emit('input', 'odad')
            // this.$refs.inputChange.$el.change();
            // this.$emit('input', this.getData);
        }
    },
}
</script>
<style lang="scss">
    @import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    .input-field{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
</style>
