<template>
    <div>
        <table id="tbItem" class="table table-sm table-condensed">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>{{$t('description')}}</th>
                    <th>{{$t('price')}}</th>
                    <th>Qty</th>
                    <!-- <th colspan="2" style="text-align: center;">Discount</th> -->
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body-item">
                <tr id="list-item-0" class="list-items" v-for="(row, index) in rows" :key="index">
                    <td width="20%">
                        <select2
                            :options="row.options"
                            :name="'row['+index+'][item_id]'"
                            v-model="row.item_id"
                            :url="url"
                            urlCreate="/item-list/add-form"
                            :required="true"
                            :disabled="isVoid"
                            @payloadItem="detailRow($event ,index)">
                        </select2>
                        <input type="hidden" :name="'row['+index+'][item_name]'" :value="row.item_name">
                    </td>
                    <td width="26%"><input :disabled="isVoid" v-model="row.description" class="form-control row-description" type="text" :name="'row['+index+'][description]'"></td>
                    <td width="20%">
                        <v-currency :disabled="isVoid" v-model="row.price" @change="calculateSubTotal(index)" />
                        <input type="hidden" :name="'row['+index+'][price]'" :value="rate ? row.price * rate:row.price">
                    </td>
                    <td width="12%"><input :disabled="isVoid" v-model="row.qty" @change="calculateSubTotal(index)" min="0" class="form-control row-qty" type="number" :name="'row['+index+'][quantity]'"></td>
                    <!-- <td width="9%"><input v-model="row.discount" @change="calculateSubTotal(index)" class="form-control row-discount" type="number" min="0" :name="'row['+index+'][discount]'"></td>
                    <td width="7%">
                        <select name="discount_type" v-model="row.discountType"  @change="calculateSubTotal(index)" class="form-control">
                            <option value="1">%</option>
                            <option value="2">{{ currency }}</option>
                        </select>
                    </td> -->
                    <td>
                        <!-- <input :value="row.subtotal | thousandSeparator" class="form-control row-subtotal text-right subtotal-row" type="text" :name="'row['+index+'][subtotal]'" readonly> -->
                        <v-currency v-model="row.subtotal" readonly/>
                        <input type="hidden" :name="'row['+index+'][subtotal]'" :value="rate ? row.subtotal * rate: row.subtotal">
                    </td>
                    <td v-if="index > 0">
                        <button v-if="!isVoid" type="button" @click="removeRow(index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button" v-if="!isVoid" id="add-row" @click="addRow()" class="btn btn-sm btn-primary btn-icon text-light"><i class="fas fa-plus"></i></button>

        <table class="table table-sm mt-4">
            <tbody id="grid-inner">
                <tr>
                    <td rowspan="7" width="30%">
                        <div class="row">
                            <div class="form-group col-lg-10">
                                <label for="">{{$t('description')}}</label>
                                <textarea name="description" class="form-control" :disabled="isVoid" rows="4" v-model="description"></textarea>
                            </div>
                            <div class="form-group col-lg-10">
                                <label for="">{{$t('term_and_condition')}}</label>
                                <textarea name="term_and_condition" class="form-control" :disabled="isVoid" rows="4" v-model="term_and_condition"></textarea>
                            </div>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td align="right" colspan="2" width="5%">Subtotal</td>
                    <td align="right" id="subtotal-amount">
                        <!-- {{ getCurrency }} -->
                        {{ subtotalAmount | thousandSeparator }}
                        <input name="subTotal" type="hidden" :value="getSubTotal" />
                    </td>
                </tr>
                <!-- <tr> -->
                    <!-- <td align="right" width="5%">Discount</td>
                    <td width="10%" align="">
                        <select2 :name="'discount'" :options="discountOption" :allowClear="true" :required="false" v-model="discount"  :urlCreate="'/discount'" :url="'/select/discount'" @payloadItem="discAmount($event)">
                        </select2>
                        <input name="subTotalDiscount" type="hidden" :value="subTotalDiscount" />
                    </td> -->
                <!-- </tr> -->
                <tr>
                    <td align="right" colspan="2" width="5%">{{$t('tax')}}</td>
                    <td width="10%" align="">
                        <div v-for="(tax, index) in taxes" :key="index" class="taxes-space">
                            <select2 :name="'tax['+index+'][id]'" :required="taxes.length > 0" @cleared="taxCleared(index)" :disabled="isVoid" v-if="taxes" :options="{id: tax.tax_id, text: tax.description}" :allowClear="true" v-model="taxes[index].id" :urlCreate="'/tax'" url="/select/tax/2" @payloadItem="taxAmount($event, index)"> </select2>
                            <select2 :name="'tax['+index+'][id]'" :required="taxes.length > 0" @cleared="taxCleared(index)" :disabled="isVoid" v-else v-model="taxes[index].tax_id" :urlCreate="'/tax'" :allowClear="true" url="/select/tax/2" @payloadItem="taxAmount($event, index)"> </select2>
                            <button class="btn btn-sm btn-danger" @click="rmvTaxes(index)" v-if="index > 0"><i class="fas fa-trash"></i></button>
                        </div>
                        <button type="button" v-if="!isVoid" @click="addTaxes()" class="btn btn-primary btn-secondary btn-sm btn-icon"><i class="fas fa-plus"></i></button>
                    </td>
                </tr>

                <tr>
                    <td align="right" width="5%" colspan="2" class="light"><strong>Grand total</strong></td>
                    <td align="right" class="light" id="total">
                        <strong>
                            {{ getCurrency }}
                            {{ grandTotal | thousandSeparator }}
                        </strong>
                    </td>
                    <input type="hidden" :value="getGrandTotal" name="grandTotal">
                    <div v-for="(tax, index) in taxes" :key="index" style="display: none;">
                        <input :name="`tax[${index}][amount]`" :value="tax.tax_amount" type="hidden">
                        <input :name="`tax[${index}][type]`" :value="tax.type" type="hidden">
                        <input :name="`tax[${index}][payable_account_id]`" :value="tax.payable_account_id" type="hidden">
                        <input :name="`tax[${index}][receivable_account_id]`" :value="tax.receivable_account_id" type="hidden">
                    </div>
                </tr>
                <tr v-if="debitNoteAllocated">
                    <td align="right" width="5%" colspan="2" class="light">{{ $t('allocated') }}</td>
                    <td align="right" class="light">
                        ({{ debitNoteAllocated | thousandSeparator}})
                    </td>
                </tr>
                <tr v-if="paidAmount">
                    <td align="right" width="5%" colspan="2" class="light">{{ $t('paidAmount') }}</td>
                    <td align="right" class="light">
                        ({{ paidAmount | thousandSeparator}})
                    </td>
                </tr>
                <tr v-if="paidAmount">
                    <td align="right" width="5%" colspan="2" class="light">{{ $t('balance') }}</td>
                    <td align="right" class="light">
                        ({{ (currency > 1 ? (grandTotal-paidAmount-debitNoteAllocated):getGrandTotal-paidAmount-debitNoteAllocated ) | thousandSeparator }})
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import { CurrencyDirective, CurrencyInput } from 'vue-currency-input'
import { mapFields } from 'vuex-map-fields'

export default {
    props: {
        url: String,
        lang: String,
        data: Object,

    },
    components: { CurrencyInput },
    directives: { currency: CurrencyDirective },
    data() {
        return {
            subtotalAmount: 0,
            grandTotal: 0,
            discount: '',
            tax: '',
            discount_amount: 0,
            tax_amount: 0,
            description: '',
            term_and_condition: '',
            taxOption: null,
            discountOption: null,
            taxDetail: null, // for detail purpose
            discountDetail: null,
            paidAmount: 0,
            subTotalDiscount: 0,
            debitNoteAllocated: 0,
            taxes: [
                {
                    tax_id: '', tax_name: '', id: '', text: '', tax_amount: 0, type: 1, payable_account_id: '', receivable_account_id: ''
                }
            ],
            rows: [
                {
                    options: null,
                    selected: false,
                    item_id: '',
                    item_name: '',
                    description: '',
                    price: 0,
                    discountType: 1,
                    qty: 1,
                    discount: 0,
                    subtotal: 0,
                },
            ]
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        var vm = this
        $("#selectQuotationCustomer").change(function() {
            const id = $(this).val()
            $.ajax({
                type: "get",
                url: "/select/customer-qtt-items/"+id,
                dataType: "json"
            })
            .then(({ list_items }) => {
                const items= list_items.map(item => {
                    let newItem = {
                        options: {id: item.item_id, text: item.item_name},
                        selected: false,
                        item_id: item.item_id,
                        item_name: item.item_name,
                        description: item.description,
                        price: item.price,
                        discountType: 1,
                        qty: item.quantity,
                        discount: 0,
                        subtotal: item.subtotal,
                    }
                    return newItem
                })
                vm.rows = items
                console.log('items',items);
                vm.calculateSubTotalAmount();
            })
        })

        $("#selectPo").change(function() {
            const id = $(this).val()
            $.ajax({
                type: "get",
                url: "/select/supplier-po-items/"+id,
                dataType: "json"
            })
            .then(({ list_items }) => {
                const items= list_items.map(item => {
                    let newItem = {
                        options: {id: item.item_id, text: item.item_name},
                        selected: false,
                        item_id: item.item_id,
                        item_name: item.item_name,
                        description: item.description,
                        price: item.price,
                        discountType: 1,
                        qty: item.quantity,
                        discount: 0,
                        subtotal: item.subtotal,
                    }
                    return newItem
                })
                vm.rows = items
                console.log('items',items);
                vm.calculateSubTotalAmount();
            })
        })


        var vm = this;
        if(this.data){
            var obj = new Object(this.data);

            this.term_and_condition = this.data.term_and_condition;
            this.description = this.data.description;

            if(this.data.taxes){
                if(this.data.taxes.length){
                    this.taxes = this.data.taxes;
                    if(this.data.status){
                        this.taxes.map((val, index) => {
                            val.description = val.description+' - '+val.tax_amount+'%';
                            return val;
                        });
                    }
                }
            }

            if(this.data.paidAmount){
                this.paidAmount = this.data.paidAmount;
            }

            if(this.data.discount){
                this.discountOption = {
                    id: this.data.discount.discount_id,
                    text: `${this.data.discount.discount_amount}%-${this.data.discount.description}`
                };

                this.discountDetail = {
                    id: this.data.discount.discount_id,
                    text: `${this.data.discount.discount_amount}%-${this.data.discount.description}`
                };
                this.discount_amount = this.data.discount.discount_amount;

            }
            else if(this.data.discountDetail){

                this.discountOption = {
                    id: this.data.discountDetail.id,
                    text: `${this.data.discountDetail.text}`
                };
                this.discount_amount = this.data.discount_amount;

            }

            // debit note
            if(obj.hasOwnProperty('debit_note')){
                if(obj.debit_note.length) this.debitNoteAllocated = _.sumBy(obj.debit_note, 'credit_already_allocated')
            }

            this.data.list_items && this.data.list_items.forEach(function(val, index){

                var arr = {
                    options: {id: val.item_id, text: val.item_name},
                    description: val.description,
                    price: Number((this.currency == 1) ? val.price : val.price / this.data.rate), // coverted if currency isn't idr
                    oldPrice: Number(val.price),
                    qty: Number(val.quantity || val.qty || 1),
                    discountType: val.discount_type || val.discountType || 1,
                    discount: val.discount,
                    subtotal: Number((this.currency == 1) ? val.subtotal: val.subtotal / this.data.rate), // converted
                    item_name: val.item_name
                }

                // if it created by previous module
                if(obj.hasOwnProperty('copy_form') && obj.currency > 1){
                    arr.price = Number(val.price);
                    arr.subtotal = Number(val.subtotal);

                }

                if(index < 1){
                    this.rows[0] = arr;
                }else{
                    vm.rows.push(arr);
                }
            }, vm);
            this.calculateSubTotalAmount();
        }
    },
    methods: {
        addRow(){
            const newRow = {
                options: null,
                selected: null,
                // item: '',
                description: '',
                price: 0,
                qty: 1,
                discountType: 1,
                discount: 0,
                subtotal: 0,
            };
            this.rows.push(newRow);
        },
        detailRow(payload, index){
            const { description, sell_price, text } = payload;
            this.rows[index].description = description;
            this.rows[index].discountType = 1;
            this.rows[index].oldPrice = sell_price;
            this.rows[index].item_name = text;
            if(this.currency != 1){
                this.rows[index].price = sell_price / this.rate;
                this.rows[index].subtotal = sell_price / this.rate;
            }else{
                this.rows[index].price = sell_price;
                this.rows[index].subtotal = sell_price;
            }

            this.calculateSubTotal(index);
        },
        taxCleared(index){
            this.$set(this.taxes, index, {
                tax_id: '', tax_name: '', id: '', text: '', tax_amount: 0, type: 1, payable_account_id: '', receivable_account_id: ''
            });
            this.calculateTotal();
        },
        calculateSubTotal(index, $event = null){
            var { price, qty, discount, discountType } = this.rows[index];

            var cut = (discount/100);

            // var subtotal = (price*qty) - ((price*qty) * cut);
            var subtotal = price * qty;

            if(discountType == 2){
                subtotal = (price*qty) - discount;
            }
            this.$set(this.rows[index], 'subtotal', subtotal);

            this.calculateSubTotalAmount();
        },
        calculateSubTotalAmount(){
            var subAmount = this.rows.reduce((x, y) => {
                var xSubtotal = Number(x.subtotal);
                var ySubtotal = Number(y.subtotal);

                return {subtotal: xSubtotal + ySubtotal};
            })
            this.subtotalAmount = Number(subAmount.subtotal || 0.00);
            this.subTotalDiscount = (this.discount_amount/100)*this.subtotalAmount;

            this.calculateTotal();
        },
        calculateTotal(){
            // set to global
            window.items = {
                list_items        : this.rows,
                currency          : this.currency,
                rate              : this.rate,
                rate_tax          : this.rateTax,
                term_and_condition: this.term_and_condition,
                description       : this.description,
                discount_amount   : this.discount_amount,
                discountDetail    : this.discountDetail,
                taxes             : this.taxes,
            };

            const { subtotalAmount, discount_amount} = this;

            // let disc = (discount_amount/100)*subtotalAmount;
            // var amount = subtotalAmount - disc;
            var amount = subtotalAmount;

            var pay    = amount;

            // pajak
            var taxes = _.sumBy(this.taxes, o => Number(o.tax_amount));
            var taxNominal = pay * (taxes/100);

            // if(this.currency > 1 && taxes > 0){
            //     taxNominal *= this.rateTax;
            //     console.log('taxNominalRate=',taxNominal);
            // }
            pay += taxNominal;

            this.grandTotal = pay || 0.00;
        },
        removeRow(index){
            this.$delete(this.rows, index);
            this.calculateSubTotalAmount();
        },
        addTaxes(){
            this.taxes.push({
                tax_id: '', tax_name: '', id: '', text: '', tax_amount: 0, type: 1, payable_account_id: '', receivable_account_id: ''
            });
        },
        rmvTaxes(index){
            this.$delete(this.taxes, index);
            this.calculateTotal();
        },
        taxAmount({tax_amount, id, text, type, description, payable_account_id, receivable_account_id}, index){
            this.taxes[index] = {
                id,
                text,
                tax_id: id,
                description: text,
                tax_name: text,
                tax_amount: Number(tax_amount),
                payable_account_id,
                receivable_account_id,
                type
            };
            this.calculateTotal();
        },
        discAmount({ discount_amount, id, text }){
            this.discount_amount = discount_amount || 0;
            this.discountDetail = { id, text }
            this.subTotalDiscount = (discount_amount/100)*this.subtotalAmount;
            this.calculateTotal();
        },
    },
    filters: {
        thousandSeparator(num){
            return  num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
    },
    watch:{
        discount(val){
            if(!val) this.discount_amount = 0;
            this.calculateTotal();
        },
        async rate(rate){
            if(this.currency != 1){
                this.rows.map((val, index) => {
                   val.price = (val.oldPrice / rate);
                   val.subtotal = (val.oldPrice / rate)*val.qty;
                   return val;
               })
            }else{
                this.rows.map((val, index) => {
                   val.price = val.oldPrice;
                   val.subtotal = val.oldPrice * val.qty;
                   return val;
               })
            }

            this.calculateSubTotalAmount();
        },
    },
    computed: {
        ...mapFields('currencyRate', ['currency', 'rate', 'rateTax']),
        options () {
            return {
                value: 0,
                locale: 'de-DE',
                selectedCurrencyOption: 0,
                currencyCode: this.getCurrency,
                distractionFree: true,
                hideCurrencySymbol: true,
                hideGroupingSymbol: true,
                hideNegligibleDecimalDigits: true,
                prefix: null,
                suffix: null,
                precisionEnabled: false,
                precisionRangeEnabled: false,
                precisionFixed: 2,
                precisionRange: [0, 20],
                valueRangeEnabled: false,
                valueRange: [0, 9999],
                minActive: false,
                maxActive: false,
                autoDecimalMode: false,
                valueAsInteger: false,
                allowNegative: false
            }
        },
        getGrandTotal(){
            return this.currency == 1 ? this.grandTotal : this.grandTotal*this.rate;
        },
        getSubTotal(){
            return this.currency == 1 ? this.subtotalAmount: this.subtotalAmount * this.rate;
        },
        isVoid(){
            let obj = new Object(this.data)

            if(obj.hasOwnProperty('isPo')){
                if(obj.isPo && Number(obj.status) == 2) return 2
            }

            if(Number(obj.status) == 0 || (Number(obj.paidAmount) > 0 && Number(obj.status) == 2)){
                return true;
            }
            if(obj.hasOwnProperty('payment_invoice')){
                var sumInvoice = _.sumBy(this.data.payment_invoice, payment => payment.status == 1 ? payment.payment_amount:0)
                return sumInvoice > 0
            }

            return false;
        },
        getCurrency(){
            var curr = Number(this.currency);
            var res = 'IDR';
            switch (curr) {
                case 2:
                    res = 'SGD';
                    break;
                case 3:
                    res = 'USD';
                    break;
                case 4:
                    res = 'RM';
                    break;
            }
            return res;
        },
        dpp(){
            return this.subtotalAmount //- this.subTotalDiscount;
        },
        taxIncrease(){
            if(this.taxes){
                return _.sumBy(this.taxes, o => o.type == 2 ? Number(o.tax_amount):0);
            }else{
                return 0;
            }
        },
        taxDecrease(){
            return _.sumBy(this.taxes, o => o.type == 1 ? Number(o.tax_amount):0);
        }
    }
}
</script>
<style lang="scss">
    .taxes-space{
        margin-bottom: 5px;
        display: flex;
        button{
            border-radius: 0;
        }
    }
    // .form-control:disabled, .form-control[readonly]{
    //     background-color: #fff!important;
    // }
</style>
