<template>
    <div>
        <table id="tbItem" class="table table-sm table-condensed">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>{{$t('description')}}</th>
                    <th>{{$t('price')}}</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="body-item">
                <tr id="list-item-0" class="list-items" v-for="(row, index) in rows" :key="index">
                    <td width="20%">
                        <select2
                            :options="row.options"
                            :name="'row['+index+'][item_id]'"
                            v-model="row.item_id"
                            :url="url"
                            urlCreate="/item-list/add-form"
                            :required="true"
                            :disabled="isPaid"
                            @payloadItem="detailRow($event ,index)">
                        </select2>
                        <input type="hidden" :name="'row['+index+'][item_name]'" :value="row.item_name">
                    </td>
                    <td width="26%"><input :readonly="isPaid" v-model="row.description" class="form-control row-description" type="text" :name="'row['+index+'][description]'"></td>
                    <td width="20%">
                        <v-currency :readonly="isPaid" v-model="row.price" @change="calculateSubTotal(index)" />
                        <input type="hidden" :name="'row['+index+'][price]'" :value="rate ? row.price * rate:row.price">
                    </td>
                    <td width="8%"><input :readonly="isPaid" v-model="row.qty" @change="calculateSubTotal(index)" min="0" class="form-control row-qty" type="number" :name="'row['+index+'][quantity]'"></td>
                    <td>
                        <v-currency v-model="row.subtotal" readonly/>
                        <input type="hidden" :name="'row['+index+'][subtotal]'" :value="rate ? row.subtotal * rate: row.subtotal">
                    </td>
                    <td v-if="index > 0">
                        <button type="button" v-if="!isPaid" @click="removeRow(index)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" v-if="!isPaid" id="add-row" @click="addRow()" class="btn btn-sm btn-primary btn-icon text-light"><i class="fas fa-plus"></i></button>
        <div class="row mt-3">
            <div class="col-lg-7">
                <div class="form-group">
                    <label for="">{{ $t('note') }}</label>
                    <textarea name="note" class="form-control" :readonly="isPaid" cols="12" rows="5" v-model="note"></textarea>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12">

                <table class="table table-sm mt-4">
                    <tbody id="grid-inner">
                        <tr>
                            <td align="right" colspan="" width="5%">{{$t('tax')}}</td>
                            <td width="10%" align="">
                                <div v-for="(tax, index) in taxes" :key="index" class="taxes-space">
                                    <select2 :name="'tax['+index+'][id]'" :disabled="isPaid" :required="taxes.length > 0" v-if="taxes" @cleared="taxCleared(index)" :options="{id: tax.tax_id, text: tax.description}" :allowClear="!isPaid" v-model="taxes[index].id" :urlCreate="'/tax'" url="/select/tax/2" @payloadItem="taxAmount($event, index)"> </select2>
                                    <select2 :name="'tax['+index+'][id]'" :disabled="isPaid" :required="taxes.length > 0" v-else @cleared="taxCleared(index)" v-model="taxes[index].tax_id" :urlCreate="'/tax'" :allowClear="!isPaid" url="/select/tax/2" @payloadItem="taxAmount($event, index)"> </select2>
                                    <button class="btn btn-sm btn-danger" @click="rmvTaxes(index)" v-if="index > 0"><i class="fas fa-trash"></i></button>
                                </div>
                                <button type="button" v-if="!isPaid" @click="addTaxes()" class="btn btn-primary btn-secondary btn-sm btn-icon"><i class="fas fa-plus"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="10%">Total</td>
                            <td align="right" id="subtotal-amount">
                                {{ getCurrency }} {{ grandTotalAmount | thousandSeparator }}

                                <div v-for="(tax, index) in taxes" :key="index" style="display: none;">
                                    <input :name="`tax[${index}][amount]`" :value="tax.tax_amount" type="hidden">
                                    <input :name="`tax[${index}][type]`" :value="tax.type" type="hidden">
                                    <input :name="`tax[${index}][payable_account_id]`" :value="tax.payable_account_id" type="hidden">
                                    <input :name="`tax[${index}][receivable_account_id]`" :value="tax.receivable_account_id" type="hidden">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="grandTotal" :value="getGrandTotal" />
                <input type="hidden" name="subTotal" :value="subtotalAmount" />
            </div>
        </div>
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'

export default {
props: ['url', 'lang', 'data'],
    data() {
        return {
            grandTotalAmount: 0,
            subtotalAmount: 0,
            discount_amount: 0,
            taxes: [
                {
                    tax_id: '', tax_name: '', id: '', text: '', tax_amount: 0, type: 1, payable_account_id: '', receivable_account_id: ''
                }
            ],
            note: '',
            rows: [
                {
                    options: null,
                    selected: false,
                    item_id: '',
                    item_name: '',
                    description: '',
                    price: 0,
                    qty: 1,
                    subtotal: 0,
                },
            ]
        }
    },
    mounted(){
        var vm = this
        if(this.data){
            var obj = new Object(this.data);

            this.data.list_items && this.data.list_items.forEach(function(val, index){

                var arr = {
                    options    : {id: val.item_id, text: val.item_name},
                    description: val.description,
                    price      : this.currency > 1 ? Number(val.price)/this.rate:Number(val.price),
                    qty        : val.quantity || val.qty || 1,
                    subtotal   : this.currency > 1 ? Number(val.subtotal)/this.rate:Number(val.subtotal),
                    item_name  : val.item_name
                }
                // if it created by previous module
                if(obj.hasOwnProperty('copy_form') && obj.currency > 1){
                    arr.price = Number(val.price);
                    arr.subtotal = Number(val.subtotal);
                }

                if(index < 1){
                    this.$set(this.rows, 0, arr);
                }else{
                    vm.rows.push(arr);
                }
            }, vm);

            // create credit note dari invoice
            if(this.data.taxes){
                this.taxes = this.data.taxes;
            }

            // untuk show
            if(this.data.taxing){
                if(this.data.taxing.length){
                    this.taxes = this.data.taxing;
                    this.taxes.map((val, index) => {
                        val.description = val.description+' - '+val.tax_amount+'%';
                        return val;
                    });
                }
            }

            if(this.data.note){
                this.note = this.data.note;
            }

            // this.calculateTotalAmount();
            this.calculateSubTotalAmount();
        }
    },
    created() {
        this.$i18n.locale = this.lang;
    },
    methods: {
        isVoid(){
            let obj = new Object(this.data)

            if(obj.hasOwnProperty('isPo')){
                if(obj.isPo && Number(obj.status) == 2) return 2
            }

            if(Number(obj.status) == 0 || (Number(obj.paidAmount) > 0 && Number(obj.status) == 2)){
                return true;
            }
            if(obj.hasOwnProperty('payment_invoice')){
                var sumInvoice = _.sumBy(this.data.payment_invoice, payment => payment.status == 1 ? payment.payment_amount:0)
                return sumInvoice > 0
            }

            return false;
        },
        addRow(){
            const newRow = {
                options: null,
                selected: null,
                description: '',
                price: 0,
                qty: 1,
                discountType: 1,
                discount: 0,
                subtotal: 0,
            };
            this.rows.push(newRow);
        },
        detailRow(payload, index){
            const { description, sell_price, text } = payload;
            this.rows[index].description = description;
            this.rows[index].oldPrice = sell_price;
            this.rows[index].item_name = text;
            if(this.currency > 1){
                this.rows[index].price = sell_price / this.rate;
                this.rows[index].subtotal = sell_price / this.rate;
            }else{
                this.rows[index].price = sell_price;
                this.rows[index].subtotal = sell_price;
            }
            this.calculateSubTotal(index);
        },
        taxCleared(index){
            this.$set(this.taxes, index, {
                tax_id: '', tax_name: '', id: '', text: '', tax_amount: 0, type: 1, payable_account_id: '', receivable_account_id: ''
            });
            this.calculateTotalAmount();
        },
        calculateSubTotal(index, $event = null){
            var { price, qty, discount, discountType } = this.rows[index];

            var subtotal = (price*qty);

            this.$set(this.rows[index], 'subtotal', subtotal);

            this.calculateSubTotalAmount()
            // this.calculateTotalAmount();
        },
        calculateTotalAmount(){
            // var subAmount = this.rows.reduce((x, y) => {
            //     var xSubtotal = Number(x.subtotal);
            //     var ySubtotal = Number(y.subtotal);
            //     return {subtotal: x.subtotal + y.subtotal}
            // })
            var subAmount = _.sumBy(this.rows, row => row.subtotal);
            let taxIncrease = _.sumBy(this.taxes, o => o.type == 2 ? Number(o.tax_amount):0);

            var pay = subAmount;
            var taxDec = 0;
            var taxInc = 0;
            var taxes  = 0;

            // if(taxIncrease > 0){
            //     taxInc  = (taxIncrease/100)*pay;
            //     taxes  = pay + taxInc;
            //     pay  =  taxes;
            // }

            var taxes = _.sumBy(this.taxes, o => Number(o.tax_amount));
            var taxNominal = pay * (taxes/100);
            pay += taxNominal;

            this.grandTotalAmount = pay;
            window.items = {
                list_items        : this.rows,
                term_and_condition: this.term_and_condition,
                discount_amount   : this.discount_amount,
                discountDetail    : this.discountDetail,
                taxes             : this.taxes,
            };
        },
        addTaxes(){
            this.taxes.push({
                id: '', text: '', tax_amount: 0, type: 1
            });
        },
        rmvTaxes(index){
            this.$delete(this.taxes, index);
            this.calculateTotalAmount();
        },
        taxAmount({tax_amount, id, text, type, description, payable_account_id, receivable_account_id}, index){
            this.taxes[index] = {
                id,
                text,
                tax_id: id,
                description: text,
                tax_name: text,
                tax_amount: Number(tax_amount),
                payable_account_id,
                receivable_account_id,
                type
            };
            this.calculateTotalAmount();
        },
        removeRow(index){
            this.$delete(this.rows, index);
            this.calculateTotalAmount();
        },
        hasOwn(obj, key){
            const myObject = new Object(obj);
            return myObject.hasOwnProperty(key);
        },
        calculateSubTotalAmount(){
            // var subAmount = this.rows.reduce((x, y) => {
            //     var xSubtotal = Number(x.subtotal);
            //     var ySubtotal = Number(y.subtotal);

            //     return {subtotal: xSubtotal + ySubtotal};
            // })
            var subAmount = _.sumBy(this.rows, row => row.subtotal);
            console.log('SUB_TOTAL', subAmount);

            this.subtotalAmount = subAmount.subtotal || 0;
            // this.subtotalAmount = ;

            this.calculateTotalAmount();
        },
    },
    computed: {
        ...mapFields('currencyRate', ['currency', 'rate', 'rate_tax']),
        getCurrency(){
            var curr = this.currency;
            var res = 'IDR';
            switch (Number(curr)) {
                case 2:
                    res = 'SGD';
                    break;
                case 3:
                    res = 'USD';
                    break;
                case 4:
                    res = 'RM';
                    break;
            }
            return res;
        },
        getGrandTotal(){ //subtotal amount
            return this.currency == 1 ? this.grandTotalAmount : this.grandTotalAmount*this.rate;
        },
        isPaid(){
            if(this.data){
                if(this.data.status == 2) return true;
            }else{
                return false;
            }
        }
    },
    watch: {
        async rate(rate){
            if(this.currency != 1){
                this.rows.map((val, index) => {
                   val.price = (val.oldPrice / rate);
                   val.subtotal = (val.oldPrice / rate)*val.qty;
                   return val;
               })
            }else{
                this.rows.map((val, index) => {
                   val.price = val.oldPrice;
                   val.subtotal = val.oldPrice * val.qty;
                   return val;
               })
            }

            this.calculateSubTotalAmount();
            // this.calculateTotalAmount();
        },
    },
    filters: {
        thousandSeparator(num){
            return  num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
    },
}
</script>
<style lang="scss">
    // .form-control:disabled, .form-control[readonly]{
    //     background-color: #fff!important;
    // }
    .taxes-space{
        margin-bottom: 5px;
        display: flex;
        button{
            border-radius: 0;
        }
    }
</style>
