<template>
    <div>
        <button @click="unduh()" class="btn btn-sm btn-success btn-print">Print</button>
        <div class="container page-print" ref="content">

            <div class="row my-4 letterhead">
                <div class="col-lg-7 letterhead-body">
                    <!-- <div style="padding: 0;">
                        <img :src="web.logo" class="logo" alt="logo">
                        <div class="company-name">
                            {{ web.company.name }}
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-5 letterhead-body px-0" :style="{justifyContent: (data.status == 1? 'left':'space-around')}">
                    <div class="text-center text-uppercase">
                        <p>ORIGINAL COPY</p>
                        <p>{{$t('purchaseOrder')}}</p>
                    </div>
                    <div class="info-document" v-if="data.status == 1">
                        {{ getStatusDoc }}
                    </div>
                </div>
            </div>
            <div class="row text-uppercase">
                <div class="col-lg-6 printer-header">
                    <div class="col-lg-4 px-2">
                        BILLING PARTY :
                    </div>
                    <div class="col-lg-5 px-2">
                        {{ data.supplier.company }}
                        <br>
                        {{ data.supplier.address }}
                    </div>
                </div>
                <div class="col-lg-4 printer-header">
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">PO NO</div>
                        <div class="col-lg-6 px-0">PO {{ data.serial }}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('poDate')}}</div>
                        <div class="col-lg-6 px-0">{{ data.po_date | dateFormat}}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('shippingDate')}}</div>
                        <div class="col-lg-6 px-0">{{ data.shipping_date | dateFormat}}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('currency')}}</div>
                        <div class="col-lg-6 px-0">{{ data.currency | getCurrency}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table-item mt-2" >
                    <thead class="text-uppercase">
                        <tr>
                            <td width="6%"> NO </td>
                            <td>{{ $t('name') }}</td>
                            <td> {{ $t('description') }} </td>
                            <td> {{ $t('quantity') }} </td>
                            <td> {{ $t('price') }} </td>
                            <td> {{ $t('amount') }} </td>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr v-for="(item, index) in data.list_items" :key="index">
                            <td class="text-center"> {{index+1}} </td>
                            <td class="text-center"> {{ item.item_name }} </td>
                            <td class="text-center"> {{ item.description }} </td>
                            <td class="text-center"> {{ item.quantity }} </td>
                            <td class="text-center"> {{ (data.currency == 1 ? item.price:item.price/data.rate) |formatCurrency }} </td>
                            <td class="text-right"> {{ (data.currency == 1 ? item.subtotal:item.subtotal/data.rate) | formatCurrency}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="row my-2">
                <div class="col-lg-2 pr-0">
                    {{$t('say')}}:
                </div>
                <div class="col-lg-6 px-0">
                    <div class="say-amount text-capitalize px-2">
                        {{ data.currency | getCurrency}}:
                        {{ toWords(grandTotal) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="total-amount p-1">
                        <div>SUB TOTAL</div>
                        <div> {{ data.currency | getCurrency }} {{ (this.data == 1 ? subtotal: subtotal/data.rate) | formatCurrency}} </div>
                    </div>
                </div>
            </div> -->
            <div class="row my-2">
                <div class="col-lg-8 pr-0">
                    <div class="box-description">
                        <div class="box-description-title">Description :</div>
                        <div class="box-description-body">
                            {{ data.description }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- <div class="tax-amount p-1 text-uppercase">
                        <div>{{ $t('tax') }}</div>
                        <div> {{ data.currency | getCurrency }} {{ (data.currency == 1?totalTax:totalTax/data.rate) | formatCurrency }} </div>
                    </div> -->
                    <div class="total-amount text-uppercase my-2 p-1">
                        <div>{{ $t('amount') }}</div>
                        <div>
                            {{ data.currency | getCurrency }}
                            {{ grandTotal | formatCurrency }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 text-center">
                <div class="col-lg-12 text-uppercase note-info">
                    **{{ $t('generateQuotation') }}**
                </div>
                <div class="col-lg-12">
                    <div class="term-box">
                        <div class="term-title"><b>IMPORTANT NOTES :</b></div>
                        <span v-html="data.term_and_condition"></span>
                    </div>
                </div>
                <div class="col-lg-12 page-footer">
                    <div class="info-footer">
                        <div v-if="web.address"> {{ web.address }}, </div>
                        <div v-if="web.phone && web.email"> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import html2pdf from 'html2pdf.js';
export default {
    props: ['data', 'web', 'lang'],
    data() {
        return {
            subtotal: 0,
            totalTax: 0,
            grandTotal: 0
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        var subtotal  = _.sumBy(this.data.list_items, items => items.subtotal)
        this.subtotal = subtotal ;
        var totalTax  = _.sumBy(this.data.taxes, tax => tax.tax_amount);
        var ppn       = (totalTax/100)*subtotal;
        this.totalTax = ppn;
        var grandTotal = subtotal + ppn;
        if(this.data.currency != 1){
            grandTotal /= this.data.rate;
        }
        this.grandTotal = grandTotal;
        // this.unduh();
    },
    methods: {
        unduh(){
            const element = this.$refs.content;
            var opt = {
                margin     : [0, 0],
                filename   : 'PO'+this.data.serializing+'_'+this.data.supplier.first_name+' '+this.data.supplier.last_name+'pdf',
                image      : { type : 'jpeg', quality: 1 },
                html2canvas: { scale: 4, letterRendering: true, dpi: 192, },
                jsPDF      : { unit: 'in', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().set(opt).from(element).save();
        },
        toWords(s){
            // American Numbering System
            var th = ['','thousand','million', 'billion','trillion'];
            // uncomment this line for English Number System
            // var th = ['','thousand','million', 'milliard','billion'];
            var decimal = 'point ';
            var hundred = 'hundred ';
            var dg = ['zero','one','two','three','four', 'five','six','seven','eight','nine'];
            var tn = ['ten','eleven','twelve','thirteen', 'fourteen','fifteen','sixteen', 'seventeen','eighteen','nineteen'];
            var tw = ['twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];
            if(this.lang == 'id'){
                th = ['','ribu','juta', 'miliar','triliun'];
                dg = ['nol','satu','dua','tiga','empat', 'lima','enam','tujuh','delapan','sembilan'];
                tn = ['sepuluh','sebelas','duabelas','tigabelas', 'empatbelas','limabelas','enambelas', 'tujuhbelas','delapanbelas','sembilanbelas'];
                tw = ['duapuluh','tigapuluh','empatpuluh','limapuluh', 'enampuluh','tujuhpuluh','delapanpuluh','sembilanpuluh'];
                decimal = 'koma ';
                hundred = 'ratus';
            }
            s = s.toString();
            s = s.replace(/[\, ]/g,'');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1) x = s.length;
            if (x > 15) return 'too big';
            var n = s.split('')
            var str = '';
            var sk = 0;
            for (var i=0; i < x; i++) {
                if ((x-i)%3==2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i+1])] + ' ';
                        i++;
                        sk=1;
                    } else if (n[i]!=0) {
                        str += tw[n[i]-2] + ' ';
                        sk=1;
                    }
                } else if (n[i]!=0) {
                    if(this.lang == 'id'){
                        if (dg[n[i]] == "satu" && ((x - i) % 3 == 0 || (x - i) % 2 == 0)) {
                            str += 'se';
                        }else{
                            str += dg[n[i]] +' ';
                        }
                    }else{
                        str += dg[n[i]] +' ';
                    }

                    if ((x-i)%3==0) str += hundred;
                    sk=1;
                } if ((x-i)%3==1) {
                    if (sk) str += th[(x-i-1)/3] + ' ';
                    sk=0;
                }
            }

            if (x != s.length) {
                var y = s.length;
                str +=  decimal;
                for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
            }
            return str.replace(/\s+/g, ' ');
        }
    },
    computed: {
        getStatusDoc(){
            return this.data.status == 1 ? 'DRAFT' : '';
        }
    },
    filters: {
        dateFormat(tanggal){
            return moment(tanggal).format('DD MMMM YYYY')
        },
        formatCurrency(num){
            return  num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
        getCurrency(curr){
            var currency = 'IDR';
            switch (curr) {
                case 2:
                    currency = 'SGD';
                    break;
                case 3:
                    currency = 'USD';
                    break;
                case 4:
                    currency = 'RM';
                    break;
            }
            return currency;
        },

    }
}
</script>
<style lang="scss">
    .btn-print{
        position: absolute;
        right: 30%;
        top: 4%;
    }

    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .letterhead{
        font-size: 10px;
        font-weight: bold;

        .letterhead-body{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            justify-content: left;
            div{
                padding: 15px 10px;
            }
            .company-name{
                padding: 0;
                color: #568ed3;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        margin-top: 7%;
        width: 650px;
        background: #fff;
        height: auto; //915px

        position: relative;

        .info-document{
            // position: absolute;
            color: rgba(103, 155, 197, 0.473);
            top: 20px;
            right: 15px;
            font-size: 34px;
        }
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        border: 0.5px #000 solid;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 360px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;
        white-space: pre-line;

        .box-description-title{
            opacity: 0.8;

        }
        .box-description-body{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .term-box{
        font-size: 9px;
        white-space: pre-line;
        text-align: left;
        // border: 1px solid #000;
        // padding: 3px;
        .term-title{
            font-size: 11px;
            font-weight: 600;
            opacity: 0.8;
        }
    }
</style>
