<template>
    <div>
        <button @click="unduh()" class="btn btn-sm btn-success btn-print">Print</button>
        <div class="container page-print" ref="content">
            <div class="row my-4">
                <div class="col-lg-8 printer-header">
                    <div>
                        <img :src="web.logo" class="logo" alt="logo">
                        <div class="company-name">
                            {{ web.company.name }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 printer-header px-0">
                    <div class="text-center text-uppercase">
                        <p>{{$t('journalVoucher')}}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">{{ $t('date') }}</div>
                        <div class="col-lg-8">: {{ getDate(data.transaction_at) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">No {{$t('journal')}}</div>
                        <div class="col-lg-8">: BKK{{ data.serializing }}</div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-4">{{ $t('description') }}</div>
                        <div class="col-lg-8">: {{ data.description }}</div>
                    </div> -->
                </div>
            </div>
            <!-- <div>
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-10 printer-header offset-lg-2">
                            <div class="row">
                                <div class="col-lg-4">{{ $t('date') }}</div>
                                <div class="col-lg-8">: {{ getDate(data.transaction_at) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">{{ $t('code') }}</div>
                                <div class="col-lg-8">: {{ data.code }}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">{{ $t('description') }}</div>
                                <div class="col-lg-8">: {{ data.description }}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
            <div>
                <table class="table-item mt-2">
                    <thead>
                        <tr class="text-center">
                            <th>{{ $t('codeAccount') }}</th>
                            <th>{{ $t('description2') }}</th>
                            <th>{{ $t('debet') }}</th>
                            <th>{{ $t('credit') }}</th>
                            <th> {{ $t('rate') }} </th>
                            <th>Memo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in data.details" :key="index">
                            <td :class="item.credit ? 'text-right':''">{{ item.account.account_id+' '+item.account.name }}</td>
                            <td>{{ item.description }}</td>
                            <td class="text-center">{{ getMoney(item.debet) }} </td>
                            <td class="text-center">{{ getMoney(item.credit) }} </td>
                            <td class="text-center" v-if="data.parent && index == 0">
                                {{ $t('currency') }} {{ data.parent.currency | getCurrency}}
                            </td>
                            <td v-else-if="data.parent && index == 1">
                                {{ $t('rate') }} {{ getMoney(data.parent.rate)}}
                            </td>
                            <td v-else-if="data.parent && data.parent.taxes">
                                <span v-if="(data.parent.taxes[0].receivable_account_id == item.account_id || data.parent.taxes[0].payable_account_id == item.account_id) && data.parent.rate_tax">
                                    {{ $t('rateTax') }} {{ getMoney(data.parent.rate_tax)}}
                                </span>
                            </td>
                            <td v-else></td>
                            <td class="text-center">{{ item.memo }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-center journal-total">IDR {{getDebit}}</td>
                            <td class="text-center journal-total">IDR {{getCredit}}</td>
                            <td class="text-center journal-total"></td>
                            <td class="journal-total"></td>
                        </tr>
                    </tfoot>
                </table>

                <div class="box-description col-md-8 mt-2">
                    <div class="box-description-title">{{ $t('description') }}</div>
                    <div class="box-description-body">{{ data.description }}</div>
                </div>
            </div>
            <div class="row mt-3 text-center">
                <div class="col-lg-12 text-uppercase note-info">
                    **{{ $t('generateJournal') }}**
                </div>
                <div class="col-lg-12">
                    <div style="font-size: 10px;">
                        {{ data.term_and_condition }}

                    </div>
                </div>
                <!-- <hr class="line-footer"> -->
                <div class="col-lg-12 page-footer">
                    <div class="info-footer" v-if="web.address">
                        <div> {{ web.address }}, </div>
                        <div v-if="web.phone && web.email"> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import html2pdf from 'html2pdf.js';
import moment from 'moment';

export default {
    props: ['lang', 'web', 'data'],
    mounted() {
        this.$i18n.locale = this.lang;
        // this.unduh();
    },
    methods: {
        unduh(){
            const element = this.$refs.content;
            var opt = {
                margin     : 0,
                filename   : 'Jurnal_voucher_ '+this.data.code+'.pdf',
                image      : { type : 'jpeg', quality: 1 },
                html2canvas: { scale: 4, letterRendering: true, dpi: 192, },
                jsPDF      : { unit: 'in', format: 'a5', orientation: 'landscape' }
            };
            html2pdf().set(opt).from(element).save();
        },
        getDate(tanggal){
            return moment(tanggal).format('DD-MM-YYYY')
        },
        getMoney(e){
            return e.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    },
    computed: {
        getDebit(){
            let debets = _.sumBy(this.data.details, journal => Number(journal.debet));
            return debets.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        },
        getCredit(){
            let credits = _.sumBy(this.data.details, journal => Number(journal.credit));
            return credits.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    },
    filters: {
        getCurrency(curr){
            var currency = 'IDR';
            switch (curr) {
                case 2:
                    currency = 'SGD';
                    break;
                case 3:
                    currency = 'USD';
                    break;
                case 4:
                    currency = 'RM';
                    break;
            }
            return currency;
        },
    }
}
</script>
<style lang="scss">
    .btn-print{
        position: absolute;
        right: 30%;
        top: 0%;
    }
    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        margin-top: 2%;
        // width: 500px;
        // height: 1000px;
        // height: 148mm;
        max-height: 148mm;
        width: 210mm;
        // width: 148mm;
        // height: 210mm;

        padding-right: 25px;

        background: #fff;
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        border: 0.5px #000 solid;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 200px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead tr th{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                    padding: 0 4px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
        tfoot{
            border-top: #000 solid 1px;
            .journal-total{
                border-left: #000 solid 1px;
                border-right: #000 solid 1px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;

        .box-description-title{
            opacity: 0.8;
            font-weight: 600;

        }
        .box-description-body{
            color: #000;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>

