<template>
    <div>
        <button @click="unduh()" class="btn btn-sm btn-success btn-print">Print</button>
        <div class="container page-print" ref="content">
            <div class="row mt-4 letterhead">
                <div class="col-lg-7 letterhead-body px-0">

                </div>
                <div class="col-lg-5 letterhead-body px-0" :style="{justifyContent: (data.status == 1? 'left':'flex-end')}">
                    <div class="text-center text-uppercase text-copy">
                        <p class="mb-0">ORIGINAL COPY</p>
                        <p v-if="data.is_invoice">INVOICE</p>
                        <p v-else>Debit Note</p>
                    </div>
                    <div class="info-document" v-if="data.status == 1">
                        {{ getStatusDoc }}
                    </div>
                </div>
            </div>
            <div class="row text-uppercase pt-4">
                <div class="col-lg-6 printer-header">
                    <div class="col-lg-12 pl-1">
                        BILLING PARTY :
                    </div>
                    <div class="col-lg-12 row px-1">
                        <span class="col-lg-12">{{ data.customer.company }}</span>
                        <span class="col-lg-8 font-weight-normal">{{ data.customer.address }}</span>
                    </div>
                </div>
                <div class="col-lg-6 printer-header pt-4">
                    <div class="row my-0" v-if="data.is_invoice">
                        <div class="col-lg-6 px-0" >INVOICE NO</div>
                        <div class="col-lg-6 px-0">INV{{ data.serializing }}</div>
                    </div>
                    <div v-else>
                        <div class="col-lg-6 px-0">DEBIT NOTE NO</div>
                        <div class="col-lg-6 px-0">DN{{ data.serializing }}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{ data.is_invoice ? $t('invoiceDate') : $t('debitNoteDate')}}</div>
                        <div class="col-lg-6 px-0">{{ data.invoice_date | dateFormat}}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('dueDate')}}</div>
                        <div class="col-lg-6 px-0">{{ data.due_date | dateFormat }}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('currency')}}</div>
                        <div class="col-lg-6 px-0">{{ data.currency | getCurrency}}</div>
                    </div>
                    <div class="row my-0">
                        <div class="col-lg-6 px-0">{{$t('term_of_payment')}}</div>
                        <div class="col-lg-6 px-0">{{ data.term_of_payment | termPayment}}</div>
                    </div>
                </div>
            </div>
            <div class="row printer-header">
                <div class="col-lg-4 pl-0 pt-2">
                    ATTN: {{ data.attn }}
                </div>
            </div>
            <div class="row">
                <table class="table-inform text-uppercase">
                    <tr>
                        <td>
                            {{ $t('vessel') }} {{ data.vessel }}
                        </td>
                        <td>
                            {{ $t('voyage') }} {{ data.voyage }}
                        </td>
                        <td>
                            ETA {{ data.eta | dateFormat }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            B/L NO {{ data.bl_no }}
                        </td>
                        <td>
                            {{ $t('from') }} {{ data.from }}
                        </td>
                        <td>
                            {{$t('to')}} {{ data.to }}
                        </td>
                    </tr>
                </table>
                <table class="table-item mt-2" >
                    <thead class="text-uppercase">
                        <tr>
                            <td width="6%"> NO </td>
                            <td >{{ $t('name') }}</td>
                            <td width="20%"> {{ $t('description') }} </td>
                            <td width="10%"> QTY </td>
                            <td width="15%"> {{ $t('price') }} </td>
                            <td width="15%"> {{ $t('amount') }} </td>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr v-for="(item, index) in data.list_items" :key="index" class="my-2">
                            <td class="text-center"> {{index+1}} </td>
                            <td class="text-left px-2"> {{ item.item_name }} </td>
                            <td class="text-left px-2"> {{ item.description }} </td>
                            <td class="text-center"> {{ item.quantity }} </td>
                            <td class="text-right px-2"> {{ (data.currency == 1 ? item.price:item.price/data.rate) |formatCurrency }} </td>
                            <td class="text-right px-2"> {{ (data.currency == 1 ? item.subtotal:item.subtotal/data.rate) | formatCurrency}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row my-2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-7 px-0">
                            <div class="box-description">
                                <div class="box-description-title">{{ $t('description') }} :</div>
                                <div class="box-description-body">
                                    <span v-html="data.description"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pt-0 pr-0">
                            <div class="col-lg-12 px-0">
                                <div class="total-amount text-uppercase font-weight-bold mb-1 px-1">
                                    <div>{{ $t('amount') }}</div>
                                    <div>
                                        {{ data.currency | getCurrency }}
                                        {{ grandTotal | formatCurrency }}
                                    </div>
                                </div>

                                <div class="total-amount text-uppercase font-weight-bold my-1 px-1" v-if="paidAmount">
                                    <div>{{ $t('paidAmount') }}</div>
                                    <div>
                                        ({{ data.currency | getCurrency }} {{ paidAmount | formatCurrency }})
                                    </div>
                                </div>
                                <div class="total-amount text-uppercase font-weight-bold my-1 px-1" v-if="balanceAmount">
                                    <div>{{ $t('balance') }}</div>
                                    <div>
                                        {{ data.currency | getCurrency }}
                                        {{ balanceAmount | formatCurrency }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-9 row mt-2 ml-0 pl-1 pr-0" style="font-size: 10px;">
                    <div>Cheque should be crossed and made payable to <span class="text-uppercase">{{ web.company.name }}</span> Payment via Telegraphic Transfer, bank details are as follow: </div>
                    <!-- <div class="" v-if="web.account_owner">{{ $t('account_name') + ' : ' + web.account_owner }}</div> -->
                    <div class="row  w-100">
                        <div class="col-lg-8">
                            <div class="d-flex flex-row font-weight-bold" style="font-size: 12px;" v-if="web.account_owner">
                                <span style="width: 30%;">Account Name</span>
                                <span style="width: 4%;">:</span>
                                <span style="width: 66%;">{{ web.account_owner }}</span>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row font-weight-bold" v-if="web.bank_account">
                                    <span style="width: 41.5%;">Bank Name</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 50%;">{{ web.bank_account }}</span>
                                </div>
                                <div class="d-flex flex-row font-weight-bold" v-if="web.account">
                                    <span style="width: 41.5%;">A/C No. (IDR)</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 50%;">{{ web.account }}</span>
                                </div>
                                <div class="d-flex flex-row" v-if="web.bank_code">
                                    <span style="width: 41.5%;">Bank Code</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 50%;">{{ web.bank_code }}</span>
                                </div>
                                <div class="d-flex flex-row" v-if="web.swift_code">
                                    <span style="width: 41.5%;">Swift Code</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 50%;">{{ web.swift_code }}</span>
                                </div>
                                <!-- <span v-if="web.bank_account">Bank Account : {{ web.bank_account }}</span>
                                <span v-if="web.account">{{ $t('account') }} : {{ web.account }}</span>
                                <span v-if="web.bank_code">{{ $t('bank_code') }} : {{ web.bank_code }}</span>
                                <span v-if="web.swift_code">{{ $t('swift_code') }} : {{ web.swift_code }}</span> -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row" v-if="web.bank_account_secondary">
                                    <span style="width: 35%;">Bank Name</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 60%;">{{ web.bank_account_secondary }}</span>
                                </div>
                                <div class="d-flex flex-row font-weight-bold" v-if="web.account_secondary">
                                    <span style="width: 35%;">A/C No. (SGD)</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 60%;">{{ web.account_secondary }}</span>
                                </div>
                                <div class="d-flex flex-row" v-if="web.bank_code_secondary">
                                    <span style="width: 35%;">Bank Code</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 60%;">{{ web.bank_code_secondary }}</span>
                                </div>
                                <div class="d-flex flex-row" v-if="web.swift_code_secondary">
                                    <span style="width: 35%;">Swift Code</span>
                                    <span style="width: 5%;">:</span>
                                    <span style="width: 60%;">{{ web.swift_code_secondary }}</span>
                                </div>
                                <!-- <span v-if="web.bank_account_secondary">{{ $t('bank_account') }} : {{ web.bank_account_secondary }}</span>
                                <span v-if="web.account_secondary">{{ $t('account') }} : {{ web.account_secondary }}</span>
                                <span v-if="web.bank_code_secondary">{{ $t('bank_code') }} : {{ web.bank_code_secondary }}</span>
                                <span v-if="web.swift_code_secondary">{{ $t('swift_code') }} : {{ web.swift_code_secondary }}</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 text-center" id="term">
                <div class="col-lg-12 text-uppercase note-info">
                    **{{ data.is_invoice ? $t('generateInvoice') : $t('generateDebitNote') }}**
                </div>
                <div class="col-lg-12" >
                    <div class="term-box">
                        <div class="term-title"><b>IMPORTANT NOTES :</b></div>
                        <span v-html="data.term_and_condition"></span>
                    </div>
                </div>
                <hr class="line-footer">
                <div class="col-lg-12 page-footer">
                    <div class="info-footer">
                        <div class="font-weight-bold" v-if="web.address"> {{ web.address }}, </div>
                        <div v-if="web.phone && web.phone"> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import html2pdf from 'html2pdf.js';
import converter from 'number-to-words';
export default {
    props: ['data', 'web', 'lang'],
    data() {
        return {
            subtotal: 0,
            totalTax: 0,
            paidAmount: 0,
            balanceAmount: 0,
            grandTotal: 0
        }
    },
    methods: {
        serializing(date, serial) {
            var year = String (new Date(date).getFullYear()).substr(2,4);
            var sequence = String (serial).padStart(4, '0')
            return year + sequence
        },
        unduh(){
            const element = this.$refs.content;
            var opt = {
                margin     : [0, 0],
                filename   : (this.data.is_invoice ? 'INV': 'DB')+this.data.serializing+'_'+this.data.customer.first_name+' '+this.data.customer.last_name+'.pdf',
                image      : { type : 'jpeg', quality: 1 },
                html2canvas: { scale: 4, letterRendering: true, dpi: 192, },
                jsPDF      : { unit: 'in', format: 'a4', orientation: 'portrait' },
                pagebreak  : { after: ['#term'] }
            };
            html2pdf().set(opt).from(element).save();
        },
        toWords(s){
            // American Numbering System
            var th = ['','thousand','million', 'billion','trillion'];
            // uncomment this line for English Number System
            // var th = ['','thousand','million', 'milliard','billion'];
            var decimal = 'point ';
            var hundred = 'hundred ';
            var dg = ['zero','one','two','three','four', 'five','six','seven','eight','nine'];
            var tn = ['ten','eleven','twelve','thirteen', 'fourteen','fifteen','sixteen', 'seventeen','eighteen','nineteen'];
            var tw = ['twenty','thirty','forty','fifty', 'sixty','seventy','eighty','ninety'];
            if(this.lang == 'id'){
                th = ['','ribu','juta', 'miliar','triliun'];
                dg = ['nol','satu','dua','tiga','empat', 'lima','enam','tujuh','delapan','sembilan'];
                tn = ['sepuluh','sebelas','dua belas','tiga belas', 'empat belas','lima belas','enam belas', 'tujuh belas','delapan belas','sembilan belas'];
                tw = ['dua puluh','tiga puluh','empat puluh','lima puluh', 'enam puluh','tujuh puluh','delapan puluh','sembilan puluh'];
                decimal = 'koma ';
                hundred = 'ratus ';
            }
            s = s.toString();
            s = s.replace(/[\, ]/g,'');
            if (s != parseFloat(s)) return 'not a number';
            var x = s.indexOf('.');
            if (x == -1) x = s.length;
            if (x > 15) return 'too big';
            var n = s.split('')
            var str = '';
            var sk = 0;
            for (var i=0; i < x; i++) {
                if ((x-i)%3==2) {
                    if (n[i] == '1') {
                        str += tn[Number(n[i+1])] + ' ';
                        i++;
                        sk=1;
                    } else if (n[i]!=0) {
                        str += tw[n[i]-2] + ' ';
                        sk=1;
                    }
                } else if (n[i]!=0) {
                    if(this.lang == 'id'){
                        // if(dg[n[i]] == 'satu' && ((x-i)%3==0)){
                        //     str += 'se';
                        // }
                        if (dg[n[i]] == "satu" && ((x - i) % 3 == 0 || (x - i) % 2 == 0)) {
                            str += 'se'
                        }
                        else{
                            str += dg[n[i]] +' ';
                        }
                    }else{
                        str += dg[n[i]] +' ';
                    }

                    if ((x-i)%3==0) str += hundred;
                    sk=1;
                } if ((x-i)%3==1) {
                    if (sk) str += th[(x-i-1)/3] + ' ';
                    sk=0;
                }
            }

            if (x != s.length) {
                var y = s.length;
                str +=  decimal;
                for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' ';
            }
            return str.replace(/\s+/g, ' ');
        }

    },
    mounted() {
        this.$i18n.locale = this.lang;
        var subtotal  = _.sumBy(this.data.list_items, items => items.subtotal)
        this.subtotal = subtotal ;
        this.paidAmount  = _.sumBy(this.data.payment_invoice, pay => pay.status ? pay.payment_amount:0);
        this.paidAmount  = _.sumBy(this.data.payment_invoice, pay => {
            if (pay.status) {
                if(this.data.currency != 1){
                    return pay.payment_amount / this.data.rate;
                }else{
                    return pay.payment_amount;
                }
            } else {
                return 0;
            }
        });
        var totalTax  = _.sumBy(this.data.taxes, tax => tax.tax_amount);
        var ppn       = (totalTax/100)*subtotal;
        this.totalTax = ppn;
        var grandTotal = subtotal + ppn;
        if(this.data.currency != 1){
            grandTotal /= this.data.rate;
        }
        this.grandTotal = grandTotal;
        this.balanceAmount = grandTotal - this.paidAmount;
        this.unduh();
    },
    computed: {
        getStatusDoc(){
            return this.data.status == 1 ? 'DRAFT' : '';
        }
    },
    filters: {
        termPayment(day) {
            var a = ''
            switch (day) {
                case '30 Hari':
                    a = '30 Days'
                    break;
                case '60 Hari':
                    a = '60 Days'
                    break
                case '90 Hari':
                    a = '90 Days'
                    break
            }
            return a
        },
        numberToWords(num){
            var stringNum = num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}).split('.')

            // if(stringNum[1]){
            //     return converter.toWords(stringNum[0])+' and '+converter.toWords(stringNum[1]);
            // }else{
                return converter.toWords(num);
            // }
        },
        dateFormat(tanggal){
            return moment(tanggal).format('DD MMMM YYYY')
        },
        formatCurrency(num){
            return  num.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
        },
        getCurrency(curr){
            var currency = 'IDR';
            switch (curr) {
                case 2:
                    currency = 'SGD';
                    break;
                case 3:
                    currency = 'USD';
                    break;
                case 4:
                    currency = 'RM';
                    break;
            }
            return currency;
        },

    }
}
</script>
<style lang="scss">
    .text-copy {
        font-size: 22px;
    }
    .btn-print{
        position: absolute;
        right: 30%;
        top: 4%;
    }
    .letterhead{
        font-size: 10px;
        font-weight: bold;

        .letterhead-body{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            justify-content: left;
            text-align: left;
            font-size: 12px;
            div{
                // padding: 15px 10px;
                padding-top: 15px;
                padding-bottom: 0;
            }
            .company-name{
                padding: 0;
                color: #568ed3;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        // margin-top: 19%;
        margin-top: 5%;
        width: 650px;
        background: #fff;
        height: auto; //915px
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: auto;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        // border: 0.5px #000 solid;
        height: auto;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 280px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;
        white-space: pre-line;

        .box-description-title{
            opacity: 0.8;

        }
        .box-description-body{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 90%;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .term-box{
        font-size: 9px;
        white-space: pre-line;
        text-align: left;
        .term-title{
            font-size: 12px;
            font-weight: bold;
        }
    }
    .transfer {
        font-size: 10px;
        border: 1px solid #000;

    }
</style>
