<template>
    <div>
        <b-form @submit.stop.prevent="handleSubmit">
            <div class="card">
                <div class="card-header">{{ $t('createPayment') }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group col-lg-12">
                                <label for="">Invoice</label>
                                <select2 url="/select/inv-customer-payment" @payloadItem="payloadInvoice($event)" :options="invoiceOptions"></select2>
                                <div class="text-danger" v-if="!$v.invoice.id.required && $v.invoice.id.$dirty">
                                    *{{ $t('invoiceRequired') }}
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="">{{ $t('paymentDate') }}</label>
                                <b-form-datepicker dropright v-model="paymentDate"></b-form-datepicker>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="">Remark</label>
                                <input type="text" name="remark" v-model="remark" class="form-control">
                            </div>
                            <div class="form-group col-lg-12 col-sm-12">
                                <label for="">{{ $t('currency') }}</label>
                                <input type="text" disabled class="form-control" :value="getCurrency">
                            </div>
                            <div class="form-group col-lg-12 col-sm-12" v-if="currency != 1">
                                <label for="">Rate</label>
                                <v-currency v-model="rate" />
                                <input type="hidden" name="rate" :value="rate">
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="">{{ $t('paymentAmount') }}</label>
                                <v-currency v-model="payment_amount" />
                                <div class="text-danger" v-if="!$v.payment_amount.minValue && $v.payment_amount.$dirty">
                                    *{{ $t('paymentAmountMin') }}
                                </div>
                            </div>
                            <!-- <div class="form-group col-lg-12">
                                <label for="">Discount</label>
                                <div class="form-inline">
                                    <select class="form-control mr-1" v-model="discount.type">
                                        <option value="1">%</option>
                                        <option value="2">$</option>
                                    </select>
                                    <v-currency v-model="discount.nominal" />
                                </div>
                            </div> -->
                            <div v-if="currency == 1" class="form-group col-lg-12">
                                <label for="">PPh</label>
                                <select2 url="/select/tax/1" @input="handlePPH($event)" :allowClear="true" @payloadItem="payloadTax($event)"></select2>
                            </div>


                            <div class="form-group col-lg-12">
                                <label for="">{{$t('paidToAccount')}}</label>
                                <select2 url="/select/account" v-model="cashAccount"></select2>
                                <div class="text-danger" v-if="!$v.cashAccount.required && $v.cashAccount.$dirty">
                                    *{{ $t('cashAccountRequired') }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="grand-total my-2">
                                <div class="desc">{{ $t('invoiceAmount') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ getInvoiceAmount }} </div>
                            </div>
                            <div class="grand-total my-2 text-warning">
                                <div class="desc">{{ $t('balance') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ getBalance }} </div>
                            </div>
                            <div class="grand-total my-2 text-success">
                                <div class="desc">{{ $t('amountPaid') }}</div>
                                <div class="nominal"> {{ getCurrency }} {{ grandTotal }} </div>
                            </div>
                            <div v-if="currency > 1" class="grand-total my-2 text-black-50">
                                <div class="desc">{{ $t('amountReceive') }}</div>
                                <div class="nominal"> IDR {{ getAmountReceive }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" :disabled="buttonSubmit"> {{ $t('save') }}</button>
        </b-form>
    </div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import { BFormDatepicker, BForm } from 'bootstrap-vue';
import { required, minValue } from 'vuelidate/lib/validators';

import moment from 'moment';
export default {
    props: ['lang', 'data'],
    components: {
        BFormDatepicker, BForm
    },
    validations: {
        cashAccount: { required },
        invoice: {  id : {required} },
        payment_amount: { minValue: minValue(1) }
    },
    data() {
        return {
            buttonSubmit  : false,
            invoiceOptions: null,
            cashAccount: '',
            remark     : '',
            paymentDate: moment().format('YYYY-MM-DD'),
            invoice_amount: 0,
            payment_amount: 0,
            invoice: {
                id         : null,
                text       : null,
                serial     : null,
                customer_id: null,
                customer   : null,
                price      : null,
                tax        : null,
                bill       : 0,
                currency   : null,
                rate       : null,
            },
            tax: {
                tax_id    : '',
                tax_amount: 0,
                tax_type  : '',
                payable_account_id   : '',
                receivable_account_id: ''
            },
            discount: {
                type: 1,
                nominal: 0
            }

        }
    },
    mounted() {
        this.$i18n.locale = this.lang;

        if(this.data){
            this.invoiceOptions = {id: this.data.id, text: this.data.text};
            this.payloadInvoice(this.data);
        }
    },
    methods: {
        async handleSubmit(){
            this.$v.$touch();
            this.buttonSubmit = true;
            if(this.$v.$invalid){
                Swal.fire('Check Form', '', 'warning');
                this.buttonSubmit = false;
            }else{
                const { data } = await axios.post(`/accounting/sales-store-payment`, {
                    remark            : this.remark,
                    paymentDate       : this.paymentDate,
                    invoice_amount    : this.invoice_amount,
                    payment_amount    : this.payment_amount,
                    payment_amount_idr: this.currency != 1 ? this.payment_amount * this.rate: this.payment_amount,
                    payment_amount_net: this.currency != 1 ? this.getPaymentAmountNet * this.rate: this.getPaymentAmountNet,
                    tax_amount_idr    : this.getTaxAmount,
                    discount_amount   : this.currency != 1 ? this.getDiscountAmount * this.rate: this.getDiscountAmount,
                    currency          : this.currency,
                    rate              : this.rate,
                    discount          : this.discount,
                    cash_account      : this.cashAccount,
                    invoice           : this.invoice,
                    tax               : this.tax
                })
                console.log(data);
                this.buttonSubmit = false;

                if(data){
                    location = '/accounting/sales-payment'
                }
            }

        },
        handlePPH(e){
            if(!e){
                this.tax = {
                    tax_id: '',
                    tax_amount: 0,
                    tax_type: '',
                };
            }
        },
        payloadTax(payload){
            this.tax.tax_id     = payload.id;
            this.tax.tax_amount = payload.tax_amount;
            this.tax.tax_type   = payload.type;
            this.tax.payable_account_id    = payload.payable_account_id;
            this.tax.receivable_account_id = payload.receivable_account_id;
        },
        payloadInvoice(payload){
            console.log(payload);
            this.paymentDate = payload.paymentDate;
            this.currency = payload.currency;

            if(payload.currency > 1) {
                this.rate     = payload.rate;
            }
            var invoiceAmount = payload.rate ? payload.price/payload.rate : payload.price;
            if(payload.tax){
                let kenaPajak = (invoiceAmount * (payload.tax / 100));
                invoiceAmount += kenaPajak
            }


            this.invoice_amount = invoiceAmount;
            // this.invoice_amount = payload.rate ? payload.price/payload.rate : payload.price;

            if(payload.bill){
                var pricing = payload.price - payload.bill;

                    pricing = (payload.tax ? (payload.pricing*(Number(payload.tax)/100)) + payload.price: payload.pricing);

                    if(payload.currency !=1) {
                        pricing /= payload.rate;
                    }
                    // this.invoice_amount = pricing;
            }else{
                var pricing = (payload.tax ? (payload.price*(Number(payload.tax)/100)) + payload.price: payload.price);
                if(payload.currency !=1) {
                    pricing /= payload.rate;
                }
                // this.invoice_amount = pricing.toFixed(2);
            }
            this.invoice = {
                id         : payload.id,
                text       : payload.text,
                serial     : payload.serial,
                customer_id: payload.customer_id,
                customer   : payload.customer,
                price      : payload.price,
                tax        : payload.tax,
                bill       : payload.bill,
                currency   : payload.currency,
                rate       : payload.rate,
            }
        },

    },
    computed: {
        ...mapFields('currencyRate', ['currency', 'rate']),
        grandTotal(){
            var total    = this.payment_amount || 0;
            var discount = 0;

            // discount
            if(this.discount.nominal > 0){
                if(this.discount.type == 1){
                    var potongan = (total*(this.discount.nominal/100));
                    total -= potongan;
                }else{
                    total -= this.discount.nominal;
                }
            }

            if(this.tax.tax_id){
                var pajak = (total*(this.tax.tax_amount/100));

                total = Number(total) - Number(pajak);
            }

            return total.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        },
        getAmountReceive(){
            var total = this.payment_amount || 0;

            if(this.discount.nominal > 0){
                if(this.discount.type == 1){
                    var potongan = (total*(this.discount.nominal/100));
                    total -= potongan;
                }else{
                    total -= this.discount.nominal;
                }
            }

            if(this.tax.tax_id){
                var a = (total*(this.tax.tax_amount/100));

                total = Number(total) - Number(a);
            }
            total *= this.rate;
            return total.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        },
        getPaymentAmountNet(){
            var total = this.payment_amount;

            if(this.discount.nominal > 0){
                if(this.discount.type == 1){
                    var potongan = (total*(this.discount.nominal/100));
                    total -= potongan;
                }else{
                    total -= this.discount.nominal;
                }
            }

            if(this.tax.tax_id){
                var a = (total*(this.tax.tax_amount/100));

                total = Number(total) - Number(a);
                total = total;
            }
            return total;
        },
        getBalance(){
            var calculate = 0;
            if(this.currency == 1){
                calculate = this.invoice_amount - this.invoice.bill;
            }else{
                calculate = this.invoice_amount - (this.invoice.bill );
            }
            if(this.payment_amount > 0){
                calculate -= this.payment_amount;
            }
            return calculate.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        },
        getTaxAmount(){
            var total = this.payment_amount;
            if(this.discount.nominal > 0){
                if(this.discount.type == 1){
                    var potongan = (total*(this.discount.nominal/100));
                    total -= potongan;
                }else{
                    total -= this.discount.nominal;
                }
            }
            if(this.tax.tax_id){
                return (total*(this.tax.tax_amount/100));
            }
            return 0;
        },
        getDiscountAmount(){
            if(this.discount.nominal > 0){
                var total = this.payment_amount;
                if(this.discount.type == 1){
                    var potongan = (total*(this.discount.nominal/100));
                    var hasil = potongan;
                }else{
                    var hasil = this.discount.nominal;
                }
                return hasil;
            }
            return 0;
        },
        getInvoiceAmount(){
            return this.invoice_amount.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
        },
        getCurrency(){
            var curr = this.currency;
            var res = 'IDR';
            switch (curr) {
                case 2:
                    res = 'SGD';
                    break;
                case 3:
                    res = 'USD';
                    break;
                case 4:
                    res = 'RM';
                    break;
            }
            return res;
        },
    },
}
</script>
<style lang="scss">
    .grand-total{
        text-align: center;
        position: relative;
        top: 20%;
        .desc{
            font-size: 20px;
        }
        .nominal{
            font-size: 32px;
        }

    }

    @media screen and (max-width: 990px) {
        .grand-total{
            top: 0;
        }
    }

</style>
