<template>
    <select :name="name" :disabled="disabled" :required="required || false" @invalid="check($event)" @change="setCustomerValidity('')">
        <slot></slot>
    </select>
</template>
<script>
require('../../../public/locales/bootstrap-datepicker.id.min');
require('../../../public/js/select2.full.min');
export default {
    props: ['options', 'name', 'value', 'url', 'allowClear', 'urlCreate', 'required', 'dropdownParent', 'disabled'],
    data() {
        return {
            selectProps:{
                allowClear: this.allowClear,
                dropdownParent: null,
                width: "100%",
                placeholder: 'Choose',
                theme: 'bootstrap4',
                ajax: {
                    url: this.url,
                    dataType: "json",
                        data(params) {
                            return {
                                term : params.term || '' ,
                                page : params.page || 1,
                                page_limit : 10
                            };
                        },
                    cache: true
                }
            }
        };
    },
    methods: {
        check($event){
            if (this.$el.value == "") {
                this.$el.setCustomValidity(this.$t('please_choose'));
            } else  {
                this.$el.setCustomValidity('');
            }
        }
    },
    mounted() {
        var vm = this;

        if(this.dropdownParent){
            this.selectProps.dropdownParent = $(document.getElementById(this.dropdownParent));
        }

        $(this.$el)
            .select2(this.selectProps)
            .val(this.value)
            .trigger('change')
            .on('change', function() {
                vm.$emit('input', this.value)
            }).on('select2:select', function({ params }){
                const { data } = params;
                vm.$emit('payloadItem', data);
            }).on('select2:clear', function(){
                // vm.$emit('input', '')
                vm.$emit('input', this.value)
                vm.$emit('cleared');
                console.log('select2 cleared');

            });

        if(this.urlCreate){
            $(this.$el).on('select2:open', function(){
                $(".select2-results a").remove();
                $(".select2-results:not(:has(button))").append(`<a href="${vm.urlCreate}" class="select2-create" target="_blank">No exists? create one.</a>`);
            });
        }

        if(this.options){

            var $option = $("<option selected></option>").val(this.options.id).text(this.options.text);
            $(this.$el).append($option).trigger('change');
        }
    },
    computed:{
        hasSlotData() {
            return this.$slots.default;
        }
    },
    watch: {
        value(value) {
            $(this.$el).val(value).trigger('change');
        },
        options(options) {
            if(options){
                var $option = $("<option selected></option>").val(options.id).text(options.text);
                $(this.$el).append($option).trigger('change');
            }

        },
        url(value) {
            this.selectProps.ajax.url = this.url;
            $(this.$el).select2(this.selectProps);
        }
    },
    destroyed() {
        $(this.$el).off().select2('destroy')
    }
}
</script>

<style lang="scss" scoped>
    .select2-selection__clear {
        margin-top: 10px;
    }
</style>
