<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-edit"></i> {{ $t('journal') }} {{ this.data && 'BKK'+data.serializing }}</div>
                        <div class="card-body row">
                            <div class="col-lg-6">
                                <b-form >
                                    <div class="">
                                        <b-form-group :label="$t('clasification')" label-cols-md="2" label-cols-sm="4" >
                                            <select2
                                                :disabled="isDisabled"
                                                :options="options_clasification"
                                                v-model="id_clasification"
                                                url="/select/clasifications"
                                                @payloadItem="handleClasification($event)">
                                            </select2>
                                            <input type="hidden" v-model="name_clasification">
                                            <!-- <div class="invalid-feedback d-block" v-if="!$v.id_clasification.required && $v.id_clasification.$dirty">Clasification is required</div> -->
                                        </b-form-group>
                                    </div>
                                    <div>
                                        <b-form-group :label="$t('date')" label-cols-md="2" label-cols-sm="4" :state="validateState('date_transaction')">
                                            <b-form-datepicker :disabled="isDisabled" dropright locale="id" start-weekday="1" v-model="date_transaction" class="mb-2" :state="validateState('date_transaction')"></b-form-datepicker>
                                        </b-form-group>
                                    </div>
                                    <div class="">
                                        <b-form-group :label="'No ' + $t('journal')" :description="oldSerial ? $t('previous')+' '+oldSerial: ''" label-cols-md="2" label-cols-sm="4" >
                                            <b-form-input
                                                type="text"
                                                v-model="serial"
                                                required
                                                :disabled="isDisabled"
                                                :state="validating('serial')"
                                            >
                                            </b-form-input>
                                            <b-form-invalid-feedback :state="validating('serial')">No Journal Required</b-form-invalid-feedback>
                                        </b-form-group>
                                    </div>
                                    <div class="">
                                        <b-form-group label="No Ref" description="" label-cols-md="2" label-cols-sm="4" >
                                            <b-form-input
                                                type="text"
                                                v-model="ref"
                                                required
                                                :disabled="isDisabled"
                                            >
                                            </b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="">
                                        <b-form-group :label="$t('contact')" label-cols-md="2" label-cols-sm="4" >
                                            <select2
                                                v-model="contact_id"
                                                url="/select/contacts"
                                                :options="options_contact"
                                                @payloadItem="contact_name = $event.text"
                                                :disabled="isDisabled"
                                            >
                                            </select2>
                                            <input type="hidden" v-model="contact_name">
                                            <!-- <div class="invalid-feedback d-block" v-if="!$v.contact_id.required && $v.contact_id.$dirty">Contact is required</div> -->
                                        </b-form-group>
                                    </div>
                                    <div class="">
                                        <b-form-group :label="$t('description')" label-cols-md="2" label-cols-sm="4" >
                                            <b-form-textarea
                                                type="text"
                                                v-model="description"
                                                @input="handleDescription"
                                                required
                                                :disabled="isDisabled"
                                            >
                                            </b-form-textarea>
                                        </b-form-group>
                                    </div>
                                </b-form>
                            </div>
                            <div class="col-lg-12">
                                <table class="table table-sm table-condensed">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('codeAccount') }}</th>
                                            <th>{{ $t('description2') }}</th>
                                            <th>{{ $t('debet') }}</th>
                                            <th>{{ $t('credit') }}</th>
                                            <th>Memo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(journal, index) in journals" :key="index" class="list-item">
                                            <td width="20%">
                                                <select2
                                                    :options="journal.options_account"
                                                    v-model="journal.code_account"
                                                    url="/select/account"
                                                    @payloadItem="journal.name_account = $event.text"
                                                    :disabled="isDisabled"
                                                >
                                                </select2>
                                                <input type="hidden" v-model="journal.name_account">
                                                <div class="invalid-feedback d-block" v-if="!$v.journals.$each.$iter[index].code_account.required && $v.journals.$each.$iter[index].code_account.$dirty">Account is required</div>
                                            </td>
                                            <td>
                                                <b-form-input :disabled="isDisabled" @input="$v.journals.$each.$iter[index].description.$touch" v-model="journal.description"></b-form-input>
                                                <div class="invalid-feedback d-block" v-if="!$v.journals.$each.$iter[index].description.required && $v.journals.$each.$iter[index].description.$dirty">Description is required</div>
                                            </td>
                                            <td>
                                                <v-currency v-model="journal.debet" :disabled="Boolean(journal.credit) || isDisabled"></v-currency>
                                                <!-- <div class="invalid-feedback d-block" v-if="!$v.journals.$each.$iter[index].debet.required && $v.journals.$each.$iter[index].debet.$dirty">Debet is cannot be 0</div> -->
                                            </td>
                                            <td>
                                                <v-currency v-model="journal.credit" :disabled="Boolean(journal.debet) || isDisabled"></v-currency>
                                                <!-- <div class="invalid-feedback d-block" v-if="!$v.journals.$each.$iter[index].credit.required&&$v.journals.$each.$iter[index].credit.$dirty">Credit is cannot be 0</div> -->
                                            </td>
                                            <td>
                                                <b-form-input :disabled="isDisabled" v-model="journal.memo"></b-form-input>
                                            </td>
                                            <td v-if="index > 1 && status == 1">
                                                <b-button @click="$delete(journals, index)" variant="danger" size="sm"><i class="fas fa-trash"></i></b-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                Total : {{ currency+' '+formatPrice(totalDebit) }}
                                                <div class="invalid-feedback d-block" v-if="totalDebit > totalCredit">Debit must balance with credit</div>
                                            </td>
                                            <td>
                                                Total : {{ currency+' '+formatPrice(totalCredit) }}
                                                <div class="invalid-feedback d-block" v-if="totalDebit < totalCredit">Credit must balance with debit</div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <b-button variant="primary" v-if="status == 1" @click="addJournal">
                                    <i class="fas fa-plus"></i>
                                </b-button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12">
                        <!-- <b-button variant="primary" v-if="status == " @click="handleSubmit(2)">{{ $t('save') }}</b-button> -->
                        <b-dropdown :text="$t('save')" v-if="status == 1" variant="primary">
                            <b-dropdown-item @click="handleSubmit(1)">Draft</b-dropdown-item>
                            <b-dropdown-item @click="handleSubmit(2)">Approve</b-dropdown-item>
                        </b-dropdown>

                        <b-button variant="success" v-if="data && (status == 2 || status == 1)" @click="handlePrint">Print Voucher</b-button>
                        <b-button variant="secondary" href="/accounting/journal">{{$t('return')}}</b-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {
    BForm, BFormGroup, BFormInput, BFormTextarea, BButton, BButtonGroup, BDropdown, BDropdownItem, BFormDatepicker, BFormInvalidFeedback
} from 'bootstrap-vue';
import { required, minLength, requiredIf } from 'vuelidate/lib/validators';

export default {
    props: {
        lang: String,
        data: Object,
        submitUrl: String
    },
    components: {
        BForm, BFormGroup, BFormInput, BFormTextarea, BFormDatepicker, BButtonGroup, BButton, BDropdown, BDropdownItem, BFormInvalidFeedback
    },
    validations(){
        return {
            date_transaction: { required },
            serial: { required },
            journals: {
                required,
                $each: {
                    code_account: { required },
                    description: { required },
                    // debet: {
                    //     required: requiredIf(function(model){
                    //         console.log(model);
                    //         console.log([
                    //              (model.debet > 0 && model.credit < 1), (!model.debet && !model.credit)
                    //         ]);
                    //         return (model.debet > 0 && model.credit < 1) || (!model.debet && !model.credit)
                    //     }),
                    // },
                    // credit: {
                    //     required: requiredIf(function(model){
                    //         return (model.credit > 0 && model.debet < 1) || (!model.debet && !model.credit)
                    //     }),
                    // },
                }
            }
        }
    },
    data() {
        return {
            currency: sessionStorage.getItem('currency') || 'Rp',
            id: '',
            id_clasification: '',
            name_clasification: '',
            date_transaction: '',
            options_clasification: null,
            ref: '',
            serial: '',
            oldSerial: '',
            contact_id: '',
            contact_name: '',
            options_contact: null,
            description: '',
            status: 1,
            journals: [
                {
                    code_account         : '',
                    name_account         : '',
                    description          : '',
                    debet                : 0,
                    credit               : 0,
                    memo                 : '',
                    options_account      : null,
                },
                {
                    code_account         : '',
                    name_account         : '',
                    description          : '',
                    debet                : 0,
                    credit               : 0,
                    memo                 : '',
                    options_account      : null,
                }
            ]

        }
    },
    mounted(){
        if(this.data){
            if(this.data.clasification){
                this.id_clasification = this.data.clasification.id;
                this.name_clasification = this.data.clasification.name;
                this.options_clasification = { id: this.data.clasification.id, text: this.data.clasification.name};
            }
            this.date_transaction = moment(this.data.transaction_at).format('Y-MM-DD');
            this.serial = this.data.serial || ''; // diganti ke serial
            if(this.data.contact){
                this.contact_id = this.data.contact.id;
                this.contact_name = this.data.contact.company+' - '+this.data.contact.name;
                this.options_contact = { id: this.data.contact.id, text: this.data.contact.company+' - '+this.data.contact.name };
            }
            this.description = this.data.description;
            this.id = this.data.id;
            this.status = this.data.status;
            this.journals = this.data.details.map((value, index) => {
                return {
                    code_account         : value.account.id,
                    name_account         : value.account.name,
                    description          : value.description,
                    debet                : value.debet,
                    credit               : value.credit,
                    options_account      : { id: value.account.id, text: value.account.name },
                    memo                 : value.memo
                }
            });
        } else {
            this.getLastJournal()
        }

    },
    methods: {
        async getLastJournal() {
            const response = await fetch('/accounting/last-journal', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const data = await response.json()
            console.log(data);
            this.oldSerial = 'BKK'+String(data.serial).padStart(4, '0')
            this.serial = data.serial + 1
        },
        handlePrint(){
            window.open(`/accounting/journal/${this.data.uuid}/print`, '_blank');
        },
        handleSubmit(status){
            this.$v.$touch();
            const form = {
                id: this.id,
                clasification: this.id_clasification,
                serial: this.serial,
                ref: this.ref,
                contact: this.contact_id,
                description: this.description,
                status,
                date_transaction: this.date_transaction,
                journals: this.journals,
            }

            if(!this.$v.$error && (this.totalDebit == this.totalCredit)){
                this.postAndRedirect(this.submitUrl, form);
            }else{
                Swal.fire(this.$t('fail'), this.$t('checkForm'), 'warning');
            }
        },
        addJournal(){
            this.journals.push(
                {
                    code_account         : '',
                    name_account         : '',
                    description          : '',
                    debet                : '',
                    credit               : '',
                    memo                 : '',
                    options_account      : null,
                    options_clasification: null,
                }
            );
            this.handleDescription();
        },
        journalsClasification($event, index){
            this.journals[index].name_clasification = $event.text;
            this.$v.journals.$each.$iter[index].id_clasification.$touch();
        },
        validating(name) {
            const { $dirty, $error } = this.$v[name];
            return $dirty ? !$error : null;
        },
        validateState(name) {
            var GetPropertyValue = (obj1, dataToRetrieve) => {
                return dataToRetrieve
                    .split('.') // split string based on `.`
                    .reduce(function(o, k) {
                        return o && o[k]; // get inner property if `o` is defined else get `o` and return
                    }, obj1) // set initial value as object
            }

            // const { $dirty, $error } = this.$v[name];
            const { $dirty, $error } = GetPropertyValue(this.$v, name);
            return $dirty ? !$error : null;
        },

        formatPrice(num){
            var nominal = num;
            var number_string = nominal.toString(),
                split	= number_string.split(sessionStorage.getItem('thousand_separator')),
                sisa 	= split[0].length % 3,
                rupiah 	= split[0].substr(0, sisa),
                ribuan 	= split[0].substr(sisa).match(/\d{1,3}/gi);

            if (ribuan) {
                var separator = sisa ? sessionStorage.getItem('thousand_separator') : '';
                rupiah += separator + ribuan.join(sessionStorage.getItem('thousand_separator'));
            }
            return rupiah;
        },
        handleDescription(){
            this.journals.forEach((value, index) => {
                if(!this.$v.journals.$each.$iter[index].description.$dirty){
                    this.journals[index].description = this.description;
                }
            })
        },
        handleClasification($event){
            this.name_clasification = $event.text
        },
        postAndRedirect(url, postData)
        {
            var postFormStr = "<form method='POST' action='" + url + "'>\n";
            postFormStr += `<input type='hidden' name='_token' value="${document.querySelector('meta[name="csrf-token"]').getAttribute('content')}" />`;

            for (var key in postData)
            {
                if (postData.hasOwnProperty(key))
                {
                    if(Array.isArray(postData[key])){
                        postData[key].forEach((value, index) => {
                            postFormStr += `
                                <input type='hidden' name='journals[${index}][code_account]' value='${value.code_account}'></input>
                                <input type='hidden' name='journals[${index}][name_account]' value='${value.name_account}'></input>
                                <input type='hidden' name='journals[${index}][description]' value='${value.description}'></input>
                                <input type='hidden' name='journals[${index}][id_clasification]' value='${value.id_clasification}'></input>
                                <input type='hidden' name='journals[${index}][name_clasification]' value='${value.name_clasification}'></input>
                                <input type='hidden' name='journals[${index}][debet]' value='${value.debet}'></input>
                                <input type='hidden' name='journals[${index}][credit]' value='${value.credit}'></input>
                                <input type='hidden' name='journals[${index}][memo]' value='${value.memo}'></input>
                            `;
                        });
                    }else{
                        postFormStr += "<input type='hidden' name='" + key + "' value='" + postData[key] + "'></input>";
                    }
                }
            }

            postFormStr += "</form>";
            var formElement = $(postFormStr);
            $('body').append(formElement);
            $(formElement).submit();
        }
    },
    computed: {
        totalDebit(){
            var debits = 0;
            this.journals.forEach(function(element) {
                if(element.debet){
                    let debit = element.debet.toString().replace(/\.|\,/g, "");
                    debits += Number(debit);
                }
            }, debits);
            return debits;
        },
        totalCredit(){
            var credits = 0;
            this.journals.forEach(function(element) {
                if(element.credit){
                    let credit = element.credit.toString().replace(/\.|\,/g, "");
                    credits += Number(credit);
                }
            }, credits);
            return credits;
        },
        isDisabled(){
            return this.status > 1;
        }
    },
    created(){
        this.$i18n.locale = this.lang;
    }
}
</script>
