<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-book"></i>
                            {{ $t('ledger_report') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang"></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('to_date')}}</label>
                                    <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang"></b-form-datepicker>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">Format</label>
                                    <b-form-radio-group v-model="format.value" :options="format.options"></b-form-radio-group>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>

                                </div>
                            </div>
                            <div class="row mt-3">
                                <b-table v-if="viewTable == 'recap'" :fields="ledgerTableRecap.fields" ref="tableRecap" :items="ledgerTableRecap.items" outlined sticky-header class="col-lg-12"></b-table>

                                <b-table v-else :fields="ledgerTableDetails.fields" ref="tableDetails" :items="ledgerTableDetails.items" :tbody-tr-class="rowClass" outlined sticky-header class="col-lg-12"></b-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup } from 'bootstrap-vue';

export default {
    props: ['lang'],
    components: {
        BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormRadioGroup
    },
    data() {
        return {
            start_date: moment().subtract(1, 'months').format('YYYY-MM-DD'),
            to_date: moment().format('YYYY-MM-DD'),
            format: {
                value: 'recap', // recap & details
                options: [
                    {text: this.$t('recap'), value: 'recap'},
                    {text: this.$t('details'), value: 'details'}
                ]
            },
            viewTable: 'recap',
            ledgerTableRecap: {
                fields: [ 'account', 'beginning_balance', 'debit', 'credit', 'ending_balance' ],
                items : []
            },
            ledgerTableDetails: {
                fields: [ 'date', 'description', 'debit', 'credit' ],
                items : []
            }
        }
    },
    mounted(){
        this.$i18n.locale = this.lang;
        this.format.options = [
                    {text: this.$t('recap'), value: 'recap'},
                    {text: this.$t('details'), value: 'details'}
                ]
        this.getItems()
    },
    methods: {
        getItems(){
            if(this.format.value == 'recap'){
                this.viewTable = 'recap'
                this.getRecap();
                // this.$refs.tableRecap.refresh()
            }else{
                this.viewTable = 'details'
                this.getDetails();
                // this.$refs.tableDetails.refresh()
            }
        },
        async getRecap(){
            var params = {
                    start_date  : this.start_date,
                    to_date     : this.to_date,
                }
            const reqItems = await axios.get('/report/ledger/table/recap', {params});
            if(await reqItems.data){
                var sumBeginningBalance = el => {
                    var begin = Number(el.beginning)
                    if(el){
                        var total_debit = Number(el.total_debit), total_credit = Number(el.total_credit)

                        if(total_debit > total_credit) begin = begin.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                        else if (total_debit < total_credit) begin = '('+(begin.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}))+")"
                    }else begin.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    return begin
                }
                var sumEndingBalance = el => {
                    var begin = Number(el.beginning)
                    var total_debit = Number(el.total_debit), total_credit = Number(el.total_credit)
                    var op1 = total_debit > total_credit?el.debit:el.credit
                    var op2 = total_debit < total_credit?el.debit:el.credit
                    op1 = Number(op1)
                    op2 = Number(op2)
                    if(total_debit > total_credit) return ((begin + op1) - op2).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                    else if(total_debit < total_credit) return '('+((begin + op1) - op2).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})+')'
                    else Number(0).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                }

                this.ledgerTableRecap.fields = [
                    {account: {label: this.$t('account'), sortable: true}},
                    {beginning_balance: {label: this.$t('beginning_balance'), sortable: true}},
                    {debit: {label: this.$t('debet'), sortable: true}},
                    {credit: {label: this.$t('credit'), sortable: true}},
                    {ending_balance: {label: this.$t('ending_balance'), sortable: true}}
                ]
                var items = reqItems.data
                var lists = [];
                // console.log('response',items);
                items.forEach(el => {
                    lists.push({
                        account: el.id+' '+el.name,
                        beginning_balance: sumBeginningBalance(el),
                        debit: Number(el.debit).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                        credit: Number(el.credit).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                        ending_balance: sumEndingBalance(el)
                    });
                });
                this.ledgerTableRecap.items = lists
            }
        },
        async getDetails(){
            var params = {
                    start_date  : this.start_date,
                    to_date     : this.to_date,
                }
            const reqItems = await axios.get('/report/ledger/table/details', {params});
            if(await reqItems.data){
                this.ledgerTableDetails.fields = [
                    {date: {label: this.$t('date'), sortable: true} },
                    {description: {label: this.$t('description'), sortable: true} },
                    {debit: {label: this.$t('debit'), sortable: true} },
                    {credit: {label: this.$t('credit'), sortable: true} }
                ]
                var items = []
                reqItems.data.forEach((el, index) => {
                    items.push({
                        date          : el.id+' '+el.name,
                        description   : this.$t('beginning_balance'),
                        debit         : el.beginning_balance_type == 'debit' ? Number(el.beginning).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '',
                        credit        : el.beginning_balance_type == 'credit' ?'('+ Number(el.beginning).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})+')': '',
                        group         : 'parent'
                    });
                    if(el.journal_details){
                        el.journal_details.forEach(element => {
                            items.push({
                                date: moment(el.transaction_at).format('DD-MM-YYYY'),
                                description: element.description,
                                debit: Number(element.debet).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}),
                                credit: Number(element.credit).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                            })
                        });
                    }
                    items.push({
                        date: '',
                        description: this.$t('ending_balance'),
                        debit: el.ending_balance_type == 'debit' ? Number(el.ending).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}): '',
                        credit: el.ending_balance_type == 'credit' ? '('+Number(el.ending).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})+')': '',
                        group         : 'parent'

                    })
                    items.push({
                        date: '',description: '', debit:'', credit:'', group: 'separator'
                    })

                });

                this.ledgerTableDetails.items = items
            }
        },
        rowClass(item, type){
            if (!item || type !== 'row') return
            if(item.group == 'parent'){
                return "text-bold"
            }
            if(item.group == 'separator'){
                return "table-secondary"
            }

        }
    },
    computed: {
        printURL(){
            var params = $.param({
                start_date  : this.start_date,
                to_date     : this.to_date,
            })
            return this.viewTable == 'recap' ? '/report/ledger/print/recap?'+params:'/report/ledger/print/details?'+params;
        }
    }
}
</script>
<style lang="scss">
    .b-table-sticky-header{
        max-height: 500px;
    }
</style>
