<template>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-file-alt"></i>
                            {{ $t('equity') }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- <div class="col-lg-3">
                                    <label for="">{{$t('start_date')}}</label>
                                    <b-form-datepicker dropright v-model="start_date" placeholder="From" :locale="lang"></b-form-datepicker>
                                </div> -->
                                <div class="col-lg-3">
                                    <label for="">{{$t('month')}}</label>
                                    <!-- <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang"></b-form-datepicker> -->
                                    <!-- <date-picker v-model="to_date.value" :config="to_date.configs"></date-picker> -->
                                    <b-form-select v-model="month.value" :options="month.options"></b-form-select>
                                </div>
                                <div class="col-lg-3">
                                    <label for="">{{$t('year')}}</label>
                                    <b-form-input v-model="year" type="number"></b-form-input>
                                    <!-- <b-form-datepicker dropright v-model="to_date" placeholder="To" :locale="lang"></b-form-datepicker> -->
                                    <!-- <date-picker v-model="to_date.value" :config="to_date.configs"></date-picker> -->
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-primary" @click="getItems()" style="margin-top: 30px;">{{$t('show')}}</button>
                                    <a class="btn btn-success text-white" :href="printURL" target="_blank" style="margin-top: 30px;">{{$t('print')}}</a>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('keterangan') }}</th>
                                            <th></th>
                                            <th class="text-right">{{ $t('value') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ $t('initial_owner_equity_period') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.ekuitas_awal }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('additional_paid_capital') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.tambahan_modal_disetor }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_returned') }}</td>
                                            <td class="text-left">{{ lists.laba_ditahan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('current_year_profit') }}</td>
                                            <td class="text-left">{{ lists.laba_tahun_berjalan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('withdrawal') }}</td>
                                            <td class="text-left" style="border-bottom: 2px solid #000">{{ lists.penarikan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('retained_earnings_balance') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.saldo_laba_ditahan }}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-bold">{{ $t('owner_equity_at_end_of_period') }} </td>
                                            <td class="text-left"></td>
                                            <td class="total-td">{{ lists.ekuitas_akhir }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { BFormGroup, BFormInput, BFormDatepicker, BTable, BTableSimple, BTbody, BTh ,BTr, BTd, BFormSelect } from 'bootstrap-vue';
import datePicker from 'vue-bootstrap-datetimepicker';

export default {
    props: ['lang'],
    components: {
        BFormGroup, BFormInput, BFormDatepicker, BTable, BTr, BTd, BFormSelect, datePicker
    },
    data() {
        return {
            start_date: moment  ().subtract(1, 'months').format('YYYY-MM-DD'),
            to_date: {
                value: moment().format('YYYY-MM-DD'),
                configs: {
                    format: 'MM-YYYY',
                    useCurrent: true,
                }
            },
            month: {
                value: moment().format('MM'),
                options: [
                    {value: '01', text: 'January'},
                    {value: '02', text: 'February'},
                    {value: '03', text: 'March'},
                    {value: '04', text: 'April'},
                    {value: '05', text: 'May'},
                    {value: '06', text: 'June'},
                    {value: '07', text: 'July'},
                    {value: '08', text: 'August'},
                    {value: '09', text: 'September'},
                    {value: '10', text: 'October'},
                    {value: '11', text: 'November'},
                    {value: '12', text: 'Desember'},
                ]
            },
            year: moment().format('YYYY'),
            lists: {
                ekuitas_awal: 0,
                tambahan_modal_disetor: 0,
                laba_ditahan: 0,
                laba_tahun_berjalan: 0,
                penarikan: 0,
                saldo_laba_ditahan: 0,
                ekuitas_akhir: 0
            }
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        this.getItems()
    },
    methods: {
        async getItems(){
            const params ={
                to_date: this.year+'-'+this.month.value
            }
            const request = await axios.get('/report/equity/lists', {params})
            if(request.data){
                var response = request.data;
                console.log('RESPONSE',response);

                //ekuitas
                var ekuitas_awal = Number(response.ekuitas_awal.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                this.lists.ekuitas_awal = response.ekuitas_awal.type == 'debit'
                                            ? "("+ekuitas_awal+")"
                                            : ekuitas_awal
                // tambahan_modal_disetor
                var tambahan_modal_disetor = Number(response.tambahan_modal_disetor.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                this.lists.tambahan_modal_disetor = response.tambahan_modal_disetor.type == 'debit'
                                                    ? '('+tambahan_modal_disetor+')'
                                                    : tambahan_modal_disetor
                // laba_ditahan
                var laba_ditahan = Number(response.laba_ditahan.laba_ditahan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.laba_ditahan  = response.laba_ditahan.laba_ditahan.type == 'debit'
                                            ? '('+laba_ditahan+')'
                                            : laba_ditahan
                // laba tahun berjalan
                var laba_tahun_berjalan = Number(response.laba_tahun_berjalan.laba_ditahan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.laba_tahun_berjalan = response.laba_tahun_berjalan.laba_ditahan.type == 'debit'
                                            ? '('+laba_tahun_berjalan+')'
                                            : laba_tahun_berjalan

                // penarikan
                var penarikan = Number(response.penarikan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.penarikan = response.penarikan.type == 'credit'
                                        ? '('+penarikan+')'
                                        : penarikan

                // saldo laba ditahan
                var saldo = response.laba_ditahan.laba_ditahan.total + response.laba_tahun_berjalan.laba_ditahan.total - response.penarikan.total
                this.lists.saldo_laba_ditahan = Number(saldo).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});

                var ekuitas_akhir = Number(response.ekuitas_awal.total)+Number(saldo)
                this.lists.ekuitas_akhir = Number(ekuitas_akhir).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
            }
        }
    },
    computed: {
        printURL(){
            return `/report/equity/print?to_date=`+this.year+'-'+this.month.value
        }
    },
}
</script>
<style lang="scss" scoped>
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000;
        border-top: 2px solid;
    }
</style>
