<template>
    <div class="container-fluid mt=5">
        <div class="my-4">
            <div class="row letterhead">
                <div class="col-lg-7 letterhead-body">
                    <div style="padding: 0;">
                        <img :src="web.logo" class="logo" alt="logo">
                        <div class="company-name">
                            {{ web.company.name }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="">
                        <div class="">
                            <div class="text-center">
                                <div>{{$t('header_report_equity')}}</div>
                                <div>{{$t('header_report_equity_year')}} {{ getDateReport }}</div>
                            </div>
                            <div class="row mt-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{ $t('keterangan') }}</th>
                                            <th></th>
                                            <th class="text-right">{{ $t('value') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ $t('initial_owner_equity_period') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.ekuitas_awal }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('additional_paid_capital') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.tambahan_modal_disetor }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('profit_returned') }}</td>
                                            <td class="text-left">{{ lists.laba_ditahan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('current_year_profit') }}</td>
                                            <td class="text-left">{{ lists.laba_tahun_berjalan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('withdrawal') }}</td>
                                            <td class="text-left" style="border-bottom: 2px solid #000">{{ lists.penarikan }}</td>
                                            <td class="text-right"></td>
                                        </tr>
                                        <tr>
                                            <td>{{ $t('retained_earnings_balance') }}</td>
                                            <td class="text-left"></td>
                                            <td class="text-right">{{ lists.saldo_laba_ditahan }}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="text-bold">{{ $t('owner_equity_at_end_of_period') }} </td>
                                            <td class="text-left"></td>
                                            <td class="total-td">{{ lists.ekuitas_akhir }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" text-center">
                <div class="col-lg-12 text-uppercase note-info">
                    **{{ $t('generateReport') }}**
                </div>
                <hr class="line-footer">
                <div class="col-lg-12 page-footer">
                    <div class="info-footer">
                        <div> {{ web.address }}, </div>
                        <div> {{ $t('phone')+' : '+web.phone }} | {{'Email : '+web.email}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from 'moment';

export default {
    props: ['lang', 'to_date', 'web'],
    data() {
        return {
            lists: {
                ekuitas_awal: 0,
                tambahan_modal_disetor: 0,
                laba_ditahan: 0,
                laba_tahun_berjalan: 0,
                penarikan: 0,
                saldo_laba_ditahan: 0,
                ekuitas_akhir: 0
            }
        }
    },
    mounted() {
        this.$i18n.locale = this.lang;
        this.getItems()
    },
    methods: {
        async getItems(){
            const params ={
                to_date: this.to_date
            }
            const request = await axios.get('/report/equity/lists', {params})
            if(request.data){
                var response = request.data;
                console.log('RESPONSE',response);

                //ekuitas
                var ekuitas_awal = Number(response.ekuitas_awal.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                this.lists.ekuitas_awal = response.ekuitas_awal.type == 'debit'
                                            ? "("+ekuitas_awal+")"
                                            : ekuitas_awal
                // tambahan_modal_disetor
                var tambahan_modal_disetor = Number(response.tambahan_modal_disetor.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})
                this.lists.tambahan_modal_disetor = response.tambahan_modal_disetor.type == 'debit'
                                                    ? '('+tambahan_modal_disetor+')'
                                                    : tambahan_modal_disetor
                // laba_ditahan
                var laba_ditahan = Number(response.laba_ditahan.laba_ditahan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.laba_ditahan  = response.laba_ditahan.laba_ditahan.type == 'debit'
                                            ? '('+laba_ditahan+')'
                                            : laba_ditahan
                // laba tahun berjalan
                var laba_tahun_berjalan = Number(response.laba_tahun_berjalan.laba_ditahan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.laba_tahun_berjalan = response.laba_tahun_berjalan.laba_ditahan.type == 'debit'
                                            ? '('+laba_tahun_berjalan+')'
                                            : laba_tahun_berjalan

                // penarikan
                var penarikan = Number(response.penarikan.total).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                this.lists.penarikan = response.penarikan.type == 'credit'
                                        ? '('+penarikan+')'
                                        : penarikan

                // saldo laba ditahan
                var saldo = response.laba_ditahan.laba_ditahan.total + response.laba_tahun_berjalan.laba_ditahan.total - response.penarikan.total
                this.lists.saldo_laba_ditahan = Number(saldo).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});

                var ekuitas_akhir = Number(response.ekuitas_awal.total)+Number(saldo)
                this.lists.ekuitas_akhir = Number(ekuitas_akhir).toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2});
                setTimeout(() => {
                    window.print()
                }, 100);

            }
        }
    },
    computed: {
        getDateReport(){
            return moment(this.to_date, 'YYYY-MM-DD').endOf('month').locale(this.lang).format('DD MMMM YYYY')
        },
    },
}
</script>
<style lang="scss" scoped>
    .total-td{
        font-weight: bold;
        text-align: right;
        border-top-color: #000000;
        border-top: 2px solid;
    }

    .container{
        color: #000;
        font-family: Arial, Helvetica;
    }
    .letterhead{
        font-size: 10px;
        font-weight: bold;

        .letterhead-body{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            justify-content: left;
            div{
                padding: 15px 10px;
            }
            .company-name{
                padding: 0;
                color: #568ed3;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
    .printer-header{
        font-size: 10px;
        font-weight: bold;
    }
    .logo{
        max-width: 70px;
    }
    .page-print{
        margin-top: 7%;
        width: 650px;
        background: #fff;
        height: auto; //915px

        position: relative;

        .info-document{
            // position: absolute;
            color: rgba(103, 155, 197, 0.473);
            top: 20px;
            right: 15px;
            font-size: 34px;
        }
    }
    .absolute-center{
        position: absolute;
        top: 25%;
    }
    .say-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
    }
    .total-amount{
        border: 0.5px #000 solid;
        height: 50px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .tax-amount{
        border: 0.5px #000 solid;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .table-inform{
        border: #000 solid 0.5px;
        width: 100%;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            font-size: 12px;
            font-family: Helvetica;
        }
    }
    .table-item{
        min-height: 360px;
        width: 100%;
        border: 0.5px solid #000;
        border-collapse: collapse;
        table-layout: fixed;
        border-spacing: 0;
        font-size: 10px;
        thead td{
            border-left: #000 solid 0.5px;
            border-right: #000 solid 0.5px;
            border-bottom: #000 solid 0.5px;
            text-align: center;
            font-weight: 600;
        }
        tbody{
            tr{
                vertical-align: top;
                td{
                    border-left: #000 solid 0.5px;
                    border-right: #000 solid 0.5px;
                }
            }

            tr:not(:last-child) td:first-child {
                height: 10px;
            }
        }
    }
    .box-description{
        border: 0.5px #000 solid;
        font-size: 11px;
        padding: 5px;

        .box-description-title{
            opacity: 0.8;

        }
        .box-description-body{
            font-weight: 600;
            text-transform: uppercase;
        }
    }
    .note-info{
        font-size: 11px;
        color: #000;
        font-weight: 600;
    }
    .line-footer{
        width: 90%;
        background: #145da1;
    }
    .page-footer{
        display: flex;
        justify-content: center;
        .info-footer{
            color: #145da1;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
